div{
	margin: 0;
	padding: 0;
}
.middle{
	width:100%;
	height:860px;
	margin-top:65px;
	background:#F0F0F0;
	padding: 0;
}
.content{
	width:60%;
	height: 100%;
	border:1px solid #f0f0f0;
	left:20%;
}
.content1{
	width: 100%;
	height: 85%;
	margin-top:6%;
	letter-spacing: .5px;
	font-weight: lighter;
	background: #FFFFFF;
	box-shadow: 1px 1px 1px 1px #CCCCCC;
}
.content_title{
	width: 100%;
	height: 16%;
	border:1px solid transparent;
}
.title_name{
	width: 60%;
	height: 80%;
	text-align: center;
	line-height:100px;
}
.title_name p{
	color:#295E6A;
	font-size:1.4em
}
.specific{
	width: 90%;
	height: 70%;
	margin-left: 5%;
	border:1px solid transparent;
}
.specific_content{
	width: 85%;
	height: 100%;
	border:1px solid transparent;
	color:gray;
}
.in_input{
	width: 55%;
	height: 22%;
}
.in_content_left{
	width: 40%;
	height:70%;
	margin-top: 2.5%;
	/*margin-left: 6%;*/
	font-size:0.8em;
	border-radius: 5px;
	border: 1px solid #295E6A;
}
.in_content_right{
	width: 40%;
	height:70%;
	/*margin-left: 6%;*/
	font-size:0.8em;
	margin-top: 2.5%;

	border-radius: 5px;
	border: 1px solid #295E6A;
}
.advice_input{
	width: 55%;
	height: 70%;
	margin-top: 1%;

}
.verification{
	width: 100%;
	height: 50%;
}
#form-control{
	width: 100%;
	height: 80%;
	/*margin-left: 25%;*/
	margin-top: 2.5%;
	font-size:1.1em;
	border-radius: 5px;
	border: 1px solid #295E6A;
}
.submit_advice{
	width: 8%;
	height: 6%;
	background: #295E6A;
	border-radius: 5px;
	border: 1px solid transparent;
}
#submit{
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1em;
	color:white;
	background: none;
	border:none;
}
#warn1,#warn2{
    float:right;
    color:Red;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    margin-right:44%;
    margin-top: 4%;
    display: none;
}


