.item{
    width: 100%;
}
.item>img{
    width:100%;
}
.img_words{
    position:absolute;
    z-index:2;
    left:450px;
    top:100px;
    width: 18%;
    /*background: #000000;*/
    /*opacity: 0.3;*/
}
.img_words>h3{
    z-index:5;
    /*font-family: 幼圆;*/
    font-weight: 100;
    font-size:2em;
    color: white;
}
.words_line{
    width: 50%;
    float: left;
    margin-top: 20px;
    height: 5px;
    background: white;
}
.words_line_3{
    width: 50%;
    float: left;
    margin-top: 50px;
    height: 2px;
    background: white;
}
.middle{
    width:100%;
    height:3000px;
    background:#F0F0F0;
     /*margin:0px;*/
    border:1px solid transparent;
}
.content{
    width:66%;
    height:97%;
    margin-left:17%;
    background:#FFFFFF;
}
.top-content-information{
    margin-top:66px;
    width:100%;
}
.top-content-control-left{
    cursor: url('../imgs/arrow-left-large.svg'),crosshair;
}
.top-content-control-right{
    cursor: url('../imgs/arrow-right-large.svg'),crosshair;
}
.top-name{
    width:100%;
    height:36%;
    background: gray;
    opacity: 0.5;
}
.center_act{
    width: 100%;
    height: 50%;
}
.content-information{
    width:100%;
    height:1.5%;
    margin-top: 0.1%;
}
.decoration{
    width:100%;
    height:100%;
}
.decoration div {
    height: 10px;
}
.main-content{
    width:100%;
    height:83.1%;
    border:1px solid transparent;
}
.main-box{
    width:90%;
    height:13%;
    border:1px solid #FFFFFF;
    margin-top:2%;
}
.box-one-left h2{
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size:2.3em;
    font-family:JosefinSans-Light;
}
small {
    font-size: 50%;
}
.box-one-left{
    width:100%;
    height:13%;
}
.usage{
    width:100%;
    height:100%;
}
.usage_one{
    width:21%;
    height:100%;
    float:left;
    margin-left:3%;
}
.usage_icon{
    width:22%;
    height:16%;
    background-image: url('../imgs/recruit1.png');
    background-size: 100% 100%;
    margin-top:20%;
}
.usage_icon img{
    width: 100%;
    height: 100%;
}
 .usage_icon2{
   width:22%;
    height:16%;
    background-image: url('../imgs/start1.png');
    background-size:100% 100%;
    margin-top:20%;
}
 .usage_icon3{
    width:22%;
    height:16%;
    background-image: url('../imgs/creative.png');
    background-size:100% 100%;
    margin-top:20%;
}
.usage_icon4{
    width:22%;
    height:16%;
    background-image: url('../imgs/team.png');
    background-size:100% 100%;
    margin-top:18%;
}
.usage_details{
    width:100%;
    height:50%;
    border:1px solid #FFFFFF;
    margin-top:5%;
}
.detail-name{
    width:80%;
    height:20%;
    border:1px solid #FFFFFF;
    text-align:center;
}
.detail-name p{
    font-size:1.1em;
    font-family:幼圆;
    color:gray;
}
.detail{
    width:80%;
    height:45%;
    border:1px solid #FFFFFF;
}
.detail p{
    width:100%;
    height:70%;
    margin-top:14%;
    font-size:0.98em;
    font-family:幼圆;
    color:gray;
}
.best_find{
    width: 90%;
    height: 24%;
    margin-top: 2%;
    min-height: 518px;
    /*min-width: 888px;*/
}
.line_one{
    width: 100%;
    background: #e0e0e0;
    margin-bottom: 3%;
    height: 0.3%;
}
.box-two-name{
    display: block;
    width:90%;
    height:13%;

}
.box-two-name h2 {
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 2.3em;
    font-family: JosefinSans-Light;
}
.thumbs-up{
    width: 49.95%;
    height:77%;
    margin-top: 1%;
    float: left;
}
.thumbs-up-1{
    width: 49.95%;
    height:75%;
    /*margin-top: 1%;*/
    float: left;
    overflow: hidden;
}
.middle_line{
    width: 0.1%;
    height: 77%;
    margin-top: 0.5%;
    background: #CCCCCC;
    float: left;
}
.collection{
    width: 49.95%;
    height: 75%;
    float: right;
    overflow: hidden;
}
.collection_1{
   width: 49.95%;
    height:77%;
    margin-top: 1%;
    float: right;
}

.collection_no2{
    width: 100%;
    height:15%;
}
.best_project{
    width: 80%;
    height: 90%;
    margin-top: 2%;
}
.pro{
    width: 80%;
    height: 100%;
}
.pro_left_img{
    width: 100%;
    height:60%;
}
.pro_left_img img{
    width: 100%;
    height:100%;
}
.pro_left_img:hover{
    transform:scale(1.05);
    -ms-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.1);
    -moz-box-shadow: 5px 5px 4px #888888;
    box-shadow: 5px 5px 4px #888888;
    transition: 0.2s ease-out;
}
.pro_right_img{
    width: 20%;
    height:90%;
    float:left;
}
.pro_right_img img{
    width: 100%;
    height: 100%;
}
.pro_right_img:hover{
    transform:scale(1.05);
    -ms-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.1);
    -moz-box-shadow: 5px 5px 4px #888888;
    box-shadow: 5px 5px 4px #888888;
    transition: 0.2s ease-out;
}
.pro_content{
    width: 100%;
    height: 28%;
}
.pro_label{
    width: 100%;
    height:20%;
    margin-top: 4%;
}
.pro_label p{
    display: block;
    min-width: 13%;
    width: auto;
    float:left;
    height: 100%;
    color:gray;
    font-size: 0.8em;
}
.pro_name{
    width: 100%;
    height: 26%;
}
.pro_name p{
    width: 100%;
    height: 100%;
    font-size: 1.2em;
   /* font-family: 幼圆;*/
}
.pro_introduce{
    width: 100%;
    height:39%;
    margin-top: 4%;
}
#txt{
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 21px;
    overflow: hidden;
    font-size: 0.9em;
    color:gray;
}
.pro_line{
    width: 100%;
    height: 0.2%;
    background: #e0e0e0;
}
.pro_best{
    width: 100%;
    height:6%;
    margin-top: 0.5%;
}
.pro_best ul{
    width: 60%;
    height: 100%;
    float: left;
}
.pro_by{
    width: 40%;
    height:100%;
    float: right;
}
.pro_by p{
    width: 68%;
    height:100%;
    float: right;
    color: #8a8a8a;
    font-size: 0.9em;
    overflow: hidden;
}
.pro_best ul li{
    width: 30%;
    height: 100%;
    float: left;
}
.pro_comment{
    width: 40%;
    height: 100%;
    background: url("../imgs/pro_comment.png");
    background-size:100% 100%;
    float: left;
}
.pro-thumbs-up{
    width: 40%;
    height: 100%;
    background: url("../imgs/thumbs-up.png");
    background-size:100% 100%;
    float: left;
}
.pro-collection{
    width: 40%;
    height: 100%;
    background: url("../imgs/collection.png");
    background-size:100% 100%;
    float: left;
}
.comment_num {
    width: 50%;
    height: 100%;
    float: left;
}
.thumbs-up-num{
    width: 50%;
    height: 100%;
    float: left;
}
.collection-num{
    width: 50%;
    height: 100%;
    float: left;
}
.comment_num p{
    width: 100%;
    height: 100%;
    color:#8a8a8a;
    font-size:0.8em;
    text-align: center;
    line-height: 24.66px;
}
.thumbs-up-num p{
    width: 100%;
    height: 100%;
    color:#8a8a8a;
    font-size:0.8em;
    text-align: center;
    line-height: 24.66px;
}
.collection-num p{
    width: 100%;
    height: 100%;
    color:#8a8a8a;
    font-size:0.8em;
    text-align: center;
    line-height: 24.66px;
}
.pro_no2{
    width: 80%;
    height:100%;
    float: right;
}
.pro_no2_name{
    width: 90%;
    height:45%;
    min-width: 214px;
    margin-left: 5%;
}
.pro_no2_label{
    width: 90%;
    height:55%;
}
.pro_no2_ln{
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.pro_no2_ln p{
    display: block;
    min-width:13%;
    margin-right: 3%;
    width: auto;
    float: left;
    line-height: 31.05px;
    font-family: 幼圆;
    font-size: 0.9em;
    color: gray;
}
.pro_no2_user{
    width: 29%;
    float:right;
    line-height: 31.05px;
    /*font-family: 幼圆;*/
}
.pro_no2_user p{
    display: block;
    min-width:13%;
    margin-right: 3%;
    width: auto;
    float: left;
    line-height: 31.05px;
    font-size: 0.9em;
    color: gray;
}
.pro_no3{
    width: 80%;
    height: 10%;
}
.pro_no3:hover{
    border: 1px solid transparent;
}
.pro_no3>p{
    width: 50%;
    margin-left: 10%;
    height: 100%;
    line-height: 38.55px;
    float: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.pro_no3 a:hover{
    color:#295E6A;
}
.pro_no3_label{
    width: 39%;
    height: 100%;
    float: left;
    margin-left: 1%;
    overflow: hidden;
}
.pro_no3_label p{
    display: block;
    min-width: 13%;
    width: auto;
    float: left;
    height: 100%;
    color:gray;
    line-height:38.55px;
    font-size:0.9em;
    font-family: 幼圆;
}
.creation_name{
    width: 80%;
    height: 10%;
}
.creation_name p{
    width: 100%;
    height: 90%;
    text-align: center;
    /*font-family: 幼圆;*/
    font-size:1.2em ;
}
.creation_label{
    width: 50%;
    margin-left: 35%;
    height: 6%;
    overflow: hidden;
}
.creation_label p{
    display: block;
    min-width:13%;
    margin-right: 3%;
    width: auto;
    float: left;
    line-height: 31.05px;
    font-family: 幼圆;
    font-size: 0.9em;
    color: gray;
}
.creation_content{
    width: 70%;
    height: 60%;
    overflow: hidden;
    margin-top: 2%;
}
.creation_content p{
    width: 90%;
    height: 100%;
    line-height: 30px;
    font-family: 幼圆;
    font-size: 0.9em;
    margin-left: 5%;
}
.creation_line{
    width:72%;
    height: 0.3%;
    margin-top: 1%;
    background: #e0e0e0;
}
.pro_best_1{
    width: 70%;
    height:6%;
    margin-top: 0.5%;
}
.pro_best_1 ul{
    width: 60%;
    height: 100%;
    float: left;
}
.pro_best_1 ul li{
    width: 30%;
    height: 100%;
    float: left;
}
.mainbox_two{
    width:90%;
    height:5%;
    margin-top: 3%;
}
.line_thin{
    width: 100%;
    height: 1%;
    background: #e0e0e0;
}
#main-box-two{
    width:85%;
    height:18%;
    border:1px solid transparent;
}
.box-three-left{
    width: 100%;
    height: 30%;
    margin-top: 3%;
}
.box-three-left h2{
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 2.3em;
    font-family: JosefinSans-Light;
}
#three_left{
    width:45%;
    height: 100%;
    border: 1px solid transparent;
    float:left;
    margin-left: 3%;
}
.example{
    width: 80%;
    height: 95%;
    margin-left: 20%;
    background-image: url('../imgs/example.png');
    background-size:100% 100% ;
}
.three_right{
    width:45%;
    height: 100%;
    float:right;
    margin-right: 2%;
}
.example_content{
    width: 70%;
    height: 50%;
    margin-top: 30%;
    margin-right: 22%;
    color:gray;
}
.example_content p{
    margin-top: 3%;
}
.title_content{
    font-size: 1.3em;
    color: #295E6A;
}
.new_add{
    width: 90%;
    height: 13%;
    margin-top: 2%;
    border: 1px solid transparent;
}
.add_left{
    width:70%;
    height: 50%;
    margin-left: 25%;
    margin-top: 23%;
    color:gray;
}
.exam_t{
    width: 45%;
    height: 100%;
    float: right;
    margin-right: 2%;
}
.exam_img{
    width: 280px;
    height: 280px;
    border-radius:180px;
    margin-right: 22%;
    background-image: url('../imgs/example.png');
    background-size: 100% 100%;
    border: 1px solid gray;
}
.add_title{
    font-size: 1.3em;
    color:#295E6A;
}
.add_left p{
    margin-top: 3%;
}
.mainbox_last{
    width:100%;
    height:18%;
    border:1px solid transparent;
    background-image: url("../imgs/bg_middle.png");
    background-size:100% 50%;
}
.dividing_line{
    width: 100%;
    height: 0.25%;
    background: #e0e0e0;
    margin-bottom: 5%;
}
.dividing_middle{
    width: 100%;
    height:90%;
    margin-top: 1%;
    border: 1px solid transparent;
}
.dividing_middle ul{
    width: 100%;
    height: 100%;
}
.dividing_middle ul li{
    width: 25%;
    height: 67%;
    margin-left: 6.25%;
    float:left;
    border:1px solid #295E6A;
    overflow: hidden;
}
.dividing_line2{
    width: 30%;
    height: 0.5%;
    background: #295E6A;
    float: right;
    margin-top: 1%;
}
.mainbox_four{
    width:70%;
    height:7%;
    margin-top:8%;
}
.mainbox_four_left{
    width:100%;
    height:100%;
}
.main_open{
    width:155px;
    height:150px;
}
.open_content{
    width:100%;
    height:100%;
    border-radius:150px;
    background: #ffffff;
    /*border:1px solid gray;*/
    box-shadow: 1px 1px 2px 2px #bdc3c7;
}
#open_arrangement{
    float:left;
}
.open_top{
    width:80%;
    height:38%;
    margin-top:15%;
}
.open_writer{
    width:80%;
    height:80%;
    border:0px solid #FFFFFF;
}
.open_writer h2{
    line-height: 1.2;
    font-weight: lighter;
    letter-spacing: 3px;
    font-size:2.3em;
    font-family:JosefinSans-Light;
}
.open_bottom{
    width:20%;
    height:19%;
    margin-top:40%;
    background-image: url("../imgs/open.png");
    background-size: 100% 100%;
    /*border:1px solid #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}
.open_button{
    width:100%;
    height:100%;
    /*margin-top:%;*/
    font-family:幼圆;
    font-size:1em;
    text-align:center;
    line-height:27px;
}
#gotop{
    display:block;
    width:40px;
    height:45px;
    position:fixed;
    bottom:50px;
    right:40px;
    border-radius:10px 10px 10px 10px;
    text-decoration:none;
    display:none;
    background-image:url('../imgs/top.png');
    background-size:100% 100%;
}
.social-touch a{
    display: inline-block;
    width: 27px;
    height: 26px;
    vertical-align: middle;
    margin: 0 2px;
    background-image: url(../imgs/social-icons.png);
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: 0.3s;
}
.social-touch a:hover{
    opacity: 1;
    transition: 0.3s;
}
.fb-touch{
    background-position: 0 0;
}
.tweet-touch{
    background-position: -35px 0;
}
.linkedin-touch{
    background-position: -71px 0;
}
.icon-colored .fb-touch{
    background-position: 0 -27px;
}
.icon-colored .tweet-touch{
    background-position: -35px -27px;
}
.icon-colored .linkedin-touch{
    background-position: -71px -27px;
}
.effect-2{
    max-height: 302px;
    min-height: 302px;
    overflow: hidden;
}
.effect-2 h3{
    padding-top: 7px;
    line-height: 33px;
}
.effect-2 .member-image{
    border-bottom: 5px solid #1fb554;
    height: 197px;
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    display: inline-block;
    float: none;
    vertical-align: middle;
}
.effect-2 .member-info{
    transition: 0.4s;
}
.effect-2 .member-image img{
    width: 100%;
    vertical-align: bottom;
}
.effect-2 .social-touch{
    background-color: #1fb554;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
    transition: 0.4s;
}
.effect-2:hover .member-image{
    height: 81px;
    transition: 0.4s;
}



/*.effect-4{
    max-height: 289px;
    min-height: 289px;
    overflow: hidden;
}
.effect-4 h3{
    line-height: 35px;
}
.effect-4 .member-images{
    position: absolute;
    width: 14%;
    transition: 0.4s;
    border: 1px solid transparent;
}
.effect-4 .member-images img{
    width: 100%;
    height: 100%;
}
.effect-4 .more-info{
    height: 0;
    transition: 0.4s;
    overflow: hidden;
    z-index: 9;
    position: relative;
    background-color: #fff;
}
.effect-4:hover .more-info{
    height: 208px;
    transition: 0.4s;
}
*/