

	.middle{
		width:100%;
		height:2500px;
		margin-top:65px;
        background:#F0F0F0;
         /*margin:0px;*/
	}
	.content{
	    width:70%;
	    height:100%;
	    margin-left:15%;
	    background:#FFFFFF;
	}
	.top-content{
	    width:100%;
	    height:20%;
        background: url('../imgs/background.jpg');
        background-size:100% 100% ;
        opacity: 0.9;
	}
	.top-content-information{
	    width:100%;
	    height:100%;
        border:1px solid #FFFFFF;
        text-align:center;
	}
	.top-name{
	    width:100%;
	    height:36%;
	    margin-top:11%;
        background: #9CCAC6;
        opacity: 0.5;
	}
	.top-name p{
	    width:100%;
	    height:27px;
	    color:#7A8B8B;
	    text-shadow: 0 1px 1px #123;
	}
	.content-information{
	    width:100%;
	    height:65.5%;
	}
	.introduce{
	    width:100%;
        height:38%;
	}
	.introduce p{
	    font-family:STLiti;
	    font-size:1.2em;
	    color:#C1CDC1;
	}
    .decoration{
        width:100%;
        height:16%;
        /*margin-top:9.5%;*/
    }
    .decoration div {
        height: 10px;
    }
	.main-content{
	    width:100%;
	    height:79.9%;
        border:1px solid #FFFFFF;
        box-shadow:0px 1px 5px 1px #ccc;
	}
    .main-box{
        width:90%;
        height:20%;
        border:1px solid #FFFFFF;
        margin-top:2%;
    }
     .box-one-left h2{
		line-height: 1;
		font-weight: lighter;
		letter-spacing: 3px;
		font-size:2.3em;
		font-family:JosefinSans-Light;
	}
	small {
		font-size: 50%;
	}
    .box-one-left{
        width:100%;
        height:12%;
    }
    .usage{
        width:100%;
    height:80%;
    }
    .usage_one{
        width:21%;
        height:100%;
        float:left;
        margin-left:3%;
    }
	.usage_icon{
        width:25%;
        height:13%;
        background-image: url('../imgs/recruit.png');
        background-size:100% 100%;
        margin-top:20%;
    }
	 .usage_icon2{
       width:25%;
        height:13%;
        background-image: url('../imgs/start.png');
        background-size:100% 100%;
        margin-top:20%;
    }
     .usage_icon3{
        width:25%;
        height:13%;
        background-image: url('../imgs/creative.png');
        background-size:100% 100%;
        margin-top:20%;
    }
    .usage_icon4{
        width:25%;
        height:15%;
        background-image: url('../imgs/team.png');
        background-size:100% 100%;
        margin-top:18%;
    }
     .usage_details{
        width:100%;
        height:50%;
        border:1px solid #FFFFFF;
        margin-top:5%;
    }
    .detail-name{
        width:80%;
        height:20%;
        border:1px solid #FFFFFF;
        text-align:center;
    }
    .detail-name p{
       font-size:1.1em;
        font-family:幼圆;
        color:#045757;
    }
    .detail{
        width:80%;
        height:45%;
        border:1px solid #FFFFFF;
    }
    .detail p{
        width:100%;
        height:70%;
        margin-top:14%;
        font-size:0.98em;
        font-family:幼圆;
        color:gray;
    }
    .mainbox_two{
        width:100%;
        height:12%;
        background-image:url('../imgs/figure.png');
        background-size:100% 100%;
    }
    #main-box-two{
        width:85%;
        height:20%;
        margin-top:3%;
        border:0px solid #ccc;
    }
    .dividing_line{
        width: 30%;
        height: 0.5%;
        background: #295E6A;
        float: left;
    }
    .dividing_middle{
        width: 100%;
        height:100%;
    }
    .dividing_line2{
        width: 30%;
        height: 0.5%;
        background: #295E6A;
        float: right;
    }
    .mainbox_four{
        width:90%;
        height:15%;
        margin-top:3%;
    }
    .mainbox_four_left{
        width:50%;
        height:100%;
        float:left;
    }
    .mainbox_four_right{
        width:49%;
        height:100%;
        float:right;
        border:0px solid #FFFFFF;
    }
    .mainbox_forward{
        width:70%;
        height:40%;
        margin-top:22%;
    }
    #picture{
        width:6.5%;
        height:25%;
        float:left;
        margin-left:5%;
        margin-top:10%;
    }
    .picture-1{
        background-image:url('../imgs/facebook.png');
        background-size:100% 100%;
    }
    .picture-2{
        background-image:url('../imgs/microblogging.png');
        background-size:100% 100%;
    }
    .picture-3{
        background-image:url('../imgs/micro .png');
        background-size:100% 100%;
    }
    .main_open{
        width:80%;
        height:100%;
    }
    .open_content{
        width:80%;
        height:145%;
        background: #ffffff;
        border:0px solid #FFFFFF;
        box-shadow: 1px 1px 2px 2px #bdc3c7;
    }
    #open_arrangement{
        float:left;
    }
    .open_top{
        width:100%;
        height:40%;
        margin-top:4%;
    }
    .open_writer{
        width:80%;
        height:80%;
        border:0px solid #FFFFFF;
    }
    .open_writer h2{
        line-height: 1.2;
		font-weight: lighter;
		letter-spacing: 3px;
		font-size:2.3em;
		font-family:JosefinSans-Light;
    }
    .open_bottom{
        width:20%;
        height:6%;
        margin-top:5%;
        border:1px solid #000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .open_button{
        width:100%;
        height:100%;
        /*margin-top:%;*/
        font-family:幼圆;
        font-size:1em;
        text-align:center;
        line-height:27px;
    }
    #gotop{
        display:block;
        width:40px;
        height:45px;
        position:fixed;
        bottom:50px;
        right:40px;
        border-radius:10px 10px 10px 10px;
        text-decoration:none;
        display:none;
        background-image:url('../imgs/top.png');
        background-size:100% 100%;
    }
/** {
  box-sizing: border-box;
}

body {
  background-color: #fee1e1;
}

.wrapper {
  position: absolute;
  margin: -171px 0 0 -327.5px;
  left: 50%;
  top: 50%;
  height: 342px;
  width: 655px;
}

.card {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/2017_bg.png);
  background-size: cover;
  width: 655px;
  height: 342px;
  border-radius: 5px;
  position: absolute;
  box-shadow: -20px 30px 116px 0 rgba(92, 15, 15, 0.54);
  overflow: hidden;
  z-index: 4;
}
.card__orangeShine, .card__greenShine {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__orangeShine {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/orange_shine.png);
  right: -150px;
  top: -90px;
  bottom: 50px;
  z-index: 2;
  width: 570px;
  height: 500px;
}
.card__greenShine {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/279756/green_shine.png);
  left: 20%;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 400px;
}
.card__year {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #fff;
  font-size: 110px;
  line-height: 110px;
  padding: 55px 0;
  font-weight: 100;
  position: relative;
  z-index: 2;
}
.card__thankyou {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  text-transform: uppercase;
  font-weight: 100;
  left: 33%;
  bottom: 20%;
  z-index: 2;
  color: #fff;
  letter-spacing: 5px;
  line-height: 17px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.card__circle, .card__smallCircle {
  position: absolute;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(329deg, #3B4576 0%, #242A48 59%);
  background-image: linear-gradient(-239deg, #3B4576 0%, #242A48 59%);
  box-shadow: -10px -15px 90px 0 #191C41;
  z-index: 2;
}
.card__circle {
  right: 68px;
  bottom: 34px;
  width: 230px;
  height: 230px;
}
.card__smallCircle {
  right: 40%;
  top: -7%;
  width: 50px;
  height: 50px;
}
.card__outer-year {
  font-family: 'Orbitron';
}
.card__outer-year span {
  position: absolute;
  color: #fff;
  font-size: 16px;
  z-index: 4;
}
.card__outer-year span:nth-child(1):after, .card__outer-year span:nth-child(4):after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.card__outer-year span:nth-child(1) {
  top: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(2) {
  left: none;
  top: 35px;
  right: 35px;
}
.card__outer-year span:nth-child(3) {
  top: none;
  bottom: 35px;
  left: 35px;
}
.card__outer-year span:nth-child(4) {
  top: none;
  left: none;
  right: 35px;
  bottom: 35px;
}
.card__comet {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
}
.card__cometOuter {
  position: absolute;
  top: 30%;
  left: 25%;
}
.card__comet--second {
  right: -30px;
  top: -15px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.card__comet:before, .card__comet:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 27%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 27%, rgba(255, 255, 255, 0) 100%);
  border-radius: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.card__comet:before {
  width: 18px;
  height: 70px;
  -webkit-transform-origin: -2px 13px;
          transform-origin: -2px 13px;
}
.card__comet:after {
  width: 12px;
  height: 80px;
  -webkit-transform-origin: 0px 8px;
          transform-origin: 0px 8px;
}

.source {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  opacity: 0.5;
  font-size: 12px;
}
.source a {
  color: #000;
}*/

