

	.middle{
		width:100%;
		height:3000px;
		margin-top:65px;
        background:#F0F0F0;
         /*margin:0px;*/
        border:1px solid transparent;
	}
	.content{
	    width:66%;
	    height:97%;
        /*margin-top: 45px;*/
	    margin-left:17%;
	    background:#FFFFFF;
	}
	.top-content{
	    width:100%;
	    height:1.7%;
	}
	.top-content-information{
	    width:99.9%;
	    height:450px;
        border:1px solid transparent;
        /*background-image:url('../imgs/background.png');*/
        background-size:100% 100%;
	}
	.top-name{
	    width:100%;
	    height:36%;
	    margin-top:11%;
        /*background: #9CCAC6;*/
        background: gray;
        opacity: 0.5;
        border: 1px solid transparent;
	}
    .center_act{
        width: 100%;
        height: 50%;
        border: 1px solid transparent;
        margin-top: 4%;
    }
    #slogan {
        text-align: center;
        font-size: 36px;
        /*margin-top: 20%;*/
        color:black;
        font-family: 幼圆;
        font-size: 2em;
        line-height: 1.5;
    }
    #slogan span {
        color: #ff0
    }
    #slogan span.selected {
        background: #09f;
        color: #fff;
    }
	.content-information{
	    width:100%;
	    height:10%;
        margin-top: 0.1%;
	}
    .decoration{
        width:100%;
        height:100%;
    }
    .decoration div {
        height: 10px;
    }
	.main-content{
	    width:100%;
	    height:83.1%;
        border:1px solid transparent;
        /*box-shadow:0px 1px 5px 1px #ccc;*/
	}
    .main-box{
        width:90%;
        height:13%;
        border:1px solid #FFFFFF;
        margin-top:2%;
    }
    .box-one-left h2{
        line-height: 1;
        font-weight: lighter;
        letter-spacing: 3px;
        font-size:2.3em;
        font-family:JosefinSans-Light;
	}
	small {
		font-size: 50%;
	}
    .box-one-left{
        width:100%;
        height:12%;
    }
    .usage{
        width:100%;
        height:100%;
    }
    .usage_one{
        width:21%;
        height:100%;
        float:left;
        margin-left:3%;
    }
	.usage_icon{
        width:22%;
        height:16%;
        background-image: url('../imgs/recruit.png');
        background-size:100% 100%;
        margin-top:20%;
    }
	 .usage_icon2{
       width:22%;
        height:16%;
        background-image: url('../imgs/start.png');
        background-size:100% 100%;
        margin-top:20%;
    }
     .usage_icon3{
        width:22%;
        height:16%;
        background-image: url('../imgs/creative.png');
        background-size:100% 100%;
        margin-top:20%;
    }
    .usage_icon4{
        width:22%;
        height:16%;
        background-image: url('../imgs/team.png');
        background-size:100% 100%;
        margin-top:18%;
    }
    .usage_details{
        width:100%;
        height:50%;
        border:1px solid #FFFFFF;
        margin-top:5%;
    }
    .detail-name{
        width:80%;
        height:20%;
        border:1px solid #FFFFFF;
        text-align:center;
    }
    .detail-name p{
        font-size:1.1em;
        font-family:幼圆;
        color:gray;
    }
    .detail{
        width:80%;
        height:45%;
        border:1px solid #FFFFFF;
    }
    .detail p{
        width:100%;
        height:70%;
        margin-top:14%;
        font-size:0.98em;
        font-family:幼圆;
        color:gray;
    }
    .mainbox_two{
        width:90%;
        height:5%;
        margin-top: 2%;
    }
    .line_one{
        width: 100%;
        height: 0.7%;
        background: #e0e0e0;
        float: left;
        margin-bottom: 3%;
    }
    #main-box-two{
        width:85%;
        height:18%;
        /*margin-top:4%;*/
        border:1px solid transparent;
    }

    #three_left{
        width:45%;
        height: 100%;
        border: 1px solid transparent;
        float:left;
        margin-left: 3%;
    }
    .example{
        width: 80%;
        height: 95%;
        margin-left: 20%;
        background-image: url('../imgs/example.png');
        background-size:100% 100% ;
    }
    .three_right{
        width:45%;
        height: 100%;
        float:right;
        margin-right: 2%;
    }
    .example_content{
        width: 70%;
        height: 50%;
        margin-top: 30%;
        margin-right: 22%;
        color:gray;
    }
    .example_content p{
        margin-top: 3%;
    }
    .title_content{
        font-size: 1.3em;
        color: #295E6A;
    }
    .new_add{
        width: 90%;
        height: 15%;
        margin-top: 2%;
        border: 1px solid transparent;
    }
    .add_left{
        width:70%;
        height: 50%;
        margin-left: 25%;
        margin-top: 23%;
        color:gray;
    }
    .exam_t{
        width: 45%;
        height: 100%;
        float: right;
        margin-right: 2%;
    }
    .exam_img{
        width: 70%;
        height: 95%;
        border-radius:180px;
        margin-right: 22%;
        background-image: url('../imgs/example.png');
        background-size: 100% 100%;
        border: 1px solid gray;
    }
    .add_title{
        font-size: 1.3em;
        color:#295E6A;
    }
    .add_left p{
        margin-top: 3%;
    }
    .dividing_line{
        width: 100%;
        height: 0.25%;
        background: #e0e0e0;
        margin-bottom: 5%;

    }
    .dividing_middle{
        width: 100%;
        height:90%;
        margin-top: 1%;
        border: 1px solid transparent;
    }
    .dividing_middle ul{
        width: 100%;
        height: 100%;
    }
    .dividing_middle ul li{
        width: 25%;
        height: 100%;
        margin-left: 6.25%;
        float:left;
        border:1px solid #295E6A;
    }
    .dividing_line2{
        width: 30%;
        height: 0.5%;
        background: #295E6A;
        float: right;
        margin-top: 1%;
    }

    .mainbox_four{
        width:90%;
        height:7%;
        margin-top:8%;
    }
    .mainbox_four_left{
        width:40%;
        height:100%;
        float:left;
    }
    .mainbox_four_right{
        width:60%;
        height:100%;
        float:right;
        border:0px solid #FFFFFF;
    }
    .mainbox_forward{
        width:100%;
        height:1%;
        margin-top:10%;
        background: #e0e0e0;
    }
    .main_open{
        width:100%;
        height:100%;
    }
    .open_content{
        width:100%;
        height:118%;
        background: #ffffff;
        border:0px solid #FFFFFF;
        box-shadow: 1px 1px 2px 2px #bdc3c7;
    }
    #open_arrangement{
        float:left;
    }
    .open_top{
        width:100%;
        height:40%;
        margin-top:4%;
    }
    .open_writer{
        width:80%;
        height:80%;
        border:0px solid #FFFFFF;
    }
    .open_writer h2{
        line-height: 1.2;
        font-weight: lighter;
        letter-spacing: 3px;
        font-size:2.3em;
        font-family:JosefinSans-Light;
    }
    .open_bottom{
        width:20%;
        height:14%;
        margin-top:5%;
        border:1px solid #000;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .open_button{
        width:100%;
        height:100%;
        /*margin-top:%;*/
        font-family:幼圆;
        font-size:1em;
        text-align:center;
        line-height:27px;
    }
    #gotop{
        display:block;
        width:40px;
        height:45px;
        position:fixed;
        bottom:50px;
        right:40px;
        border-radius:10px 10px 10px 10px;
        text-decoration:none;
        display:none;
        background-image:url('../imgs/top.png');
        background-size:100% 100%;
    }

