h5{
    text-align: center;
    margin-top: 5%;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.pm_border1{
    margin-top: 2%;
}
.pm_border1>ul li a {
    cursor:pointer;
    color:gray;
}
.pm_border1>ul li a:hover{
    color: black;
}
.pm_border,.pm_border0{
    height: 280px;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    border-radius: 8px;
    box-shadow: 8px 8px 5px #d3e0e2;
}
.pm_border{
    background-color:rgba(255, 255, 255, 1);
}
.pm_border0{
    background-color: rgba(211, 211, 211, 0.2);
    color:gray;
    cursor:pointer;
}
.pm_border:hover{
    box-shadow: 6px 6px 5px 0 rgba(200, 200, 200, 0.8);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.pm_border0:hover{
    background-color: rgba(211, 211, 211, 0.3);
    color: black;
}

.pm_border2{
    margin-left: 3%;
    padding: 0;
    border: none;

}
.pm_time{
    margin-top: 5%;
    margin-left: 7%;
    text-align: center;
}
.pm_details{
    font-size: 10px;
    margin-top: 9%;
    margin-left: 10%;
}
.pm_button{
    margin-top: -6%;
}
.pm_other{
    margin-top: -1%;
}
.photo_1{
    width: 100%;
    height: 100%;
    display:block;
    padding: 0;
}
.glyphicon{
    font-size: 155px;
    color: white;
    margin-left: auto;
}
.fa-plus{
    font-size: 80px;
    color: rgba(211, 211, 211, 1);
    margin-top: 50%;
    margin-left: 37%;
}
.addsty{
    color: black !important;
}
.pop{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.pop .popMain{ width: 600px; min-height: 300px; background: #fff; position: absolute; left: 50%; top: 30%; margin-left: -300px;}
.popMiddle p{ text-align: center; font-size: 18px; color: #666; padding: 90px 0;}
.pop .popBottom{ position: absolute; bottom: 0; left: 0; display: flex; width: 100%; height: 80px; text-align: center; background: #488ACC;}
.pop .popBottom span{ flex: 1; text-align: center; font-size: 24px; color: #fff; line-height: 80px; cursor: pointer;}
.pop .popBottom span:first-of-type{ border-right: 1px solid #fff;}