/*.proColumn{*/
    /*color: black !important;*/
/*}*/
.proAllFollows{
    width: 100%;
    min-height: 400px;
    height: auto;
    display: inline-block;
    margin-bottom: 55px;
}

.loadMore{
    width: 80px;
    height: 80px;
    border:1px solid black;
    border-radius: 80px;
    display:block;
    cursor: pointer;
}
.loadMore>p{
    line-height: 80px;
    text-align: center;
}
.mainContentPro{
    display:none;
}