{% extends 'idea/Base.html'%}
{%block title%}
    <title>常驻团队</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="../../static/team/css/team.css">
{%endblock%}
{%block content%}
    <div class="first">
        <div class="second">
            <div>
                <div class="line_0"></div>
                <div class="border_0">
                    <div class="photo_0"></div>
                    <div class="intro_0">简介：
                        <div class="content_0">
                        </div>
                    </div>
                    <div class="more_0">
                        <a href="/">
                            <u>点击查看更多...
                            </u>
                        </a>
                    </div>
                </div>
                <div class="referral">
                    <p class="referral_0">团队名称：</p>
                    <p class="referral_0">团队标签：</p>
                    <p class="referral_0">所属学院：</p>
                </div>
            </div>
            <div>
                <div class="line_1"></div>
                <div class="border_1">
                    <div class="photo_1"></div>
                    <div class="intro_1">简介：
                        <div class="content_1">
                        </div>
                    </div>
                    <div class="more_1">
                        <a href="/">
                            <u>点击查看更多...
                            </u>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="landscape"></div>
        <div class="filter"></div>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}
{%block script%}
    <script src="../../static/team/js/teambg.js" type="text/javascript"></script>
{%endblock%}
