{%extends 'idea/Base.html'%}
{%block title%}
   <title>团队详情</title>
{%endblock%}
{%block CSS%}
<link rel="stylesheet" href="../../static/team/css/teamdetails.css">
{%endblock%}
{%block content%}
<div class="teamdetail">
    <div class="teamdetaillandscape"></div>
    <div class="teamdetailfilter"></div>
    <div class="teamdetailsynopsis">
        <div class="teamdetailsynopsis1-1"><strong>团队简介：</strong></div>
        <div class="teamdetailsynopsis1-2">所属学院：</div>
        <div class="teamdetailsynopsis1-3">团队名称：</div>
        <div class="teamdetailsynopsis1-4">联系方式：</div>
        <div class="teamdetailsynopsis1-5">团队标签：</div>
        <div class="teamdetailsynopsis1-6">团队分数：</div>
    </div>
    <div class="details">
        <div class="details1-1"><strong>团队详情：</strong></div>
        <div class="details1-2">
            <textarea name="details" class="details1-3"></textarea>
            <input type="button" value="申请帮助" class="details1-4" id="petitionhelp">
        </div>
    </div>
    <canvas id="canvas"></canvas>
</div>
{% endblock %}
{%block script%}
    <script type="text/javascript" src="../../static/team/js/teambg.js"></script>
{% endblock %}