{%extends 'idea/Base.html'%}
{% load static %}
{%block title%}
   <title>团队详情</title>
{%endblock%}
{%block CSS%}
<link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'idea/css/sweet-alert.css' %}">
<link rel="stylesheet" href="{% static 'team/css/teamdetails.css'%}">
{%endblock%}
{% load commentshow %}
{%block content%}
<div class="teamdetail">
    <div style="width: 100%;height:350px;margin-top: 30px;">
        <div class="details">
            <div class="detailspicture">
                <img src="{% static 'team/imgs/team.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
            </div>
            <div class="detailspicture1-1">
                <div class="detailspicture1-2">
                    {{ team.UserName }}
                </div>
                <div class="detailspicture1-3">
                    我们做的是技术，追求质量与品质.
                </div>
            </div>
            <div style="width: 100%;height: 50px;clear: both;">
                <div class="praise1-2 praise11-2" id="comment11-2">
                    <span id="praise11-2" class="praise11-2"><img src="{% static 'team/imgs/评论图标.png' %}" id="praise-img11-2" /> </span>
                    <span id="praise-txt11-2" class="praise-txt11-2">评论</span>
                </div>
                <div class="praise11-1 praise1-1" team="{{ team.Id }}">
                     <span id="praise11-1" class="praise11-1"><img src="{% static 'team/imgs/心形.png' %}" id="praise-img11-1" /> </span>
                     <span id="praise-txt11-1" class="praise-txt11-1">{{ counnt }}</span>
                     <span id="add-num11-1" class="add-num11-1"><em>+1</em></span>
                </div>
                <div class="praise11 praise1" team="{{ team.Id }}">
                     <span id="praise11" class="praise11"><img src="{% static 'team/imgs/点赞.png' %}" id="praise-img11" /> </span>
                     <span id="praise-txt11" class="praise-txt11">{{ team.Follow_User_set.count }}</span>
                     <span id="add-num11" class="add-num11"><em>+1</em></span>
                </div>
                <div class="teamdetailadddiv">
                    <input type="button" value="申请帮助" class="btn btn-info btn-xs" id="petitionhelp">
                </div>
            </div>
        </div>
        <div class="teamspeak">
            <div class="teamdetailsynopsis1-2">
                <span class="register1-3">所属学院：</span>
                {{ team.UserName}}
            </div>
            <div class="teamdetailsynopsis1-4">
                <span class="register1-3">注册时间：</span>
                {{ team.RegistTime }}
            </div>
            <div class="teamdetailsynopsis1-7">
                <span class="register1-3">团队分数：</span>
                {{ team.Score }}
            </div>
            <div class="teamdetailsynopsis1-6">
                <span class="register1-2">用户邮箱：</span>
                 {{ team.Email }}
            </div>
        </div>
        <div class="teamlable">
            <div class="teamlable1-1">团队标签</div>
            <div class="teamlable1-2"></div>
            <div class="teamlable1-3">
                {% for label in labels %}
                    <span class="teamlable1-4" id="teamlable1-4" onclick="Myfunction()"><a href="#" class="hovera" style="text-decoration: none;color: rgba(54, 54 ,54,0.5)">{{ label.userLabel.Name }}</a></span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="historys">
        <div class="historys1-1">
             项目历史
        </div>
        <div style="width: 100%;height: auto;">
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                         项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                        <span class="project_middle_icon-1"></span>
                        <span class="project_middle_text">互联网</span>
                    </span>
                    <span class="spanwidth">
                        <span class="project_middle_icon-2"></span>
                        <span class="project_middle_text">大数据</span>
                    </span>
                    <span class="spanwidth">
                        <span class="project_middle_icon-3"></span>
                        <span class="project_middle_text">互联网</span>
                    </span>
                    <span class="spanwidth">
                        <span class="project_middle_icon-1"></span>
                        <span class="project_middle_text">数据结构</span>
                    </span>
                    <span class="spanwidth">
                        <span class="project_middle_icon-1"></span>
                        <span class="project_middle_text">js</span>
                    </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                         项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-2"></span>
                            <span class="project_middle_text">大数据</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-3"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">数据结构</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">js</span>
                        </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                        项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-2"></span>
                            <span class="project_middle_text">大数据</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-3"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">数据结构</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">js</span>
                        </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                         项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-2"></span>
                            <span class="project_middle_text">大数据</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-3"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">数据结构</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">js</span>
                        </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                        项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-2"></span>
                            <span class="project_middle_text">大数据</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-3"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">数据结构</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">js</span>
                        </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
            <div class="historys1-2">
                <div class="historys1-3">
                    <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="width: 100%;height: 100%;border-radius: 14px;">
                </div>
                <div class="historys1-4">
                    <div class="historys1-5">
                         项目名称某某某
                    </div>
                    <div class="historys1-6">
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-2"></span>
                            <span class="project_middle_text">大数据</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-3"></span>
                            <span class="project_middle_text">互联网</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">数据结构</span>
                        </span>
                        <span class="spanwidth">
                            <span class="project_middle_icon-1"></span>
                            <span class="project_middle_text">js</span>
                        </span>
                    </div>
                </div>
                <div class="historys1-7">
                    这个项目是朝某某方向发展，我们项目有某某特色有某某前景等等特点
                </div>
            </div>
        </div>
    </div>

    <div class="comments">
        <div class="content-footer">
            <div class="comment">
                <div style="width: 100%;height: 100px;"></div>
                <div class="comment1-1">评论专区</div>
                <div class="comment1-2"></div>
                <div class="ctop">
                    <img class="u-img" src="{% static 'project/imgs/user.svg' %}">
                    <div class="carea">
                        <div class="tocomment">
                            <textarea placeholder="评论..." name="" id="contectnumber1" class="comment-text"></textarea>
                        </div>
                        <button class="putcomment" id="putcommentbutton">评论</button>
                    </div>
                </div>

                {% for commentlist in comments%}
                <div class="c-all1" name="c-all">
                    <div class="cmain">
                        <img class="c-img"  src="{% static 'project/imgs/user.svg'%}">
{#                                  可以加hover点上变成网站logo#}
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href=" ">{{commentlist|firstcomment}}</a></h6>
                                <span class="cdate">{{commentlist|firstcommenttime|date:"Y/m/d"}}</span>
                                <div class="c-option">
                                    <img class="clike" id="rdclike1"  src="{% static 'project/imgs/like1.svg'%}"><span class="clikenum">1111</span>
                                    <img class="creply" id="rdcreply1"  src="{% static 'project/imgs/reply.svg'%}">
                                    <img class="creport" id="rdcreport1"  src="{% static 'creation/imgs/report.png'%}">
                                </div>
                            </div>
                            <div class="comment-content">
                                <p>{{commentlist|firstcommentcontent}}</p>
                            </div>
                            <div class="commentreply" id="commentreply">
                                <textarea placeholder="" name=""  class="commentreply-text"></textarea>
                                <button class="putcomment" id="putcomments" >回复</button>
                            </div>
                        </div>
                    </div>

                    {%for comment in commentlist|leftcomment%}
                    <div class="c-reply">
                        <img class="rc-img"  src="{% static 'project/imgs/user.svg'%}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">{{comment.user.UserName}}</a>  回复</h6>
                                <span class="rcdate">{{comment.Date|date:"Y/m/d"}}</span>
                                <div class="r-option">
                                    <img class="rclike"  id="rdclike2" src="{% static 'project/imgs/like1.svg'%}"><span class="rclikenum">1111</span>
                                    <img class="rcreply" id="rcreply2"  src="{% static 'project/imgs/reply.svg'%}">
                                    <img class="rcreport" id="rcreport2" src="{% static 'creation/imgs/report.png'%}">
                                </div>
                            </div>
                            <div class="rcomment-content">
                                <p>{{comment.Content}}</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                {%endfor%}
            </div>

        </div>
    </div>
    <div style="width: 100%;height: 30px;"></div>
</div>
{% endblock %}
{%block script%}
    <script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'idea/js/sweet-alert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'team/js/teamdetails.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $("#praise11").on("click",function () {
            var praise_img = $("#praise-img11");
            var text_box = $("#add-num11");
            var praise_txt = $("#praise-txt11");
            var num=parseInt(praise_txt.text());
{#			alert("11111")#}
            if(praise_img.attr("src") === ("{% static 'team/imgs/yizan.png' %}")){
                $(this).html("<img src='{% static 'team/imgs/点赞.png' %}' id='praise-img11' class='animation' />");
                praise_txt.removeClass("hover");
                text_box.show().html("<em class='add-animation'>-1</em>");
                $(".add-animation").removeClass("hover");
                num -=1;
                praise_txt.text(num)
            }else{
                $(this).html("<img src='{% static 'team/imgs/yizan.png' %}' id='praise-img11' class='animation' />");
                praise_txt.addClass("hover");
                text_box.show().html("<em class='add-animation'>+1</em>");
                $(".add-animation").addClass("hover");
                num +=1;
                praise_txt.text(num)
            }
        });
	});
     $(function(){
        $("#praise11-1").on("click",function () {
            var praise_img1 = $("#praise-img11-1");
            var text_box1 = $("#add-num11-1");
            var praise_txt1 = $("#praise-txt11-1");
            var num1=parseInt(praise_txt1.text());
                if(praise_img1.attr("src") === ("{% static 'team/imgs/心形实心.png' %}")){
                $(this).html("<img src='{% static 'team/imgs/心形.png' %}' id='praise-img11-1' class='animation' />");
                praise_txt1.removeClass("hover");
                text_box1.show().html("<em class='add-animation'>-1</em>");
                $(".add-animation").removeClass("hover");
                num1 -=1;
                praise_txt1.text(num1)
            }else{
                $(this).html("<img src='{% static 'team/imgs/心形实心.png' %}' id='praise-img11-1' class='animation' />");
                praise_txt1.addClass("hover");
                text_box1.show().html("<em class='add-animation'>+1</em>");
                $(".add-animation").addClass("hover");
                num1 +=1;
                praise_txt1.text(num1)
            }
        });
	})
</script>
{% endblock %}