{% extends 'idea/Base.html'%}
{%block title%}
    <title>常驻团队</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="../../static/team/css/team.css">
{%endblock%}
{%block content%}
    <div class="first">
        <div style="height: 10px;width: 100px"></div>
        <div class="landscape"></div>
        <div class="filter"></div>
        <canvas id="canvas"></canvas>
    </div>
{% endblock %}
{%block script%}
    <script src="../../static/team/js/teambg.js" type="text/javascript"></script>
{%endblock%}
