{% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>常驻团队</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'team/css/team.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
{%endblock%}
{%block content%}
    <div style="width: 100%">
        <div class="teamShow">
            <div class="thisLeft container">
                {% for team in teams %}
                    <div class="border_0 row" style="margin-left: 68px;margin-right: 1px">
                        <div class="row">
                            <div class="photo_0 col-xs-6 col-md-3 " onclick="window.open('teamdetails/{{ team.Id }}')">
                                <img src="/static/photos/{{ team.Img }}" style=" width: 100% ;height: 100%;border-radius: 6px;"  onerror="this.src='../../static/team/imgs/logo.jpg'" alt="">
                            </div>
                            <div class="referral col-xs-12 col-md-8">
                                <h3 onclick="window.open('teamdetails/{{ team.Id }}')">{{ team.UserName }}</h3>
                                <p >入驻时间：{{ team.RegistTime }}</p>
                            </div>
                        </div>
                        <div class="row" style="height: 50%">
                            <div class="leftMatter">
                                <a>团队标签：</a>
                                {% for User2 in User2UserLabel  %}
                                        {% if User2.user.Id == team.Id %}
                                            <span class="repo-language-color pinned-repo-meta" id="manyColor" ></span>
                                            <a style=" font-size: 14px;color: #7A8B8B;">{{ User2.userLabel.Name}}</a>
                                        {% endif %}
                                {% endfor %}
                            </div>

                            <div class="content_0 lead row" onclick="window.open('teamdetails/{{ team.Id }}')" style="margin-left: 43px">
                                {{ team.Introduction }}
                            </div>
                        </div>
                        <div class="feature row" >
                            <button class="applyHelp btn btn-primary" id="applyHelp" >申请帮助
                                <input type="text" value="{{ team.Id }}" style="display: none">
                            </button>
                            <div class="praise" >
                                <span class="praise_0" team="{{ team.Id }}"><img src="../../static/team/imgs/zan.png" name="praise_img" /> </span>
                                 {% for praise in praises %}
                                    {% if praise.user_id == userId and praise.user_prised_id == user.Id %}
                                        <img src="../../static/team/imgs/yizan.png" name="praise_img" />
                                    {% endif %}
                                {% endfor %}
                                <span class="praise-txt">{{ team.Praised_User_set.count }}</span>
                                <span class="add-num"><em>+1</em></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <a class="more_0">加载更多</a>
                <div class="clear"></div>
            </div>
            <div class="thisRight row" id="broadSide" style="margin-left: 1140px">
                <div class="intro_1 ">
                    <img src="{% static 'creation/imgs/light.png' %}"
                             style="width:40px;height:40px;margin:-20px 0px 26px -10px">
                    <img src="{% static '/idea/imgs/idea_logo.png' %}" style="width:40px;height:40px;margin:0">
    {#                <span>Team</span>#}
                    <p> 创意是传统的叛逆，是打破常规的哲学，是思维碰撞，智慧对接，是具有新颖性和创造性的想法。来这里寻找和发布属于你的创意灵感！</p>
                </div>
                <div class="classify">
                    <div class="tag">
                        <img src="{% static '/creation/imgs/tag.png' %}" style="width:20px;height:20px;margin-top:30px">
                        <span>标签</span>
                        <hr style="width: 100%">
                        <a href="team?sign=all" sign="all"><span class="allsign">所有</span></a>
                        {% for obj in labels %}
                            <a href="team?sign={{ obj.Id }}" sign="{{ obj.Id }}">
                                <span class="allsign">{{ obj.Name }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block script%}
    <script type="text/javascript" src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'team/js/team.js'%}"></script>
{%endblock%}
