 html,body {
	height:100%;
	margin:0px;
}
.nav_main a{
    font-size:1.6rem
}
.container-fluid {
	width: 100%;
	height:auto;
	overflow:hidden;
	margin: 0 auto;
	margin-top:66px;
	background-color:#f1f1f1;
}
.main {
	width:1400px;
	height:auto;
}
.main-left {
	width:60%;
	height:auto;
	float:left;
	margin-left:3%
}
.home-b-all {
	background-color:white;
	width:660px;
	height:auto;
	margin-left: 18%;
	margin-top: 30px;
	float:left;
	box-shadow: 1px 1px 1px 1px #9999;
}
.home-b-tags {
	width:100%;
	height:7%;
}
.tags {
	float:right;
	margin:-2px 6px 0 0;
	width:80px;
}
.tags span::before {
	background: #337ab7 none repeat scroll 0 0;
	height: 4px;
	left: -6px;
	top: 0;
	width: 6px;
}
.tags span::before, .tags span::after {
	content: "";
	display: block;
	position: absolute;
}
.tags span::after {
	background: #337ab7 none repeat scroll 0 0;
	border-radius: 8px 8px 0 0;
	height: 4px;
	left: -8px;
	top: 0;
	width: 8px;
}
.tags span::before, .tags span::after {
	content: "";
	display: block;
	position: absolute;
}
.tags span {
	background: #488fcc none repeat scroll 0 0;
	border-radius:0px 8px 5px 5px;
	display: inline-block;
	float: right;
	font-size: 14px;
	line-height: 1px;
	margin-right: -8px;
	padding: 18px 8px 15px;
	position: relative;
	text-align: center;
	margin-top: -2px;
	width: 100%;
	font-family:幼圆;
	font-size:15px;
	color:white;
}
.tags span:hover{
    background: #337ab7 none repeat scroll 0 0;
}
.home-b-head {
	width:100%;
	height:100px;
	margin-left:0px;
}
.home-b-logo {
	float:left;
	margin-left:2%;
	width:100px;
}
.home-b-title {
	float:left;
	width:75%;
	margin:24px 0 25px 15%;
}
.home-b-title h1 {
	font-family:幼圆;
	font-size:23px;
	font-weight:bold;
}
.home-b-title p {
	color: gray;
	font-family: 幼圆;
	font-size: 15px;
	font-weight: lighter;
	margin-right: 2px;
	margin-top: 8px;
}
.home-b-title a {
	margin-top: 8px;
	color: gray;
	font-family: 幼圆;
	font-size: 15px;
	font-weight: lighter;
}
.home-b-title a:hover {
	text-decoration:underline;
}
.home-b-title hr{
    margin-top:2px;
    color:#f1f1f1;
    width:295px;
}
.text {
	float: left;
	height: auto;
	margin-left: 15%;
	width: 70%;
	color:gray;
}
.text img{
    max-width: 100%;
    max-height: 100%;
}

.text h1 {
	margin-top:50px;
	font-family:宋体;
	font-size: 30px;
}
.text hr{
    margin-top:10px;
    color:#f1f1f1;
}
.home-b-foot{
    width:270px;
    float:right;
    margin:10% 1% 0 0;
}
.home-b-collection{
    float:right;
    width:62px;
    margin-top:24%;
    font-size:15px;
}
.home-b-report{
    float:right;
    width:62px;
    margin-top:24%;
    font-size:15px;
}
.btn-style{
    padding: 0px;
}
.home-b-comment{
    float:right;
    width:62px;
    margin-top:24%;
    font-size:15px;
}
.home-b-share {
	width:60px;
	float:right;
	margin:-18.5% 2px 15px 0;
	font-size:15px;
}
.share-buttons {
	border-radius: 50%;
	display: block;
	position: relative;
	font-size:15px;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.share-buttons:active,
.share-buttons:focus,
.share-buttons:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.share-buttons:not(:last-child) {
	width: 25px;
	height: 25px;
	margin: 10px auto 10px;
	opacity: 0;
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}
.home-b-share:hover
.share-buttons:not(:last-child) {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
/* Unessential styling for sliding up buttons at differnt speeds*/

.share-buttons:not(:last-child):nth-last-child(2) {
	-webkit-transition-delay: 50ms;
	transition-delay: 20ms;
	background-image: url(weibo.png);
	background-size: contain;
}
.share-buttons:not(:last-child):nth-last-child(3) {
	-webkit-transition-delay: 75ms;
	transition-delay: 40ms;
	background-image: url(weixin.png);
	background-size: contain;
}
.share-buttons:not(:last-child):nth-last-child(4) {
	-webkit-transition-delay: 100ms;
	transition-delay: 60ms;
	background-image: url(qq.png);
	background-size: contain;
}
/*动态点赞开始*/

.praise{
    float:left;
    width:30px;
    height:30px;
    margin: 128px 0 0 45px;
    cursor: pointer;
    font-size: 12px;
    text-align:center;
    position: relative;
}


#praise-txt{
    float:left;
    margin: 0 0 0 35px;
    height:25px;
    line-height:25px;
    display: block;
    font-size:15px;
}
#praise-txt.hover{
    color: #539092;
}
.praise span {
    line-height: 25px;
    margin-top: -21px;
    position: absolute;
    text-align: left;
    width: 180px;
    font-size:15px;
    float:left;
    margin-left:18px;

}
.praise p{
	line-height: 25px;
    margin-top: -21px;
    position: absolute;
    text-align: left;
    width: 180px;
    height:0px;
    font-size:15px;
	float: left;
	margin-left:46px;

}
.praise img{
    width:25px;
    height:25px;
    display:block;
    margin: 0 auto;
}


.home-b-user{
    width:660px;
    height:100px;
    float:left;
    background-color:white;
    margin:5px 0 0 18%;
    box-shadow:1px 1px 1px 1px #9999;
}
.user-img {
	width:70px;
	height:70px;
	float:left;
	margin-left:5%;
	overflow:hidden;
	margin-top:2%;
	border-radius:50%;
}
.user-img img {
	width:100%;
	height:100%;
}
.user-name{
    display: inline-block;
	font-family: 幼圆;
	font-size: 18px;
	font-weight:bold;
	width: 200px;
	float:left;
	margin:4% 0 0 2%;

}
.user-intro {
	width:70%;
	height:15%;
	margin-top:4%;
    margin-left:-0.5%;
	float:left;
	color:gray;
}
.user-score {
	width:65px;
	height:100%;
	font-size:13px;
	float:left;
	color:gray;
}
.pimg {
	width:16px;
	height:16px;
	vertical-align:middle;
}
.user-id {
	width: 65px;
	height:100%;
	font-size:13px;
	float:left;
	margin-left:10px;
}
.user-follow {
	border: 3px solid;
	border-radius: 30px;
	color: gray;
	display: inline-block;
	float: right;
	font-family: 幼圆;
	font-size: 30px;
	font-weight: bold;
	margin: 4% 4% 0 0;
	padding: 0px 14px;
}
.user-follow:hover {
	color:#23527c;
}
.line {
    position:fixed;
    background-color:#7495B7;
    width:3px;
    height:320px;
    float:left;
    margin-left:880px;
    margin-top:30px;
}
.word {
    position:fixed;
    float: left;
    font-family: 幼圆;
    font-size: 20px;
    height: 280px;
    margin-left: 0px;
    margin-top: 26px;
    width: 30px;
    margin-left:890px;
}
.main-right{
    width:290px;
	height:auto;
	float:left;
    position:fixed;
    margin-left:940px
}
.similar-block{
    background-color:white;
    width:250px;
    height:280px;
    box-shadow: 0px 5px 25px 0px #d3e0e2;
    border-radius: 8px;
    float:left;
    margin-top:30px;
}
.similar-block hr{
    color:#539092;
}
.block-main{
    width:100%;
    height:215px;
    font-family:幼圆;
    font-size:23px;

}
.block-title:hover{
    color:#23527c;
}

.block-title{
    float:left;
    margin-top:2%;
	margin-left:12px;
	width:91%;
	height:45px;
    overflow:hidden;
    line-height:24px;
}
.block-text{
    float:left;
	margin:8px 0 0 12px;
	width: 91%;
	height: 107px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	font-size:15px;
	font-family:幼圆;
	line-height:22px;
	color:gray;
}
h5 {
	font-size: 16px;
	font-family: 幼圆;
	width: 100%;
}
.block-bottom{
    width:100%;
    height:45px;
    float:left;
    margin-top:2%;
    font-size: 13px;
}
.block-bottom-ava{
    float:left;
    width:40px;
    margin-left:12px;
}
.block-bottom-name{
    float:left;
    width: 90px;
    margin-left: 6px;
    margin-top: 20px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.block-bottom-hot{
    width:90px;
    float:right;
    margin:20px 12px 0px 0px;
}
.block-hotlike{
    width:auto;
    float:right;
    margin-right:2px;
}
.block-imglike{
    width:20px;
    height:20px;
}
.block-hotfollow{
    width:auto;
    float:right;
    margin-right: 2px;
}
.block-imgfollow{
    width:20px;
    height:20px;
}
.content-footer{
    width:660px;
    float:left;
    margin:20px 0 0 195px;
    height: auto;
    background-color:  #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow:hidden;
}
.comment{
    width:100%;
    height:auto;
    overflow:hidden;

}
.c-all{
    width:100%;
    height:auto;
    margin-bottom:50px;
}
.ctitle{
    width:100%;
    height:8%;
    text-align: center;
    line-height: 50px;
}
.comment1-1{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 27px;
	margin-top: 5px;
}
.comment1-2{
	width: 100%;
	height: 2px;
	background-color: #7495B7;
}
.ctop{
    width:100%;
    height:150px;
}
.u-img{
    width:50px;
    height:50px;
    margin-left:8%;
    margin-top:5%;
}

.carea {
    width: 72%;
    height: 100px;
    float: right;
    margin: 43px 62px 0 0;
}
.tocomment{

    width:100%;
    height:50px;

}
.comment-text{
    width:100%;
    height: 40px;
    margin-top:2px;
    font-size: 15px;
    border-radius:5px;
    resize:none;
}

.putcomment{
    width:11%;
    height:30px;
    margin-top:5px;
	margin-right:8px;
    background-color: #3a87ad;
    border:none;
    float:right;
    border-radius:5px;
    color:white;
}

.cmain{
    height:60px;
    margin-bottom:-22px
    margin-top:40px
}
.c-img{
    display:block;
    width:50px;
    height:50px;
    margin-left:8%;
    float:left;
}
.comment-box {
    width:72%;
    float:left;
    margin-left:20px;
    margin-bottom:20px;
    height:auto;
	position: relative;
}

.comment-box:before,  .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	/*border-color: transparent  #8BCFCC;*/
	top: 15px;
	left: -11px;
}
.comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.comment-head {
	height:35px;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color:   #ABCDCB;

}
.comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.comment-name a {
	color: #283035;
}
.cdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0px 0px 20px;
}
.ctime{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0px 0px 5px;
}
.c-option{
    float:right;
    width:15%;
    height:100%;
}
.clike{
    width:25px;
    height:25px;
    float:left;
    margin-top:4px;
}
.clikenum{
    display:inline-block;
    float:left;
    margin-top:10px;
    color: #999;
	font-size: 13px;
}
.creport{
    width:20px;
    height:20px;
    float:right;
    margin:7px 10px 0 4px;
}
.creply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 10px;
}
.comment-content {
	width:100%;
	height: auto;
	word-wrap:break-word;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color:   #ABCDCB;
}
.c-reply{
    width:88%;
    height:100px;
    margin-left: 10%;
}
.rc-img{
    display:block;
    width:40px;
    height:40px;
    margin-left:8%;
    float:left;
}
.rc-img::after{
    content: '';
	width: 60px;
	height: 2px;
	/*background: #c7cacb;*/
	position: absolute;
	top: 25px;
	left: -55px;
}
.rcomment-box {
    width:73%;
    float:left;
    margin-left:20px;
    margin-top:20px;
    height:auto;
	position: relative;
}
.rcomment-box:before,  .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent  #8BCFCC;
	top: 10px;
	left: -11px;
}
.rcomment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent  #ABCDCB;
	left: -12px;
}

.rcomment-head {
	height:35px;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color:  #ABCDCB;
}
.rcomment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.rcomment-name a {
	color: #283035;
}
.rcdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0px 0px 20px;
}
.rctime{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0px 0px 5px;
}
.r-option{
    float:right;
    width:17%;
    height:100%;
}
.rclike{
    width:25px;
    height:25px;
    float:left;
    margin-top:4px;
}
.rclikenum{
    display:inline-block;
    float:left;
    margin-top: 10px;
    color: #999;
	font-size: 13px;
}
.rcreport{
    width:20px;
    height:20px;
    float:right;
    margin:7px 10px 0 4px;
}
.rcreply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 10px;
}
.rcomment-content {
	width:100%;
	height: auto;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color:  #ABCDCB;
}

/*评论回复文本框*/
.commentreply{
    display:none;
    width:100%;
    height:40px;
    margin: 10px 0 10px 0;
    background-color:  #ABCDCB ;
    -webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.commentreply-text{
    width:85%;
    height: 30px;
    margin:5px 0 0 5px;
    border-radius:5px;
    resize:none;
    line-height:1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #c6c8ce;
}

.report-text{
    width:84%;
    margin:40px 0 0 8%;
    height: 250px;
    border-radius:5px;
    resize:none;
    border: 1px solid #c6c8ce;
}
.putreport{
    width:50px;
    height:30px;
    float:right;
    margin:10px 40px 0 0;
    background-color: #3a87ad;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

