 html,body {
	height:100%;
	margin:0px;
	background-color:#f1f1f1
}

.home-content{
    margin-top:66px;
}
.index_creations{
	background: #2a6496;
}
.content-inner{
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px;
    padding-top: 40px !important;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

.home-left {
	width:78%;
	float:left;
}
.home-right {
    /*position:fixed;*/
	width:22%;
	float:right;

}
.intro {
	width:300px;
	height:230px;
	background-color:#a6d0e4;
	border-radius: 10px 70px;
	box-shadow: 10px 10px 2px 2px #bdc3c7;
	opacity:0.8;
}
.tag {
	width: 95%;
	height:auto;
	float:right;
}
.tag p{
    margin-left: 4px;
    font-size: 18px;
    float: left;
    margin-top: 30px;
}
.tag hr {
	border: 0;
	border-top: 1px solid #c0c5cd;
	margin-bottom: 15px;
	margin-top: 65px;
	position: relative;
}
.tag hr:before {
	content: '';
	width: 62px;
	height: 4px;
	background-color: #57cecd;
	position: absolute;
	bottom: 0;
}
.tag a {
	font-size: 15px;
	text-decoration: none;
}
.tag span {
	display: inline-block;
	margin-bottom: 5px;
	font-family:幼圆;
}
.allsign {
	border: 1px solid #c0c5cd;
	background-color: white;
	border-radius: 5px;
	padding: 6px 15px;
	color: gray;
}
.allsign:hover {
	color: #fff;
	background-color: #57cecd;
}
.allsign:visited{
    background-color:#57cecd;
}
.intro p {
	width:86%;
	float:left;
	margin-left:8%;
	margin-top:5%;
	text-align:left;
	font-family:幼圆;
}
.block {
	width:310px;
	height:370px;
	float:left;
    margin-right: 35px;
	margin-bottom:35px;
	border-radius:8px;
	background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 5px #d3e0e2;
}
.block:hover{
    box-shadow: 8px 8px 5px #c0c7d0;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.block-user {
	width:172px;
	height:48px;
	float:left;
}
.ava {
	float: left;
	padding: 5px 5px 0 18px;
}

.name {
	float:left;
	width:109px;
	height:22px;
	overflow:hidden;
}
a {
	text-decoration: none;
	color: #444;
}
h5 {
	font-size: 20px;
	font-family: 幼圆;
	width: 100%;
}
.block-bottom {
	width:310px;
	height:48px;
	float:left;
}
.block-hot{
    float:right;
    width:120px;
    height:48px;
    margin-right:18px;
}
.usedfollow {
	float:right;
	width:50px;
	height:25px;
	margin:5% 5% 0 0;
	border:1px solid #539092;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.level {
	width: 35%;
	height: 20px;
	margin: 6px 28px -16px;
	float:left;
	background: #71adb5 ;
	color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #777777;
}
.level span {
	font-size:12px;
	display:block;
	float:left;
	margin-left:15px;
}
.block-img figure img{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.block-img figure:hover img{
    opacity:0.9;
}

.block-content {
	width:100%;
	height:84%;
}
.block-title {
    float:left;
	margin:16px 0 0 20px;
	width:88%;
	height:50px;
    overflow:hidden;
    line-height:24px;
}
.block-intro {
	float:left;
	margin:10px 0 0 30px;
	width: 80%;
	height: 45px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	font-size:15px;
	font-family:幼圆;
	line-height:22px;
}

.follow {
	float:right;
	margin-top: 22px
}
.follow span {
	font-size:15px;
}
.like {
	float:right;
	margin-top:22px;
	margin-right: 5px;
}
.like span {
	font-size:15px;
}
.more {
	width:96%;
	height:30px;
	text-align: center;
	float:left;
	margin-top:30px;
	margin-bottom:2%;
	background-color:white;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 2px #bdc3c7;
}
.add:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}
.add {
	background-color: #43bbd6;
	border: medium none;
	border-radius: 2px;
	box-shadow: 3px 3px 2px 3px #2ca4bf;
	color: #eeeeee;
	float: left;
	height: 33px;
	margin-left: 198px;
	margin-top: 18px;
	width: 70px;
	font-family: 幼圆;
	font-size:17px;
	font-weight:bold;
}
