 html,body {
	height:100%;
	margin:0px;
}
.container-a {
	width: 100%;
	height:auto;
	overflow:hidden;
	margin: 0 auto;
	margin-top:66px;
	background-color:#f1f1f1;
}
.home {
	width:1400px;
	height:auto;
}
.home-left {
	width:70%;
	float:left;
	margin-left:2.5%;
}
.home-right {
    position:fixed;
	width:280px;
	float:left;
	margin-left:1040px;
}
.intro {
	width:100%;
	height:230px;
	float:right;
	margin-top: 30px;
	background-color:#8bcfcc;
	border-radius: 10px 70px;
	box-shadow: 10px 10px 2px 2px #bdc3c7;
	opacity:0.8;
}
.tag {
	width: 100%;
	height:auto;
	float:right;
}
.tag hr {
	border: 0;
	border-top: 1px solid #c0c5cd;
	margin-bottom: 15px;
	margin-top: 10px;
	position: relative;
}
.tag hr:before {
	content: '';
	width: 60px;
	height: 4px;
	background-color: #57cecd;
	position: absolute;
	bottom: 0;
}
.tag a {
	font-size: 15px;
	text-decoration: none;
}
.tag span {
	display: inline-block;
	margin-bottom: 5px;
	font-family:幼圆;
}
.allsign {
	border: 1px solid #c0c5cd;
	background-color: white;
	border-radius: 5px;
	padding: 6px 15px;
	color: gray;
}
.allsign:hover {
	color: #fff;
	background-color: #57cecd;
}
.allsign:visited{
    background-color:#57cecd;
}
.intro p {
	width:86%;
	float:left;
	margin-left:8%;
	margin-top:5%;
	text-align:left;
	font-family:幼圆;
}
.block {
	display:none;
	width:29%;
	height:330px;
	float:left;
	margin-top: 30px;
	margin-left:3.2%;
	margin-bottom:0.5%;
	border-radius:8px;
	background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 5px #d3e0e2;
    transition: 0.2s ease-out;
}
.block:hover{
    box-shadow: 8px 8px 5px #c0c7d0;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.block-head {
	width:100%;
	height:18%;
}
.ava {
	float: left;
	padding: 10px 10px 5px 30px;
}
.ava span {
	margin-top:2%;
}
.name {
	float:left;
	width:180px;
	height:20px;
	overflow:hidden;
}
a {
	text-decoration: none;
	color: #444;
}
h5 {
	font-size: 18px;
	font-family: 幼圆;
	width: 100%;
}
.block-hot {
	width:140px;
	height:80px;
	float:left;
	margin-left:120px;
}
.usedfollow {
	float:right;
	width:50px;
	height:25px;
	margin:5% 5% 0 0;
	border:1px solid #539092;
	text-align: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.level {
	width: 35%;
	height: 20px;
	margin: 6px 28px -16px;
	float:left;
	background: #71adb5 ;
	color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 1px #777777;
}
.level span {
	font-size:12px;
	display:block;
	float:left;
	margin-left:15px;
}
.abstract {
	width:100%;
	height:68%;
}
.text {
    float:left;
	margin:25px 0 0 30px;
	width:80%;
	height:50px;
    overflow:hidden;
    line-height:24px;
}
.text-x {
	float:left;
	margin:10px 0 0 30px;
	width: 80%;
	height: 107px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	font-size:15px;
	font-family:幼圆;
	line-height:22px;
}

.follow {
	float:right;
	margin: -1px 0 0 5px;
}
.follow span {
	font-size:15px;
}
.like {
	float:right;
	margin-right: 5px;
}
.like span {
	font-size:15px;
}
.more {
	width:918px;
	height:30px;
	text-align: center;
	float:left;
	margin-top:30px;
	margin-left:65px;
	margin-bottom:2%;
	background-color:white;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 2px #bdc3c7;
}
.add:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}
.add {
	background-color: #57cecd;
	border: medium none;
	border-radius: 3px;
	box-shadow: 0 5px 0 0 #2ca4bf;
	color: #eeeeee;
	float: left;
	height: 33px;
	margin-left: 180px;
	margin-top: 10px;
	width: 70px;
	font-family: 幼圆;
	font-size:17px;
	font-weight:bold;
}
