 {% extends 'idea/Base.html' %}
{% load static %}
{% block title %}
    <title>开发项目详情</title>
{% endblock %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'idea/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/redetails.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/dedetails.css' %}">

{% endblock %}
{% load commentshow %}
{% block content %}
     <div class="main">
        <div class="content-all">
            <div class="main-left">
                <div class="content-top">
                    <div class="content-main">
                        {% for label in labels %}
                            <a class="tags" href="../projects?sign={{ label.projectLabel.Id }}"><span
                                    class="ribbon1"><span> {{ label.projectLabel.ProjectLabelName }}</span></span></a>
                        {% endfor %}
                        <input type="text" style="display: none" id = "projectId" value="{{project.Id}}">
                        <div class="title">
                            <h5 id="rdpname">{{ project.ProjectName }} </h5>
                            <p class="ptime" id="rdptime"> 项目起止时间： {{ project.StartTime | date:"Y.m.d" }}-{{ project.EndTime | date:"Y.m.d" }} </p>
                        </div>
                    </div>
                    <div class="description">
                        {#                            项目描述#}
                        <div class="des" id="rdpdes">
                            {{ project.Description | safe}}
                        </div>
                    </div>
                    <div class="option">
                         <div class="likebutton" id="rdlikebutton">
                            {% if pstatus is 1%}
                                     <img  id="rdpraise" onclick="pchangeImage()" src="{% static '/project/imgs/liked.png' %}" style="width:30px;height:30px;vertical-align:middle;margin-top: 7px;">
                                {% else %}
                                    <img   id="rdpraise" onclick="pchangeImage()" src="{% static '/project/imgs/like1.svg' %}" style="width:30px;height:30px;vertical-align:middle;margin-top: 7px;">
                            {% endif %}
                            <span class="plikenum"> {{project.Praise_Project_set.count}} </span>
                        </div>
                        <div class="op-tip">
                            <div class="home-b-more" id="rdmore">
                                <img src="{% static '/project/imgs/more.png' %}"
                                     style="width:25px;height:25px;margin-bottom: 4px">
                                <a>了解更多</a>
                            </div>
                            <div class="home-b-collection" id="rdcollection">
                                 {% if fstatus is 1%}
                                    <img src="{% static '/project/imgs/star.png' %}" id="rdcoimg"
                                     onclick="changeImage()"
                                     style="width:25px;height:25px;vertical-align:middle;">
                                    {% else %}
                                    <img src="{% static '/creation/imgs/collection0.png' %}" id="rdcoimg"
                                     onclick="changeImage()"
                                     style="width:25px;height:25px;vertical-align:middle;">
                                {% endif %}
                                <a>关注 </a>
                            <input type="text" style="display: none" id = "praise.num" value="{{project.Praise_Project_set.count}}">
                            </div>
                            <div class="home-b-share">
                                <a href="#" class="share-buttons" id="share-qq"></a>
                                <a href="#" class="share-buttons" id="share-weixin"></a>
                                <a href="#" class="share-buttons" id="share-weibo"></a>
                                <a href="#" class="share-icon"><img src="{% static '/creation/imgs/share.png' %}"
                                                                    style="width:25px;height:25px;vertical-align:middle;">
                                    分享</a>
                            </div>
                            <div class="home-b-comment" id="comment11-22">
                                <img src="{% static '/project/imgs/reply.svg' %}" id=""
                                     style="width:25px;height:25px;vertical-align:middle;">
                                <a>评论</a>
                            </div>
                            <div class="home-b-report" id="rdpreport">
                                <img src="{% static '/creation/imgs/report.png' %}"
                                     style="width:20px;height:21px;vertical-align:middle;">
                                <a>举报</a>
                            </div>
                        </div>
                    </div>
                </div>

{#                <div class="middle"></div>#}
            </div>
            <div class="main-right">
                <div class="pr-header">
                    <div class="ribbon"><span class="ribbon3">成员信息</span></div>
                </div>
                <div class="home-b-user">
                    <div class="user-img">
                        <img src="/static/photos/{{ user.user.Img }}">
                    </div>
                    <div class="user-message">
                        <a href = "" class="user-name"> {{ user.user }}</a>
                        <div class="user-intro">
                            <div class="user-score">
                                <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                                <span>1000</span>
                            </div>
                            <div class="user-id">
                                <img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                                <span>项目负责人</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="home-b-joiner">
                    <div class="user-img">
                        <img src="/static/photos/{{ project.user.Img }}">
                    </div>
                    <div class="user-message">
                        <a href = "" class="user-name">项目参与者 </a>
                        <div class="user-intro">
                            <div class="user-score">
                                <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                                <span>1000</span>
                            </div>
                            <div class="user-id">
                                <img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                                <span>项目参与者</span>
                            </div>
                        </div>
                    </div>

                </div>
{#                <div class="otherpeople">#}
{#                    <div class="box-body">#}
{##}
{#                    </div>#}
{#                </div>#}

            </div>
            <input type="text" style="display: none" id = "projectId" value="{{project.Id}}">
            <div class="pro-message" style="display:none">
                <div class="pr-header">
                    <div class="ribbon"><span class="ribbon3">项目进度</span></div>
                </div>
                <div class="pr-detail" id="pr-progress">
                {{ project.Progress | safe }}
                </div>
            </div>
            <div class="pro-message" style="display:none">
                <div class="pr-header">
                    <div class="ribbon"><span class="ribbon3">项目总结</span></div>
                </div>

                <div class="pr-detail" id="pr-summary">
                {{ project.Summary | safe}}
                </div>
            </div>

        <div class="content-footer">
                {#                评论部分#}
                <div class="comment">
                    <div class="pr-header">
                        <div class="ribbon"><span class="ribbon3">评论专区</span></div>
                    </div>

                    <div class="ctop">
                        <img class="u-img" id="u-img"  src="/static/photos/{{ preuser.Img }}">
                        <div class="carea">
                            <div class="tocomment">
                                <textarea placeholder="" name ="putcomment" id="comment-content1" class="comment-text"></textarea>
                            </div>
                            <button class="putcomment" id="rdputcomment">评论</button>
                        </div>
                    </div>
                      {% for commentlist in comment%}
                    <div class="c-all" name="c-all">
                        <div class="cmain">
                            <img class="c-img" id="rdimg" src= "/static/photos/{{ commentlist | firstcommentimg }}">
                            {#                                  可以加hover点上变成网站logo#}
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name " id="rduname"><a href=" ">{{commentlist|firstcomment}}</a></h6>
                                    <span class="cdate" id="rdcdate">{{commentlist|firstcommenttime|date:"Y/m/d"}}</span>
                                    <div class="c-option">
{#                                        <img class="clike" id="rdclike"#}
{#                                             src="{% static 'project/imgs/like1.svg' %}"><span#}
{#                                            class="clikenum">1111</span>#}
                                        <img class="creply" id="rdcreply" src="{% static 'project/imgs/reply.svg' %}">
                                        <img class="creport" id="rdcreport"
                                             src="{% static 'creation/imgs/report.png' %}">
                                    </div>
                                    <input type="text" style="display: none" id = "commentId" value=" {{commentlist|firstcomment|firstcommentId}}">
                                </div>
                                <div class="comment-content">
                                    <p id="rdc-content">{{commentlist|firstcommentcontent}}</p>
                                </div>
                                <div class="commentreply" id="commentreply">
                                    <textarea placeholder=""  id="commentreplytext" class="commentreply-text"></textarea>
                                    <button class="putcomments" id="cputcomment" backcommentId = {{commentlist|firstcomment|firstcommentUuid}}>回复</button>
                                </div>
                            </div>
                        </div>
                            {%for comment in commentlist|leftcomment%}
                            <div class="c-reply">
                            <input type="text" style="display: none" id = "rcommentId" value=" {{ comment.Id}}">
                            <img class="rc-img" src= "/static/photos/{{comment.user.Img}}">
                            <div class="rcomment-box">
                                <div class="rcomment-head">
                                    <h6 class="rcomment-name "><a href=" "> {{comment.user.UserName}}</a> 回复</h6>
                                    <span class="rcdate">{{comment.Date|date:"Y/m/d"}}</span>
                                    <div class="r-option">
{#                                        <img class="rclike" id="rdrclike"#}
{#                                             src="{% static 'project/imgs/like1.svg' %}"><span#}
{#                                            class="rclikenum">1111</span>#}
{#                                        <img class="rcreply" id="rdrcreply" src="{% static 'project/imgs/reply.svg' %}">#}
                                        <img class="rcreport" id="rdrcreport"
                                             src="{% static 'creation/imgs/report.png' %}">
                                    </div>
                                </div>
                                <div class="rcomment-content">
                                    <p id="rdr-content">{{comment.Content}}</p>
                                </div>
                                <div class="commentreply" id="rcommentreply">
                                    <textarea placeholder=""  id="commentreplytext" class="commentreply-text"></textarea>
                                    <button class="putcomments" id="crputcomment">回复</button>
                                </div>
                            </div>
                        </div>
                            {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="middle"></div>
    {% block script %}
         <script type="text/javascript" src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
         <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>
         <script type="text/javascript" src="{% static  'project/js/common.js' %}"></script>
         <script type="text/javascript" src="{% static  'project/js/dedetails.js' %}"></script>
    {% endblock %}
    <script>
        $(document).ready(function () {


            var process = "{{ project.Progress | safe }}";

            var summary = "{{ project.Summary | safe}}";

            if( process == "None"){
                $("#pr-progress").empty();
                $("#pr-progress").append('<p>该项目暂无进度信息！</p>');

            }
            if( summary == "None"){
                $("#pr-summary").empty();
                 $("#pr-summary").append('<p>该项目暂无总结信息！</p>');

            }

        })

    function changeImage(){ var user = getCookie('user_email');
                    if(user === null || user ===''){
                        alert("请您登陆");
                        window.location.href="/idear/login";
                    } else{
                    element = document.getElementById('rdcoimg');
                    if (element.src.match("collection0")) {

                        var projectid = document.getElementById("projectId").value;
                        $.post('/idear/prattendadd', {
                                "projectId": projectid,
                                "preuser": user
                            }, function (data) {
                                if (data == 1) {
                                     element.src = '{% static '/project/imgs/star.png' %}';
                                     alert("关注成功！");
                                }
                                else {
                                    alert("wrong");
                                }
                            });

                    }
                    else {

                        var projectid = document.getElementById("projectId").value;
                        $.post('/idear/prattenddelete', {
                                "projectId": projectid,
                                "preuser": user
                            }, function (data) {
                                if (data == 1) {
                                     element.src = '{% static '/creation/imgs/collection0.png' %}';
                                     alert("关注取消成功！");
                                }
                                else {
                                    alert("wrong");
                                }
                            });
                    }
                }
            }
    function pchangeImage(){
                    var user = getCookie('user_email');
                    if(user === null || user ===''){
                        alert("请您登陆");
                        window.location.href="/idear/login";
                    } else{
                    element = document.getElementById('rdpraise');
                    if (element.src.match("like1")) {
                        var projectid = document.getElementById("projectId").value;
                        $.post('/idear/prpraiseadd', {
                                "projectId": projectid,
                                "preuser": user
                            }, function (data) {
                                if (data == 1) {
                                     element.src = '{% static '/project/imgs/liked.png' %}';
                                     alert("点赞成功！");
                                     var plikenum = document.getElementById("praise.num").value;
                                     plikenum = parseInt(plikenum) + 1;
                                     $(".plikenum").html(plikenum)
                                }
                                else {
                                    alert("wrong");
                                }
                            });

                    }
                    else {
                        var projectid = document.getElementById("projectId").value;
                        $.post('/idear/prpraisedelete', {
                                "projectId": projectid,
                                "preuser": user
                            }, function (data) {
                                if (data == 1) {
                                     alert("点赞取消成功！");
                                     element.src = '{% static '/project/imgs/like1.svg' %}';
                                     plikenum = parseInt(plikenum) - 1;
                                     var plikenum = document.getElementById("praise.num").value;
                                     $(".plikenum").html(plikenum)
                                }
                                else {
                                    alert("wrong");
                                }
                            });

                    }
                }
            }
    </script>


{% endblock %}

