 {% extends 'idea/Base.html' %}
{% load static %}


{%block title%}<title>开发项目</title>{%endblock%}

{%block CSS%}

    <link rel="stylesheet" href="{% static 'idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'project/css/deprojects.css' %}">
    <script src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
{%endblock%}

{% block content %}
<div class="bg_all">
        <div class="bg_left">
            <div class="bg_project">

                     {% for project in projects %}
                        <div class="project_top">
                        <div style="display:none;width:100%;height: 100%">{{ project.Id }} </div>
                        <a href="dedetails?projectId={{ project.Id }} ">
                            <div class="project_top_1_left">
                                <img class="project_img" src="../../static/photos/{{ project.Img }} ">
                            </div>
                            <div class="project_top_1_right">
                                <span class="project_top_1_right-span">{{ project.ProjectName }} </span>
                                <div class="project_Text_Bg">
                                    <li class="FixText">起止时间:<p
                                            class="FixText-right"> {{ project.StartTime | date:"Y/m/d" }}--{{ project.EndTime | date:"Y/m/d" }}</p></li>
                                    <li class="FixText">项目状态：<p class="FixText-right">正在进行</p></li>
                                </div>
                            </div>
                        </a>
                        <div class="project_middle">
                            <span class="project_middle_fix">项目标签：</span>
                            {%for re in  Project2ProjectLabels%}
                                <span class="project_middle_icon"></span>
                                <span class="project_middle_text">{{re.ProjectLabelName}}</span>
                            {% endfor %}
                        <br>
                        </div>
                        <div class="project_bottom_top">
                            <p class="project_top_1_text">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{ project.Description }} </p>
                            <div class="progress">
                                <span class="green  "><span><li>当前项目进度： </li></span></span>
                            </div>
                        </div>
                    </div>
                     {% endfor%}
                        <a class="more">加载更多</a>
            </div>
        </div>
            <div class="home-right">
                 <div class="intro">
                     <div class="best_project">
                        <div class="pro">
                            <a href="#">
                                <div class="pro_left_img">
                                    <img src="../../static/idea/imgs/best_img.png">
                                </div>
                            </a>
                            <div class="pro_content">
                                <div class="pro_label">
                                    <a href="#" >
                                        <p>大数据</p>
                                        <p>互联网</p>
                                    </a>
                                </div>
                                <div class="pro_name"><a href="#"><p>一个非常好的项目</p></a></div>
                                <div class="pro_introduce">
                                    <a href="#">
                                        <p id="txt">今年六月，世界娱乐巨头米高梅集团（MGM Resorts）宣布扩大与麦肯的合作，将旗下多个娱乐场所和度假村纳入了创意清单之中。</p>
                                    </a>
                                </div>
                            </div>
                            <div class="pro_line"></div>
                            <div class="pro_best">
                                <ul>
                                    <li>
                                        <div class="pro_comment"></div>
                                        <div class="comment_num"><p>123</p></div>
                                    </li>
                                    <li>
                                        <div class="pro-thumbs-up"></div>
                                        <div class="thumbs-up-num"><p>123</p></div>
                                    </li>
                                    <li>
                                        <div class="pro-collection"></div>
                                        <div class="collection-num"><p>123</p></div>
                                    </li>
                                </ul>
                                <div class="pro_by">
                                    <p>by&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">张张</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tag">
                    <img src="{% static 'creation/imgs/tag.png' %}" style="width:20px;height:20px;margin-top:30px">
                    <span>标签</span>
                    <hr>
                    <a href="deprojects?sign=all" sign="all"><span class="allsign">所有</span></a>
                    {% for obj in projectLabels %}
                        <a href="deprojects?sign={{ obj.Id }}" sign="{{ obj.Id }}"><span class="allsign" id="choose_Tag" onclick="chooseTag()">{{ obj.ProjectLabelName }}</span></a>
                    {% endfor %}
                </div>

                <div class="tag">
                    <img src="{% static 'creation/imgs/tag.png' %}" style="width:20px;height:20px;margin-top:30px">
                    <span>类型</span>
                    <hr>
                    <a href="recruit?sign=all" sign="all"><span class="allsign">时间</span></a>
                    <a href="recruit?sign=all" sign="all"><span class="allsign">点赞</span></a>
                    <a href="recruit?sign=all" sign="all"><span class="allsign">评论</span></a>

                </div>
        </div>
    </div>

        {% block script %}

    <script>
        //限制字符个数
        $(document).ready(function () {
            $(".project_top_1_text").each(function () {
                var maxwidth = 150;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '…')
                    ;
                }
            });
        });
        //加载更多
        $(function () {
            $(".project_top").slice(0, 6).show();
            if ($(".project_top").length <= 6) {
                $(".more").hide();
            }
            $(".more").on('click', function (e) {
                e.preventDefault();
                $(".project_top:hidden").slice(0, 6).slideDown();
                if ($(".project_top:hidden").length == 0) {
                    $(".more").fadeOut('slow');
                }
            });
        });
        $('.project_middle_icon').each(function () {
            var col = 'rgb' + '(' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ')';
            $(this).css('background', col)
        });
    </script>
{% endblock %}


{% endblock %}



