{% extends 'idea/Base.html' %}
{% load static %}
{% block title %}
    <title>招募项目</title>
{% endblock %}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'project/css/recruit.css' %}">
    <link rel="stylesheet" href="{% static 'idea/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/buttons.css' %}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="bg_all">
        <div class="bg_left">
        <div class="bg_project">
            {% for project,recruits in all_recruit %}
                {% for recruit in recruits %}
                    <div class="project_top">
                        <div style="display:none;width:100%;height: 100%">{{ project.Id }}</div>
                        <a href="redetails?projectId={{ project.Id }}">
                            <div class="project_top_1_left">
                                <img class="project_img" src="../../static/photos/{{ project.Img }}">
                            </div>
                            <div class="project_top_1_right">
                                <span class="project_top_1_right-span">{{ project.ProjectName }}</span>
                                <div class="project_Text_Bg">
                                    <li class="FixText">截止时间:<p
                                            class="FixText-right">{{ recruit.EndTime | date:"Y/m/d" }}</p></li>
                                    <li class="FixText">招募状态：<p class="FixText-right">正在进行</p></li>
                                    {#                        <li class="FixText">项目标签：<p class="FixText-right">互联网</p></li>#}
                                    {#                        <li class="FixText">时间：<p class="FixText-right">{{project.StartTime | date:"Y/m/d"}}-{{project.EndTime | date:"Y/m/d"}}</p></li>#}
                                </div>
                            </div>
                        </a>
                        <div class="project_middle">
                            <span class="project_middle_fix">所需人员标签：</span>
                            {% for re in projectLabels %}
                            <span class="project_middle_icon"></span>
                            <span class="project_middle_text">{{re.ProjectLabelName }}</span>
                            {% endfor %}
                        <br>
                        </div>
                        <div class="project_bottom_top">
                            <p class="project_top_1_text">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ project.Description }}</p>
                            <div class="progress">
                                <span class="green {{ project.Id }}"><span><li>当前招募进度：{{ recruit.RecruitedNumber }}/{{ recruit.PredictNumber }}</li></span></span>
                            </div>
                        </div>
                    </div>
                    <script>
                        //计算进度条宽度
                        $(function () {
                            var project_people = {{ recruit.RecruitedNumber }} /{{ recruit.PredictNumber }};
                            var project_percent = project_people * 100;
                            var project_plan = project_percent + '%';
                            $(".{{ project.Id }}").add().css("width", project_plan);
                        });
                    </script>
                {% endfor %}
            {% endfor %}
        <a class="more">加载更多</a>
        </div>
        <div class="home-right">
            <div class="intro">
                <img src="{% static 'creation/imgs/light.png' %}"
                     style="width:40px;height:40px;margin:-16px 0px 26px -10px">
                <img src="{% static 'idea/imgs/idea_logo.png' %}"
                     style="width:60px;height:40px;margin:0px 0px -10px 4px">
                <p>&nbsp;&nbsp;&nbsp;创意是传统的叛逆，是打破常规的哲学，是思维碰撞，智慧对接，是具有新颖性和创造性的想法。来这里寻找和发布属于你的创意灵感！</p>
                <button class="add">添加</button>
            </div>

            <div class="tag">
                <img src="{% static 'creation/imgs/tag.png' %}" style="width:20px;height:20px;margin-top:30px">
                <span>标签</span>
                <hr>
                <a href="recruit?sign=all" sign="all"><span class="allsign">所有</span></a>
                {% for obj in projectLabels %}
                    <a href="recruit?sign={{ obj.Id }}" sign="{{ obj.Id }}"><span class="allsign" id="choose_Tag" onclick="chooseTag()">{{ obj.ProjectLabelName }}</span></a>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script>
        //限制字符个数
        $(document).ready(function () {
            $(".project_top_1_text").each(function () {
                var maxwidth = 150;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '…')
                    ;
                }
            });
        });
        //加载更多
        $(function () {
            $(".project_top").slice(0, 6).show();
            if ($(".project_top").length <= 6) {
                $(".more").hide();
            }
            $(".more").on('click', function (e) {
                e.preventDefault();
                $(".project_top:hidden").slice(0, 6).slideDown();
                if ($(".project_top:hidden").length == 0) {
                    $(".more").fadeOut('slow');
                }
            });
        });
        $('.project_middle_icon').each(function () {
            var col = 'rgb' + '(' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ',' + Math.ceil(Math.random() * 245) + ')';
            $(this).css('background', col)
        });
    </script>
{% endblock %}

