idea/css/index.css{% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
   <title>招募项目</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'project/css/recruit.css'%}">
    <link rel="stylesheet" href="{% static 'idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'project/css/buttons.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{%endblock%}
{%block content%}
<div class="bg_all">

    <div class="bg_left">
       {%for project in projects%}
        <div class="project_top_1 project_top">
        <div style="display: none;width:100%;height: 100% " onclick="getProjectID()">{{project.Id}}</div>
            <a href="redetails/">
                <div class="project_top_1_left">
                    <img class="project_img" src="{% static 'project/imgs/HeadImg.png'%}">
                </div>
                <div class="project_top_1_right">
                    <span class="project_top_1_right-span">{{project.ProjectName}}</span>
                    <div class="project_Text_Bg">
                        <li class="FixText">招募人数:<p class="FixText-right">{{project.Number}}</p></li>
                        <li class="FixText">招募状态：<p class="FixText-right">正在进行</p></li>
{#                        <li class="FixText">项目标签：<p class="FixText-right">互联网</p></li>#}
{#                        <li class="FixText">时间：<p class="FixText-right">{{project.StartTime | date:"Y/m/d"}}-{{project.EndTime | date:"Y/m/d"}}</p></li>#}
                    </div>
                </div>

            </a>
            <div class="project_middle">
                <script>
                    function Chang_icon() {
                        for (var i=0;i<tag;i++){

                        }
                    }
                </script>
                <span class="project_middle_icon-1"></span>
                <span class="project_middle_text">互联网</span>
                <span class="project_middle_icon-2"></span>
                <span class="project_middle_text">大数据</span>
                <span class="project_middle_icon-3"></span>
                <span class="project_middle_text">互联网</span>
            </div>
            <div class="project_bottom_top">
                    <p class="project_top_1_text">{{project.Description}}上百条毛巾整齐叠在架上，放眼望去的“奇景”让所有人都不自觉张开嘴赞叹，日本“今治毛巾”的东京南青山旗舰店里，这是每天都在上演的日常。</p>
                    <div class="progress">
                    <span class="green" style="width: 100%;"><span>正在进行</span></span>
                    </div>
            </div>

        </div>
{% endfor %}
    </div>
    <div class="bg_border"></div>
    <div class="bg_right">
        <div class="explain">
            <p class="explain_title">板块说明</p>
            <p class="explain_text">&nbsp;&nbsp;&nbsp;&nbsp;块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明块说明板块说明板块说明</p>
            <a target="_blank" href="redetails.html"><p class="explain_new_project">发布新项目</p></a>
        </div>
        <div class="Tag_All">
            <div class="Tag_Text">按标签显示</div>
                <a href="recruit?sign=all" sign="all" class="project_sign" ><span class="Sign">所有</span></a>
                {%for obj in projectLabels%}
                <a href="recruit?sign={{obj.Id}}" sign="{{obj.Id}}" class="project_sign"><span class="Sign">{{obj.ProjectLabelName}}</span></a>
                {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script href="{% static 'project/js/more.js' %}"></script>
{% endblock %}

