<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>招募项目</title>
    <link rel="stylesheet" href="../../static/project/css/style1.css">
</head>
<body>
    <div class="bg_left">
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
        <div class="project_top_1 project_top">
            <a href="redetails.html">
                <div class="project_top_1_left">

                    <img src="../../static/project/imgs/HeadImg.png">

                </div>
                <div class="project_top_1_right">
                    <h5>项目名称</h5>
                    <p class="project_top_1_text">实验项目实验项目实验项目实验项目实验项目实验项目实验项目实
                    验项目实验项目实验项目实验项目
                    实验项目实验项目实验项目实验项目
                    </p>
                </div>
            </a>
            <div class="project_bottom_top">
                <div class="project_bottom_left">
                    <p  class="FixText">项目名称：</p>
                    <p class="FixText">招募人数：</p>
                    <p class="FixText">招募状态：</p>
                    <p class="FixText">时间：</p>
                </div>
                 <div class="project_bottom_right">
                     <input type="text" name="ProjectName" value="张三" readonly="readonly" class="VariableText"/>
                     <input type="text" name="Number" value="200人" readonly="readonly" class="VariableText"/>
                     <input type="text" name="State" value="正在进行" readonly="readonly" class="VariableText"/>
                     <input type="text" name="UserName" value="2017.7.19-2017.12.30" readonly="readonly" class="VariableText"/>
                 </div>
            </div>
        </div>
    </div>
    <div class="bg_border"></div>
    <div class="bg_right">
        <div class="explain">
            <p class="explain_text">板块说明<br>
                板块说明板块说明板块说明板块说明板块说
                明板块说明板块说明板块说明板块说明板块说明板
                块说明板块说明板块说明</p>
            <input class="New_project" value="发布我的项目" type=button onclick="window.location.href('redetails.html')">
        </div>

        <div class="AllTag"></div>
    </div>
</body>
</html>