 {% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
   <title>招募项目详情</title>
{%endblock%}
{%block CSS%}


    <link rel="stylesheet" href="{% static 'idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'project/css/redetails.css'%}">
    <link rel="stylesheet" href="{% static 'project/css/font/css/font-awesome.min.css'%}">
{%endblock%}
{%block content%}

	 <div class="main">
		<div class="content-all">

              <div class="main-left">
                  <div class="content-top">
                   <!--此处为项目名称-->
                      {#此处应为for循环#}
                      <div class="content-main">
                         <div class="tags"><span>标签</span></div>
                         <div class="tags"><span>标签</span></div>
                         <div class="tags"><span>标签</span></div>
                     {# 项目logo #}
                         <div class="plogo"> <img  src="{% static 'project/imgs/user.svg'%}"></div>
                         <div class="title">
                            <h5> 项目名称哈哈哈</h5>
                            <p class="ptime">2017.04.20 23:33&nbsp;&nbsp;|&nbsp; www.github.com</p>
                         </div>
                      </div>
                      <div class="description">
                           <div class="des" >
                               <h6>项目内容:</h6>
                               <span></span>
                           </div>
                           <div class="option">
                               <button class="likebutton">
                                       <img class="plike" src="{% static '/project/imgs/like1.png' %}"  >
                               </button>
                               <div class="home-b-share">
                                    <a href="#" class="share-buttons"></a>
                                    <a href="#" class="share-buttons"></a>
                                    <a href="#" class="share-buttons"></a>
                                    <a href="#" class="share-icon"><img src="{% static '/creation/imgs/share.png' %}" style="width:16px;
    height:16px;">分享</a>
                                </div>
                                <div class="home-b-report">
                                    <img src="{% static '/creation/imgs/report.png' %}" style="width:16px;
    height:16px;">
                                    <a>举报</a>
                                </div>
                                <div class="home-b-collection">
                                    <img src="{% static '/creation/imgs/collection0.png' %}" style="width:16px;
    height:16px;">
                                    <a>收藏</a>
                                </div>
                           </div>
                      </div>

                  </div>

                  <div class="content-footer">
                      <!--此处为招募帖详细内容-->
                      <div class="rtitle">招募帖</div>
                      <div class="rmain">
                           <div class="rm-header">
                                 <div class="rm-h1">预计招募人数：</div>
                                 <div class="rm-h2">已招募人数：</div>
                                 <div class="rm-h3">招募开始/截止时间：</div>
                           </div>
                          <div class="rm-middle">
                                 <div class="rm-nav">
                                      <img class="rimg" src="{% static 'project/imgs/require.svg'%}">招募要求:

                                 </div>
                                 <div class="rcontent">
                                  <p> </p>
                                 </div>
                          </div>
                      </div>
                      <div class="rfooter">
                            <div class="rfcontent">
                                 <a href="apply" class="rbutton">申请加入</a>
                            </div>
                      </div>
                  </div>
            </div>


             <div class="main-right">
                  <div class="person">
                    <!--此处为个人信息-->
                      <div class="person-one">
                            <a href="#"><span class="pbutton">关注</span></a>
                          <div class="person-one-img">
                            <img class="pimg" src="{% static 'project/imgs/user.svg'%}">
                          </div>
                      </div>
                      <div class="person-two">
                          <div class="person-header">
                               <a  class="pname" href="">用户名称aaaaa</a>
                          </div>
                          <div class="person-middle">
                              <div class="pscore">
                                  <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                                  <span>1000</span>
                              </div>
                              <div class="pid"><img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                                  <span>身份</span>
                              </div>
                          </div>
                          <div class="person-footer">
                              <a><span class="user-tag">前端 </span></a>{#此标签格式呢通过后台  #}
                              <a><span class="user-tag">美工 </span></a>
                              <a><span class="user-tag"> IT</span></a>
                          </div>
                     </div>
                  </div>

                  <div class="comment">
                    <!--此处为项目评论-->
                      <div class="ctitle"><h2>项目评论</h2></div>
                      <div class="cfooter">

                            <textarea class="w-input"></textarea>
                            <a href="javascript:;" class="tocomment">评论</a>
                      </div>
                      <div class="c-all">
                           {# 此处应为for循环                         #}

                            <div class="cmain">
                                <img class="cimg"  src="{% static 'project/imgs/user.svg'%}">
                                 <div class="comment-box">
							          <div class="comment-head">
								             <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
								             <span>2017-11-11</span>
                                             <img class="creport"  src="{% static 'creation/imgs/report.png'%}">
                                              <img class="c-like"  src="{% static 'project/imgs/like1.png'%}">
							          </div>
							          <div class="comment-content">
								         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							         </div>
                                 </div>
                            </div>

                           <div class="cmain">
                                <img class="cimg"  src="{% static 'project/imgs/user.svg'%}">
                                 <div class="comment-box">
							          <div class="comment-head">
								             <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
								             <span>2017-11-11</span>
                                             <img class="creport"  src="{% static 'creation/imgs/report.png'%}">
                                              <img class="c-like"  src="{% static 'project/imgs/like1.png'%}">
							          </div>
							          <div class="comment-content">
								         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							         </div>
                                 </div>
                            </div>

                           <div class="cmain">
                                <img class="cimg"  src="{% static 'project/imgs/user.svg'%}">
                                 <div class="comment-box">
							          <div class="comment-head">
								             <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
								             <span>2017-11-11</span>
                                             <img class="creport"  src="{% static 'creation/imgs/report.png'%}">
                                              <img class="c-like"  src="{% static 'project/imgs/like1.png'%}">
							          </div>
							          <div class="comment-content">
								         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							         </div>
                                 </div>
                            </div>

                           <div class="cmain">
                                <img class="cimg"  src="{% static 'project/imgs/user.svg'%}">
                                 <div class="comment-box">
							          <div class="comment-head">
								             <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
								             <span>2017-11-11</span>
                                             <img class="creport"  src="{% static 'creation/imgs/report.png'%}">
                                              <img class="c-like"  src="{% static 'project/imgs/like1.png'%}">
							          </div>
							          <div class="comment-content">
								         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
							         </div>
                                 </div>
                            </div>


                      </div>
                  </div>
             </div>
        </div>
     </div>

 {% endblock %}