{% extends 'idea/Base.html' %}
{% load static %}
{% block title %}
    <title>招募项目详情</title>
{% endblock %}
{% block CSS %}


    <link rel="stylesheet" href="{% static 'idea/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/redetails.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/radialindicator.css' %}">
    <link rel="stylesheet" href="{% static 'project/css/page-styles.css' %}">
{% endblock %}
{% block content %}

    <div class="main">
        <div class="content-all">
            <div class="main-left">
                <div class="content-top">
                    <div class="content-main">
                        <div class="tags"><span>网站</span></div>
                        <div class="tags"><span>购物</span></div>
                        <div class="tags"><span>IT</span></div>
                        <div class="title">
                            <h5> 买买买 - 聚合全网优惠单品</h5>
                            <p class="ptime">2017.04.20 23:33&nbsp;&nbsp;|&nbsp; 项目状态：第一次招募 </p>
                        </div>
                    </div>
                    <div class="description">
                        <div class="des">
                            <p>mmmai.top是一个简单的导购平台，在她上面可以一站式聚合查看来自什么值得买、慢慢买等折扣商品推荐网站的超值单品，不必一个网站一个网站的去查看。</p>
                            <p>目前支持：</p>
                            <ul>
                                <li>1.什么值得买</li>
                                <li>2.买个便宜货</li>
                                <li>3.今日值得买</li>

                            </ul>
                            <p> 曾经推荐过很多超值单品，比如298元 某东 移动端: 耐（NIKE ZOOM WITNESS EP 男款篮球鞋 ￥391，￥1839.00 摩托罗拉 moto x 极(
                                XT1581) 64GB 玛雅黑 全网通4G手机、COACH 蔻驰 女款卡其色PVC单肩手提包 36718 IMBDX (F36718 IMBDX)399元等等。</p>
                            <p>后续会添加智能订阅以及推荐功能，更加精准的实时汇报你关注的值得买信息。
                            <p><img c src="{% static '/project/imgs/example.png' %}"></p>
                        </div>
                    </div>
                    <div class="option">
                        <button class="likebutton">
                            <img class="plike" src="{% static '/project/imgs/like1.png' %}">
                        </button>
                        <div class="op-tip">
                            <div class="home-b-collection">
                                <img src="{% static '/creation/imgs/collection0.png' %}"
                                     style="width:25px;height:25px;vertical-align:middle;">
                                <a>关注</a>
                            </div>
                            <div class="home-b-share">
                                <a href="#" class="share-buttons"></a>
                                <a href="#" class="share-buttons"></a>
                                <a href="#" class="share-buttons"></a>
                                <a href="#" class="share-icon"><img src="{% static '/creation/imgs/share.png' %}"
                                                                    style="width:25px;height:25px;vertical-align:middle;">
                                    分享</a>
                            </div>
                            <div class="home-b-comment">
                                <img src="{% static '/project/imgs/reply.svg' %}"
                                     style="width:25px;height:25px;vertical-align:middle;">
                                <a>评论</a>
                            </div>
                            <div class="home-b-report">
                                <img src="{% static '/creation/imgs/report.png' %}"
                                     style="width:23px;height:24px;vertical-align:middle;">
                                <a>举报</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle"></div>
                <div class="content-middle">
                    <!--此处为招募帖详细内容-->
                    {#                          <div class="rtitle">招募帖</div>#}
                    <div class="rmain">
                        <div class="rm-header">
                            <div class="progress-pie-chart" data-percent="150">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                </div>
                                <div class="ppc-percents">
                                    <div class="pcc-percents-wrapper">
                                        <span>%</span>
                                    </div>
                                </div>
                            </div>
{#                                 圆圈进度条#}
                            <span class="ribbon6">招募帖</span>
                        </div>
                        <div class="rm-nav">

                            <img class="rimg" src="{% static 'project/imgs/require.svg' %}">招募要求:
                        </div>
                        <div class="rcontent">
                            <ul>
                                <li>1、 根据需求实现静态页面交互效果；</li>
                                <li>2、熟悉各浏览器的特性和W3C相关标准，对浏览器引擎及JS引擎有一定研究；</li>
                                <li>3、熟悉HTTP协议，RestAPI以及WebSocket等通讯协议；</li>
                                <li>4、熟悉常见前端开发框架、类库，对其实现机制及原理有深入研究；</li>
                                <li>5、对Node.js，AngularJS等前沿开发框架有一定研究者优先。</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rfooter">
                    <div class="rfcontent">
                        <a href="/idear/apply" class="rbutton">申请加入</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="middle"></div>
        <div class="content-footer">
            <div class="comment">
                <div class="ctop">
                    <img class="u-img" src="{% static 'project/imgs/user.svg' %}">
                    <div class="carea">
                        <div class="tocomment">
                            <textarea placeholder="" name="" id="comment-content" class="comment-text"></textarea>
                        </div>

                        <button class="putcomment">评论</button>
                    </div>
                </div>
                <div class="c-all">
                    <div class="cmain">
                        <img class="c-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
                                <span>2017-11-11</span>
                                <img class="creply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="creport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="clike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="c-reply">
                        <img class="rc-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">Agustin Ortiz</a> 回复</h6>
                                <span>2017-11-11</span>
                                <img class="rcreply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="rcreport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="rclike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="rcomment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="cmain">
                        <img class="c-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
                                <span>2017-11-11</span>
                                <img class="creply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="creport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="clike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="c-reply">
                        <img class="rc-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">Agustin Ortiz</a> 回复</h6>
                                <span>2017-11-11</span>
                                <img class="rcreply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="rcreport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="rclike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="rcomment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="c-reply">
                        <img class="rc-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">Agustin Ortiz</a> 回复</h6>
                                <span>2017-11-11</span>
                                <img class="rcreply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="rcreport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="rclike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="rcomment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="cmain">
                        <img class="c-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name "><a href=" ">Agustin Ortiz</a></h6>
                                <span>2017-11-11</span>
                                <img class="creply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="creport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="clike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="c-reply">
                        <img class="rc-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">Agustin Ortiz</a> 回复</h6>
                                <span>2017-11-11</span>
                                <img class="rcreply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="rcreport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="rclike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="rcomment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                    <div class="c-reply">
                        <img class="rc-img" src="{% static 'project/imgs/user.svg' %}">
                        <div class="rcomment-box">
                            <div class="rcomment-head">
                                <h6 class="rcomment-name "><a href=" ">Agustin Ortiz</a> 回复</h6>
                                <span>2017-11-11</span>
                                <img class="rcreply" src="{% static 'project/imgs/reply.svg' %}">
                                <img class="rcreport" src="{% static 'creation/imgs/report.png' %}">
                                <img class="rclike" src="{% static 'project/imgs/like1.png' %}">
                            </div>
                            <div class="rcomment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% block script %}
        <script>
            $(function () {
                var $ppc = $('.progress-pie-chart'),
                    percent = parseInt($ppc.data('percent')),
                    deg = 360 * percent / 100;
                if (percent > 50) {
                    $ppc.addClass('gt-50');
                }
                if (percent > 100){
                    deg = 360;
                }
                $('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
                $('.ppc-percents span').html('1' + '/' + percent/100);
            });
        </script>
        <script type="text/javascript" src="{% static  'creation/js/jquery-1.8.3.min.js' %}"></script>
    {% endblock %}

{% endblock %}