body,div{
    margin:0 auto;
    padding:0;
}
*{
    margin:0 ;
    padding:0;
}
body{
    min-width:1070px;
    max-width:3000px;
    overflow-x: hidden;
}
a{
    color:black;
    text-decoration: none;
}
ul li{
    list-style: none;
}
.head{
    width: 100%;
    height: 66px;
    position:fixed;
    _position:absolute;
    z-index:9999;
    top:0px;
    text-align:left;
    min-width:1260px;
    max-width:3000px;
}
.header{
    width: 100%;
    height:66px;
    background:#7495B7;
    /*background-image: url("../imgs/header_2.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}
.logo{
    float:left;
    margin-left:9%;
    width:8%;
    height:65px;
    background-image: url('../../idea/imgs/idea_logo.png');
    background-size:100% 100%;
}
.nav_main{
    float: left;
    width: 30%;
    height: 100%;
}
.nav_main a{
    font-size:1rem;
    color:white;
    display:block;
}
.menu{
    width:100%;
    height:100%;
    margin-left:70px;
    /*margin:0px;*/
}
.menu_li{
    width:17%;
    height:100%;
    float:left;
    text-align:center;
    line-height:66px;
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    overflow:hidden;
}
.active{
    background: #29639F;
}
.menu_li:hover{
    background:#29639F;
}
.search1{
    float:left;
    width:30%;
    margin-left:6%;/*后加*/
    height:66px;
}
.searchbar{
    width:60%;
    height:100%;
    margin-left: 40%;/*后加*/
}
.searchbar form {
    width: 80%;
    height:100%;
    float: left;
    margin-left: 12%;
}
#search-left {
    width: 80%;
    height: 52%;
    margin-top: 6.5%;
    padding-left: 15%;
    border-radius: 10px;
    border: 0.3px solid #54A4AF;
    outline: none;
    position: relative;
    transition: .3s linear;
    float:right;
    font-size:0.8em;
}
#search-left:focus {
    width: 100%;
}
#search{
    width:3.5%;
    height:50%;
    margin-top: 5.8%;
    background-image: url('../../idea/imgs/search.svg');
    background-size: 100% 100%;
    float:left;
    position: relative;
    left:-4%;
    background-color:transparent;
    border:none;
    outline:none;
}
.sidebar{
    float: right;
    width: 16%;
    height: 100%;
    margin-right: 0.6%;/*后加*/
}
.rlogin{
    width: 20%;
    min-width: 37px;
    height: 40%;
    margin-top: 7.5%;
    background:#29639F ;
    float: left;
    overflow: hidden;
    border-radius: 3px;
}
.rlogin p{
    width:100%;
    height:100%;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    font-size:1em;
    color:white;
}
.rregsiter {
    width: 20%;
    min-width: 37px;
    height: 40%;
    margin-top: 7.5%;
    background: white;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 3px;
}
.rregsiter p{
    width:100%;
    height:100%;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    font-size:1em;
    color:#295E6A;
}
.user_hidden{
    float: right;
    width: 16.5%;/**/
    height: 100%;
}
.user_figure{
    width: 40px;
    height: 40px;/**/
    margin-top: 4.8%;/**/
    /*background-images:url();*/
    float: left;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin-left:2.5%;
}
.logout {
    width: 20%;
    min-width: 37px;
    height: 40%;
    margin-top: 7.5%;
    background: white;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    border-radius: 3px;
    cursor:pointer;
}
.logout p{
    width:100%;
    height:100%;
    text-align: center;
    line-height: 25px;
    margin: 0 auto;
    font-size:1em;
    color:#295E6A;
}
.list_all{
    display: none;
}
.list_left{
    width:86% ;
    height:920px;
    opacity: 0.5;
    float: left;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}
.list_hidden{
    width:14%;
    margin-top:-67px;
    float: right;
    height:920px;
    background-color: #878D99;
}
.list_content{
    width:100%;
    height: 70%;
    margin-top: 55%;
    border: 1px solid transparent;
}
.list_block{
    width: 80%;
    height: 8%;
    margin-top: 9%;
    border:1px solid #bbbbbb;

}
.list_block p{
    width:100%;
    height:100%;
    text-align: center;
    line-height: 51.2333px;
    color: #000000;
    font-family: 幼圆;
    overflow: hidden;
    display: block;
}
.list_block p a{
    width:100%;
    height:100%;
    display: block;
}
.list_block:hover{
    border-color: #295E6A;
}
.sidebar ul li{
    float: left;
    padding:12% 15px;
}
.nav-bottom{
    width: 100%;
    height: 1px;
    background: #CCCCCC;
}
.footer_line{
     width: 100%;
    height: 1px;
    overflow: hidden;
    background: #e0e0e0;
}
.footer_con {
    width:100%;
    height:90px;
    background:#F1F1F1;
    /*padding:10px 0;*/
    text-align: center;
    line-height:90px;
}
#container_footer{
    width:45%;
    height:100%;
    float: left;
    /*margin-left: 21.5%;*/
    display:block;
}
#container_footer>ul{
    width: 70%;
    height:100%;
    display: block;
    float: right;
}
#container_footer>ul>li{
    display: inline-block;
    width:20%;
    height:100%;
    text-align: right;
    float:left;
    overflow:hidden;
}
#container_footer>ul>li a{
    width:100%;
    display: inline-block;
    text-decoration:none;
    color:gray;
    font-size: 0.85em;
    /*margin: 0px 30px 0px 0;*/
}
 #container_footer>ul>li a:hover{
    color:#539092;
 }

.main_logo{
    width:10%;
    height:100%;
    float: left;
}
.main_logo_graph{
    width:60px;
    height:60px;
    margin-top: 14px;
    overflow: hidden;
    border-radius: 60px;
    border: 1px solid #ccc;
}
.right_sentence{
    width:45%;
    /*min-width:204px;*/
    height:100%;
    float: left;
}
.right_sentence p{
    font-size:0.8em;
    color:gray;
    float: left;
    margin-left: 15%;
}
