body,div{
		margin:0 auto;
		padding:0;
		width:100%;
	}
    *{
        margin:0 ;
		padding:0;
    }
	body{
	    min-width:1300px;
        max-width:2000px;
        overflow-x: hidden;
	}
	a{
	    color:black;
		text-decoration: none;
	}
	ul li{
        list-style: none;
	}
	.head{
		width: 100%;
		height: 66px;
		position:fixed;
        _position:absolute;
        z-index:9999;
        top:0px;
        text-align:left;
        min-width:1300px;
        max-width:2000px;
	}
	.header{
		width: 100%;
		height:66px;
        background:#539092;
        /*background: #FFFFFF;*/
	}
	.logo{
	    float:left;
	    margin-left:9%;
        width:8%;
        height:65px;
        background-image: url('../../idea/imgs/idea_logo.png');
        background-size:100% 100%;
	}
	.nav{
		float: left;
		width: 30%;
		height: 100%;
	}
	.nav a{
	    font-size:1rem;
	    color:white;
        display:block;
	}
    .nav ul{
        width:100%;
        height:100%;
        margin:0px;
    }
    .nav ul li{
        width:17%;
        height:100%;
        float:left;
        text-align:center;
	    line-height:66px;
	    overflow:hidden;
    }
    .active{
        background: #295E6A;
    }
	.nav ul li:hover{
        background:#295E6A;
	}
	.search1{
		float:left;
		width:30%;
		margin-left:6%;/*后加*/
		height:66px;
	}
    .searchbar{
        width:60%;
        height:100%;
        margin-left: 40%;/*后加*/
    }
    .searchbar form {
        width: 80%;
        height:100%;
        float: left;
        margin-left: 12%;
    }
    #search-left {
        width: 80%;
        height: 52%;
        margin-top: 6.5%;
        padding-left: 15%;
        border-radius: 10px;
        border: 0.3px solid #54A4AF;
        outline: none;
        position: relative;
        transition: .3s linear;
        float:right;
        font-size:0.8em;
    }
    #search-left:focus {
        width: 100%;
    }
    #search{
        width:3.5%;
        height:50%;
        margin-top: 5.8%;
        background-image: url('../../idea/imgs/search.svg');
        background-size: 100% 100%;
        float:left;
        position: relative;
        left:-7%;
        background-color:transparent;
        border:none;
        outline:none;
    }
	.sidebar{
	    float: right;
		width: 16%;
		height: 100%;
        margin-right: 0.6%;/*后加*/
	}
	.rlogin{
	    width: 20%;
        height: 40%;
        margin-top: 7.5%;
        background:#295E6A ;
        float: left;
        overflow: hidden;
        border-radius: 3px;
	}
    .rlogin p{
        width:100%;
	    height:100%;
        text-align: center;
        line-height: 25px;
        margin: 0 auto;
        font-size:1em;
	    color:white;
    }
	.rregsiter {
        width: 20%;
        height: 40%;
        margin-top: 7.5%;
        background: white;
        float: left;
        margin-left: 2%;
        overflow: hidden;
        border-radius: 3px;
    }
    .rregsiter p{
        width:100%;
	    height:100%;
        text-align: center;
        line-height: 25px;
        margin: 0 auto;
        font-size:1em;
	    color:#295E6A;
    }
    .btn_hidden{
        float: right;
		width: 2.5%;/**/
		height: 100%;
        margin-right: 13.6%;/*后加*/
    }
    .user_figure a{
        width: 40px;
        height: 40px;/**/
        margin-top: 29.8%;/**/
        /*background-images:url();*/
        float: left;
        overflow: hidden;
        border-radius: 40px;
        border: 1px solid #ccc;
        margin-left:2.5%;
    }
    .user_figure:hover{
        display: block;
    }
    .list_hidden{
        width:200px;
        margin-top:10px;
        float: left;
        margin-left: 0px;
        /*border:1px solid #FFFFFF;*/
        background: url("../../idea/imgs/list_bg.jpeg");
        background-size:100% 100% ;
        height:320px;
        border: 1px solid transparent;
        opacity: 0.8;
        display: none;
    }
    .btn_hidden:hover .list_hidden{
        display: block;
        transition: 0.2s ease-out;
    }
    .list_hidden em{
        display:block;
        width:50px;
        height:30px;
        font-size:50px;
        overflow:hidden;
        _position: relative;
        margin-left:10px;
        margin-top:-30px;
        color:#FFFFFF;
        font-style:normal;
    }
    .list_content{
        width:99.9%;
        height: 100%;
        border: 1px solid transparent;
    }
    .list_creation{
        width: 80%;
        height: 10%;
        background: #295E6A;
    }
    .list_line{
        width: 80%;
        height: 1px;
        margin-top: 2%;
        background: #c9c9c9;
    }
	.sidebar ul li{
        float: left;
        padding:12% 15px;
	}
    .footer_line{
         width: 100%;
        height: 1px;
        background: #e0e0e0;
    }
    .footer {
        width:100%;
        height:70px;
        background:#F1F1F1;
        padding:10px 0;
        text-align: center;
        line-height:70px;
	}
    .container{
        width:25%;
        height:100%;
        float: left;
        margin-left: 23.5%;
        display:block;
    }
    .container ul{
        width: 100%;
        height:100%;
        display: block;
    }
	.container ul li{
		display: inline-block;
        width:24%;
        height:100%;
        float:left;
	    overflow:hidden;
    }
    .container ul li a{
        width:100%;
        display: inline-block;
        text-decoration:none;
        color:gray;
        font-size: 0.85em;
        margin: 0px 30px 0px 0;
    }
     .container ul li a:hover{
        color:#539092;
     }

    .main_logo{
        width:8%;
        height:100%;
        float: left;
    }
    .main_logo_graph{
        width:30%;
        height:65%;
        margin-left: 31%;
        margin-top: 10%;
        overflow: hidden;
        border-radius: 60px;
        border: 1px solid #ccc;
    }
    .right_sentence{
        width:20%;
        height:100%;
        float: left;
    }
    .right_sentence p{
        font-size:0.8em;
        color:gray;
    }