<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创意灵感</title>
   <link href="../static/creation/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="header">
</div>
<div class="home">
  <div class="block1">
    <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block2">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
    <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block3">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block4">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block5">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block6">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block7">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>
  <div class="block8">
   <div class="head">
      <a class="ava" href="#">
        <img src="../static/creation/imgs/ava.png" style="width:40px;height:40px">
      </a>
      <a class="name" href="#">
      <span>用户名</span>
      </a>
      <a class="follow" href="#">
      <span>关注</span>
      </a>
      <div class="level">
        <img src="../static/creation/imgs/level.png" style="width:15px;height:15px">
        <span>等级</span>
      </div>
    </div>
    <div class="abstract">
      <a class="text" href="#">
      <span>创意简介</span>
      </a>
    </div>
    <div class="evaluate">
      <a class="collection" href="#">
      <img src="../static/creation/imgs/collection.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="comments" href="#">
      <img src="../static/creation/imgs/comments.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
      <a class="like" href="#">
      <img src="../static/creation/imgs/like.png" style="width:18px;height:18px">
      <span>0</span>
      </a>
    </div>
  </div>

</div>
<div class="intro">
<img src="../static/creation/imgs/idea.png" style="width:40px;height:40px;margin:20px 0px 0px 0px">
<span>创意灵感</span>
  <a><p>这是一段文字</p></a>
  <a><p>这是一段文字</p></a>
  <a><p>这是一段文字</p></a>
  <a><p>这是一段文字</p></a>
</div>
<div class="tag">
<img src="../static/creation/imgs/tag.png" style="width:20px;height:20px;margin:10px 0px 0px 10px">
<span>标签分类</span>
  <a href="#"><p>标签一</p>
  <a href="#"><p>标签二</p>
  <a href="#"><p>标签三</p>
  <a href="#"><p>标签四</p>
  <a href="#"><p>标签五</p>
  <a href="#"><p>标签六</p>
  </a>
</div>

<a class="more" href="#">
<span>更多…</span>
</a>
</div>
<div class="footer">
</div>
</body>
</html>