
{% extends 'idea/Base.html' %}
{% block title %}<title>创意灵感</title>{% endblock %}
{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'idea/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'creation/css/index.css' %}">
{% endblock %}
{% block content %}
    {% load static %}
    <div class="home-content">
        <div class="content-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="home-left">
                    {% for creation in creations %}
                        {% if creation.IsUse == True %}
                        <div class="block" id="block">
                            <div class="block-content">
                                <div class="block-img">
                                    <a href="crdetails?creationId={{ creation.Id}}"><figure><img src="../../static/photos/{{ creation.Img }} " style="width:310px;height:240px;"></figure></a>
                                </div>
                                <a class="block-title" href="crdetails?creationId={{ creation.Id}}">
                                <h5>{{ creation.Name }}</h5>
                                <!--<a class="block-intro">{{ creation.Describe | safe}}</a>-->
                                </a>
                            </div>
                            <!--<div class="level">-->
                            <!--<div class="rank">-->
                                <!--<img src="{% static 'creation/imgs/rank.png' %}"-->
                                     <!--style="float: left; height: 12px; margin: 2px 0 0 5px; width: 12px;">-->
                            <!--</div>-->
                            <!--<span>Rank{{ creation.user.Score }}</span>-->
                            <!--</div>-->
                            <div class="block-bottom">
                                <div class="block-user">
                                    <a class="ava" href="#">
                                        <img src="/static/photos/{{ creation.user.Img }}" style="width:40px;height:40px">
                                    </a>
                                    <a class="name" style="margin-top:26px" href="#">
                                        <span>{{ creation.user }}</span>
                                    </a>
                                </div>
                                <div class="block-hot">
                                    <a class="follow" creation={{ creation.Id }}>
                                        <img src="{% static 'creation/imgs/collection1.png' %}" style="width:20px;height:20px;" class="following">
                                        {% for follow in follows%}
                                        {% if follow.user_id == userId and follow.creation_id == creation.Id %}
                                        <img src="{% static 'creation/imgs/collections.png' %}" style="width:18px;height:18px;margin-left: -23px ">
                                        {% endif %}
                                        {%endfor%}
                                        <span class="followspan">{{ creation.Follow_Creation_set.count }}</span>
                                    </a>
                                    <a class="like" creation={{ creation.Id }}>
                                        <img src="{% static 'creation/imgs/like1.png' %}" style="width:18px;height:18px;">
                                        {% for praise in praises %}
                                        {% if praise.user_id == userId and praise.creation_id == creation.Id %}
                                        <img src="{% static 'creation/imgs/likes.png' %}" style="width:18px;height:18px;margin-left: -23px ">
                                        {% endif %}
                                        {% endfor %}
                                        <span class="likespan">{{ creation.Praise_Creation_set.count }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a class="more" id="more">加载更多</a>
                    </div>
                    <div class="home-right">
                        <div class="row">
                            <div class="intro">
                                <img src="{% static 'creation/imgs/light.png' %}" style="width:40px;height:40px;margin:-16px 0px 26px -10px">
                                <img src="{% static 'idea/imgs/idea_logo.png' %}" style="width:60px;height:40px;margin:0px 0px -10px 4px">
                                <p>&nbsp;&nbsp;&nbsp;创意是传统的叛逆，是打破常规的哲学，是思维碰撞，智慧对接，是具有新颖性和创造性的想法。来这里寻找和发布属于你的创意灵感！</p>
                                <a href="/idear/crcreate"><button class="add">添加</button></a>
                            </div>
                            <div class="tag">
                                <img src="{% static 'creation/imgs/tag.png' %}" style="width:20px;height:20px;margin-top:30px;float:left">
                                <p>标签</p>
                                <hr>
                                <a href="creations?sign=all" sign="all"><span class="allsign">所有</span></a>
                                {% for obj in projectLabels %}
                                <a href="creations?sign={{ obj.Id }}" sign="{{ obj.Id }}"><span class="allsign">{{ obj.ProjectLabelName }}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block script %}

    <script type="text/javascript" src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'creation/js/js.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'creation/js/jquery.grid-a-licious.min.js' %}"></script>-->
    <!--<script type="text/javascript">-->
			<!--//模拟滚动条滚动时随机添加内容-->
            <!--makeboxes = function() {-->
                <!--var boxes = new Array;-->
                <!--var amount = Math.floor(Math.random()*10);-->
                <!--for(i=1;i<amount;i++){-->
                    <!--num = Math.floor(Math.random());-->
                    <!--div = $('<div></div>').addClass('block');-->
                    <!--boxes.push(div);-->
                <!--}-->
                <!--return boxes;-->
            <!--}-->
			<!--//滚动条事件-->
			<!--$(document).ready(function () {-->
				<!--$(window).scroll(function () {-->
					<!--if(($(window).scrollTop() + $(window).height()) == $(document).height())-->
					<!--{-->
						<!--$(".home-left").gridalicious('append', makeboxes());-->
					<!--}-->
			<!--});-->
			<!--//主要部分-->
            <!--$("#device").gridalicious({-->
                <!--gutter: 20,-->
                <!--width: 300,-->
                <!--animate: true,-->
                <!--animationOptions: {-->
                        <!--speed: 150,-->
                        <!--duration: 400,-->
                        <!--complete:function(data){-->
						<!--}-->
                <!--},-->
            <!--});-->
        <!--});-->
    <!--</script>-->

{% endblock %}

