{% extends 'idea/Base.html' %}
{% block title %}<title>创意灵感</title>{% endblock %}
{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{%  static '/idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static '/creation/css/redetail.css' %}">


{% endblock %}
{% block content %}
    {% load static %}
<body bgcolor="#f1f1f1">
  <div class="container_b">
      <div class="home_b">
          <div class="tags">
              <span>标签</span>
          </div>
          <div class="text">
            <h1>创意题目</h1>
            <p>创意详情创意详情创意详情创意详情</p>
            <p>创意详情创意详情创意详情创意详情</p>
            <p>创意详情创意详情创意详情创意详情</p>
            <p>创意详情创意详情创意详情创意详情</p>
            <p>创意详情创意详情创意详情创意详情</p>
            <p>创意详情创意详情创意详情创意详情</p>
          </div>
      </div>
      <div class="main-right">
      <div class="person">
                    <!--此处为个人信息-->
          <div class="person-one">

              <button class="pbutton">关注</button>
              <div class="person-one-img">
                  <img src="{% static '/creation/imgs/tx.jpg' %}">
              </div>
          </div>
          <div class="person-two">
              <div class="person-header">
                  <a  class="pname" href="">用户名称aaaaa</a>
              </div>
              <div class="person-middle">
                  <div class="pscore">
                      <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                      <span>1000</span>
                  </div>
                  <div class="pid"><img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                      <span>身份</span>
                  </div>
              </div>
              <div class="person-footer">
              <div class="user-tag">前端</div>
              <div class="user-tag">美工</div>
              <div class="user-tag">IT</div>
            </div>
          </div>
      </div>

      <div class="comment">
      </div>
      </div>
      <div class="share">
      </div>
  </div>
{% endblock %}
{% block script %}

    <script type="text/javascript" src="{% static  'creation/js/jquery-1.8.3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'creation/js/js.js'%}"></script>


{% endblock %}
