{% extends 'idea/Base.html' %}
{% block title %}<title>创意灵感</title>{% endblock %}
{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{%  static '/idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static '/creation/css/redetail.css' %}">


{% endblock %}
{% block content %}
    {% load static %}
<body bgcolor="#f1f1f1">
  <div class="container-b">
      <div class="home-b">
          <div class="home-b-tags">
          <div class="tags">
              <span>标签1</span>
          </div>
          <div class="tags">
              <span>标签1</span>
          </div>
          <div class="tags">
              <span>标签1</span>
          </div>
          </div>
          <div class="home-b-head">
              <div class="home-b-logo">
                  <img src="{% static '/creation/imgs/tx.jpg' %}" style="width:100px;height:100px;">
              </div>
              <div class="home-b-title">
                  <h1>创意题目噜</h1>
              </div>
              <div class="home-b-ts">
                  <div class="home-b-time">
                      <h4>2017.04.20 23:33</h4>
                      <p>|</p>
                  </div>
                  <div class="home-b-share">
                      <img src="{% static '/creation/imgs/share.png' %}" style="width:15px;height:15px;">
                  </div>
                  </div>
          </div>
          <div class="text">
            <p>创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情</p>
          </div>
      </div>
      <div class="main-right">
      <div class="person">
                    <!--此处为个人信息-->
          <div class="person-one">

              <a href="#"><span class="pbutton">关注</span></a>
              <div class="person-one-img">
                  <img src="{% static '/creation/imgs/tx.jpg' %}">
              </div>
          </div>
          <div class="person-two">
              <div class="person-header">
                  <a  class="pname" href="">用户名称aaaaa</a>
              </div>
              <div class="person-middle">
                  <div class="pscore">
                      <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                      <span>1000</span>
                  </div>
                  <div class="pid"><img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                      <span>身份</span>
                  </div>
              </div>
              <div class="person-footer">
              <a href="#"><span class="user-tag">前端</a>
              <a href="#"><span class="user-tag">美工</a>
              <a href="#"><span class="user-tag">IT</a>
            </div>
          </div>
      </div>

      <div class="comment">
      </div>
      </div>
      <div class="share">
      </div>
  </div>
{% endblock %}
{% block script %}

    <script type="text/javascript" src="{% static  'creation/js/jquery-1.8.3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'creation/js/js.js'%}"></script>


{% endblock %}
