{% extends 'idea/Base.html' %}
{% block title %}<title>创意详情</title>{% endblock %}
{% block CSS %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static '/creation/css/redetail.css' %}">


{% endblock %}
{% block content %}
    {% load static %}
    <div class="container-b">
        <div class="main">
            <div class="main-left">
                <div class="home-b-all">
                    <div class="home-b-tags">
                        <div class="tags">
                            <span>标签1</span>
                        </div>
                        <div class="tags">
                            <span>标签2</span>
                        </div>
                        <div class="tags">
                            <span>标签3</span>
                        </div>
                    </div>
                    <div class="home-b-title">
                        <h1>创意题目噜啦噜</h1>
                        <p>2017.04.20 23:33&nbsp;&nbsp;|&nbsp;&nbsp;<a href="www.github.com">www.github.com</a></p>
                        <hr>
                    </div>
                    <div class="text">
                        <p>创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情</p>
                        <p>创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情创意详情</p>
                    </div>
                    <div class="home-b-foot">
                        <div class="home-b-share">
                            <a href="#" class="share-buttons"></a>
                            <a href="#" class="share-buttons"></a>
                            <a href="#" class="share-buttons"></a>
                            <a><img src="{% static '/creation/imgs/share.png' %}" style="width:16px;
    height:16px;">分享</a>
                        </div>
                        <div class="home-b-report">
                            <img src="{% static '/creation/imgs/report.png' %}" style="width:16px;
    height:16px;">
                            <a href="#">举报</a>
                        </div>
                        <div class="home-b-collection">
                            <img src="{% static '/creation/imgs/collection0.png' %}" style="width:16px;
    height:16px;">
                            <a href="#">收藏</a>

                        </div>
                    </div>
                    <div class="praise">
                        <span id="praise"><img src="{% static '/creation/imgs/like1.png' %}" id="praise-img" /></span>
                        <p><span id="praise-txt">1</span>人觉得很赞</p>
                        <span id="add-num"></span>
                    </div>
                </div>
                <div class="home-b-user">
                    <div class="user-img">
                        <img src="{% static '/creation/imgs/tx.jpg' %}">
                    </div>
                    <div class="user-name">
                        <p>啊啊啊啊啊啊</p>
                        <div class="user-intro">
                            <div class="user-score">
                                <img class="pimg" src="{% static 'project/imgs/score.svg'%}">
                                <span>1000</span>
                            </div>
                            <div class="user-id">
                                <img class="pimg" src="{% static 'project/imgs/id.svg'%}">
                                <span>身份</span>
                            </div>
                        </div>
                    </div>
                    <a href="#"><span class="user-follow">+</span></a>
                </div>
            </div>
                <div class="line">
                <hr>
                </div>
                <div class="word">
                    <p>你可能会对这些感兴趣</p>
                </div>
            <div class="main-right">
                <div class="similar-block">
                    <div class="block-title">
                        <a>创意题目</a>
                        <hr>
                        <div class="block-text">
                            <p>创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊创建简介啊啊啊啊啊啊啊啊啊</p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="comment">
                    <div class="ctitle"><h2>项目评论</h2></div>
                    <div class="cfooter">
                        <textarea class="w-input"></textarea>
                        <a href="javascript:;" class="tocomment">评论</a>
                    </div>
                    <div class="c-all">
                        {# 此处应为for循环                         #}
                        <div class="cmain">
                            <img class="cimg"  src="{% static 'project/imgs/user.svg'%}">
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name "><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                                    <span>2017-11-11</span>
                                    <img class="clike" src="{% static '/project/imgs/like1.png' %}"  >
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
{% block script %}

    <script type="text/javascript" src="{% static  'creation/js/jquery-1.8.3.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'creation/js/js.js'%}"></script>


{% endblock %}
