*{
	border:0px;
	padding:0px;
	margin:0px;
}
body,html{
	width:100%;
	height:100%;
	overflow-y:hidden;
}
.register{
    width:100%;
	height:100%;
    background-image: url("../imgs/181.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
.register1-1{
    width:40%;
	height:600px;
    float: left;
    margin-left: 30%;
    margin-top: 6%;
    border-radius: 50px;
    background-color: rgba(255,255,244,0.2);
}
/*.register1-2{*/
    /*width:90%;*/
	/*height:350px;*/
    /*float: left;*/
    /*margin-left: 5%;*/
    /*margin-top: 3.5%;*/
    /*border-radius: 30px;*/
    /*background-color: rgba(255,255,244,0.7);*/
/*}*/
.center1-1{
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 1px;
}
.input1-1{
    border: 2px solid #5E6C77;
    font-size: 1em;
    padding: .25em .5em .3125em;
    color: #5E6C77;
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
}
.register1-3{
    color: #E6E6FA;
    font-size:1.25em ;
    width: 20%;
    display: inline-block;
    text-indent: 1em;
}
.register1-4{
    color: #E6E6FA;
    font-size:1.25em ;
    width: 20%;
    display: inline-block;
    text-indent: 2em;
}
.register1-5{
    color: #E6E6FA;
    font-size:1.25em ;
    width: 20%;
    display: inline-block;
}
.register1-6{
   color: #E6E6FA;
    text-decoration: none;
}