<html>
<head>
    <meta http-equiv=content-type content="text/html;charset=utf-8">

	{%block title%} {%endblock%}
	<link rel="stylesheet" href="../../static/idea/css/index.css">
	{%block CSS%}{%endblock%}
	<title>首页</title>
</head>
<body >
	<div class="head">
    	<div class="header">
			<div class="logo">
				<!--<img src="../static/imgs/LOGO.png">-->
			</div>
				<div class="nav">

					<div class="mainnav" style=""><a href="">首页</a></div>
					<div class="mainnav"><a href="">招募项目</a></div>
					<div class="mainnav"><a href="">开发项目</a></div>
					<div class="mainnav"><a href="creations?sign=all">创意灵感</a></div>
					<div class="mainnav"><a href="">常驻团队</a></div>

				</div>
            <div class="search1">
				<div class="searchbar">
                    <form>
      				    <input id="search-left" type="text" placeholder="搜索从这里开始...">
    			    </form>
					<input id="search" type="submit" value="">
			    </div>
		    </div>
			<div class="sidebar">
				<a href="#">
					<!--<div class="login-img"></div>-->
					<div class="rlogin">登录</div>
				</a>
				<a href="#">
					<div class="rregsiter">注册</div>
					<!--<div class="regsiter-img"></div>-->
				</a>
			</div>
		</div>
		<div class="nav-bottom">
		</div>
	</div>

 {% block content %}

{% endblock %}

	<div class="footer">
		<div class="container">
			<ul>
				<li><a href="" >关于我们 </a> </li>
				<li><a href="" >服务规则  </a> </li>
				<li><a href="" >隐私条款</a></li>
				<li><a href="" >提出建议 </a></li>
			</ul>
			<p>创享 © 2017. All Rights Reserved.</p>
		</div>
	</div>
<script type="text/javascript" src="../../static/idea/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../static/idea/js/jquery.cookie.min.js"></script>

{%block script%}

{%endblock%}
</body>
</html>