<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="{% static 'idea/css/forgetPassword.css'%}">
</head>
<body>
        <div class="wrap">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div style="width: 100%;height: auto;">
                <div class="border_1">
    {#                <div style="height: 2px"></div>#}
                    <div class="line_1">
                        <img src="{% static 'idea/imgs/logogo1.png' %}" style="padding-top: 50px;" >
    {#            <p>好的创意应该大家分享</p>#}
    {#            <p>这里是大家的舞台，可以随意施展自己才华</p>#}
                    </div>
                    <div class="textbox_0">
    {#                    邮     &nbsp;箱:#}
                        <input type="text" class="input_1"  placeholder="邮箱"  id="e-mail"/>
                        <a href="javascript:void(0)" title="提示" class="warning" id="warn0">*</a>
                    </div>
                    <div class="textbox_1">
    {#                    新 密 码:#}
                        <input  type="password" class="input_1" placeholder="新 密 码" id="newPassword"/>
                        <a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
                    </div>
                    <div class="textbox_2">
    {#                    确认密码:#}
                        <input type="text"  class="input_1" placeholder="确认密码" id="confirmPassword"/>
                        <a href="javascript:void(0)" title="提示" class="warning" id="warn1">*</a>
                    </div>
                    <div class="textbox_11">
                         <div style="width: 100%;text-align: center;height: 50px;line-height: 50px;">
    {#                         验 证 码:#}
                             <input type="text"   class="input-2" placeholder="验 证 码" id="identifyingcode"/>
                             <img style="height: 40px;width: 13%;vertical-align:middle; " src=data:image/gif;base64,{{ img }}>
                         </div>
                    </div>
                    <div style="cursor: pointer;width:20% ;height:40px;margin-left: 60%;line-height: 40px;margin-top: 5px;">看不清换一张</div>
                    <div style="width: 100%;height: 50px;line-height: 50px;margin-top: 50px;text-align: center;">
                        <input type="button" onclick="finish()"  value="完成" class="finish"  />
                    </div>
                    <div class="back">
                        <input type="button" value="返回" class="back1-1" id="forgetback" onclick="javascript:history.back(-1);">
                    </div>
                </div>
    {#            <div class="border" >#}
    {#            </div>#}
            </div>
        </div>
{#            <div  class="logo">#}
{#                <img src="{% static 'idea/imgs/logo.png'%}" alt="">#}
{#            </div>#}
    <script type="text/javascript">
{#        $("#forgetback").click(function () {#}
{#            window.history.href=back(-1);#}
{#        })#}
    </script>
</body>
</html>