<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="{% static 'idea/css/forgetPassword.css'%}">
</head>
<body>
    <div class="wrap">
            <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            <div class="border_1">
{#                <div style="height: 2px"></div>#}
                <div class="textbox_0">
                    邮     &nbsp;箱:
                    <span><input type="text"style="margin-left: -18px;" class="input_1" id="e-mail"/></span>
                    <a href="javascript:void(0)" title="提示" class="warning" id="warn0">*</a>
                </div>
                <div class="textbox_1">
                    新 密 码:
                    <span><input  type="password" class="input_1" id="newPassword"/></span>
                    <a href="javascript:void(0)" title="提示" class="warning" id="warn2">*</a>
                </div>
                <div class="textbox_2">
                    确认密码:
                    <span><input type="text"  class="input_1" id="confirmPassword"/></span>
                    <a href="javascript:void(0)" title="提示" class="warning" id="warn1">*</a>
                </div>
                <div class="textbox_1">
                    验 证 码:
                    <span><input type="text"  class="input-2" id="identifyingcode"/></span>
                </div>
                <div style="cursor: pointer;width:20% ;height:30px;margin-left: 67%;line-height: 30px;">看不清换一张</div>
                <div style="width:100px ;height:30px;margin-left: 67%;float: left;">
                     <img style="height: 100%;width: 100%;" src=data:image/gif;base64,{{ img }}>
                </div>
                <div style="width: 100%;height: 50px;line-height: 50px;margin-top: 55px;">
                    <input type="button" onclick="finish()"  value="完成" class="finish"  />
                </div>
                <div class="back">
                    <input type="button" value="返回" class="back1-1" id="forgetback" onclick="javascript:history.back(-1);">
                </div>
            </div>
{#            <div class="border" >#}
{#            </div>#}
    </div>
{#            <div  class="logo">#}
{#                <img src="{% static 'idea/imgs/logo.png'%}" alt="">#}
{#            </div>#}
    <script type="text/javascript">
{#        $("#forgetback").click(function () {#}
{#            window.history.href=back(-1);#}
{#        })#}
    </script>
</body>
</html>