{% extends 'idea/Base.html'%}

{%block title%} 
   <title>首页</title>
{%endblock%}
{%block CSS%}
<link rel="stylesheet" href="../../static/idea/css/index.css">
{%endblock%}
{%block content%}
<div class="middle">
	<div class="content">
		<div class="top-content">
			<div class="top-content-information">
				<div class="top-name">
					<p style="font-size:1.2em">创享平台</p>
					<p style="font-size:0.8em;">Create  platform</p>
				</div>
				<div class="content-information">
					<div class="introduce">
						<p>Do you still have the talent to show and helpless?</p>
						<p>Are you still struggling to find like-minded partners?</p>
						<p>Here you will have an unexpected harvest.</p>
						<p>We are set to recruit talent,</p>
						<p>publish ideas and projects in one of the platform to meet all your needs.</p>
						<div class="introduce-line">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="mainprocess">
				<div class="mainprocess-name">
					<p>服务流程</p>
				</div>
				<div class="Usage">


				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}