{% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
    <title>首页</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'idea/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'idea/css/base.css'%}">
{%endblock%}
{%block script%}

{%endblock%}
{%block content%}
<div class="middle">
	<div class="content">
		<div class="top-content">
			<div class="top-content-information">
				<div class="top-name">
					<p style="font-size:1.2em">创享平台</p>
					<p style="font-size:0.8em;">Create  platform</p>
				</div>
				<div class="content-information">
					<div class="introduce">
						<p>Do you still have the talent to show and helpless?</p>
						<p>Are you still struggling to find like-minded partners?</p>
						<p>Here you will have an unexpected harvest.</p>
						<p>We are set to recruit talent,</p>
						<p>publish ideas and projects in one of the platform to meet all your needs.</p>
					</div>
					<div class="decoration">
						<div style='background-color:#E1F3EA;'></div>
						<div style='background-color:#9CCAC6;'></div>
						<div style='background-color:#3E7D67;'></div>
						<div style='background-color:#200C18;'></div>
						<div style='background-color:#E3E2E0;'></div>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="main-box">
				<div class="box-one-left">
					<h2>WHAT<small>are we doing</small></h2>
				</div>
				<div class="usage">
					<div class="usage_one">
						<div class="usage_icon">

						</div>
						<div class="usage_details">
							<div class="detail-name">
								<p>招募</p>
							</div>
							<div class="detail">
								<p>寻找伙伴，对于共同感兴趣的试验项目，进行一次愉快的合作。</p>
							</div>
						</div>
					</div>
					<div class="usage_one">
						<div class="usage_icon2">

						</div>
						<div class="usage_details">
							<div class="detail-name">
								<p>研发</p>
							</div>
							<div class="detail">
								<p>针对心仪的项目的一次创造实现，因其而展示能力的方方面面。</p>
							</div>
						</div>
					</div>
					<div class="usage_one">
						<div class="usage_icon3">

						</div>
						<div class="usage_details">
							<div class="detail-name">
								<p>分享</p>
							</div>
							<div class="detail">
								<p>一闪而过的灵感与创意，分享众人的快乐，等待发掘的价值。</p>
							</div>
						</div>
					</div>
					<div class="usage_one">
						<div class="usage_icon4">

						</div>
						<div class="usage_details">
							<div class="detail-name">
								<p>团队</p>
							</div>
							<div class="detail">
								<p>团体之间的密切合作，高效率的等待橄榄枝的撒抛。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mainbox_two" >

			</div>
			<div class="mainbox_three" id="main-box-two">

			</div>
			<div class="mainbox_three" id="main-box-two">

			</div>
			<div class="mainbox_four">
				<div class="mainbox_four_left">
					<div class="main_open">
						<div class="open_content" id="open_arrangement">
							<div class="open_top">
								<div class="open_writer">
									<h2>Open <small>your journey of exploration</small></h2>
								</div>
							</div>
							<div class="open_bottom">
								<a href="regist"><div class="open_button">开启</div></a>
							</div>
						</div>
					</div>
				</div>
				<div class="mainbox_four_right">
					<div class="mainbox_forward">
						<a href="#" ><div class="picture-1" id="picture"></div></a>
						<a href="#" ><div class="picture-2" id="picture"></div></a>
						<a href="#" ><div class="picture-3" id="picture"></div></a>
					</div>
				</div>
			</div>
			<a id="gotop" href="#"></a>
		</div>
	</div>
</div>
    <script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'idea/js/index.js'%}"></script>
{% endblock %}


