<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'idea/css/regist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'idea/css/sweet-alert.css' %}">
    <script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'idea/js/sweet-alert.min.js' %}"></script>
    <title>注册页面</title>
</head>
<body>
<div class="wrap">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        {#        <img class="div-top-img" src="{% static 'idea/imgs/logo1.png'%}">#}
    </ul>
    <div style="width: 100%;height: auto;">
        <div class="register1-1">
            <div class="line_1">
                <img src="{% static 'idea/imgs/logogo1.png' %}" style="padding-top: 50px;" >
        {#            <p>好的创意应该大家分享</p>#}
        {#            <p>这里是大家的舞台，可以随意施展自己才华</p>#}
            </div>
            <div class="center1-1 userNam" style="margin-top: 20px;">
        {#            <span class="register1-3">用户名：</span>#}
                <input type="text" name="name" value="{{ name }}" id="registname" placeholder="用户名"  class="input1-1">
            </div>
            {#        <div class="center1-1">#}
            {#            <span class="register1-4">账号：</span>#}
            {#            <input type="text" name="account" value="{{account}}" id="registaccount" size="30" placeholder="请输您的学号或工号" class="input1-1">#}
            {#        </div>#}
            <div class="center1-1">
        {#            <span class="register1-4">邮箱：</span>#}
                <input type="text" name="email" value="{{ email }}" id="registemail"  placeholder="请填写您的邮箱" class="input1-1">
            </div>
            <div class="center1-1">
        {#            <span class="register1-4">密码：</span>#}
                <input type="password" name="password" value="{{ password }}" placeholder="密码" id="registpassword" class="input1-1">
            </div>
            <div class="center1-1">
        {#            <span class="register1-5">确认密码：</span>#}
                <input type="password" name="ConfirmPassword" value="{{ ConfirmPassword }}" placeholder="确认密码" id="ConfirmPassword" class="input1-1">
            </div>
            <div class="inCodes">
        {#            <span class="register1-5">验证码：</span>#}
                <input type="password" name="incode" value="{{ inCode }}" placeholder="验证码" id="incode" class="input1-1">
                <input type="button" value="获取验证码" class="input1-21">
            </div>
            <div class="center1-4">
                <input type="checkbox" name="opinion" value="{{ opinion }}" id="registopinion" class="input1-11">
                <input type="button" value="我已阅读并同意《用户协议》" id="agreeing" class="input1-4">
            </div>
            <div class="center1-2">
                <input type="button" value="注  册" name="submit_btn" id="submit_btn" class="input1-2" onclick="registlogin()">
            </div>
        {#        <div class="center1-2">#}
        {#            <input type="button" value="重置" name="reset" id="reset" class="input1-3">#}
        {#        </div>#}
        {#        <div class="center1-1" style="clear: both;margin-top: 40px;">#}
        {#            已有账号，马上<a href="login" style="color: rgb(85, 107 ,47);text-decoration-color :rgb(0, 0 ,0);font-size: 20px;">登录</a>#}
        {#        </div>#}
            <div style="width: 100%;height: 45px;line-height: 45px;font-size: 18px;margin-top: 23px;">
                <div style="width: 30%;height: 45px;line-height: 45px;float: left;margin-left: 32.5%;text-align: right;">
                    已有账号？<a href="login" style="text-decoration: none;">马上登录</a>
                </div>
                <div style="width: 5%;height: 45px;float: left;margin-right: 32.5%">
                    <img src="{% static 'idea/imgs/向右长箭头.png' %}" style="width: 100%;height: 100%;vertical-align:middle;">
                </div>
            </div>
        {#        <div class="back">#}
        {#            <input type="button" value="返回" class="back1-1" id="forgetback" onclick="javascript:history.back(-1);">#}
        {#        </div>#}
        </div>
    </div>
</div>
<div class="pop-up">
    1. 重要须知： 腾讯在此特别提醒，用户（您）欲访问和使用QQ网站，必须事先认真阅读本服务条款中各条款，
    包括免除或者限制腾讯责任的免责条款及对用户的权利限制。请您审阅并接受或不接受本服务条款（未成年人审阅时应得到法定监护人的陪同）。如您不同意本服务条款及/或随时对其的修改，您应不使用或主动取消腾讯公司提供的服务。您的使用行为将被视为您对本服务条款全部的完全接受，包括接受腾讯对服务条款随时所做的任何修改。
    <div class="pop-up1">
        <input type="button" value="关闭" id="closing" class="pop-up1input">
    </div>
</div>
<script src="{% static 'base/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'idea/js/regist.js' %}"></script>
</body>
</html>