{% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
    <title>首页</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'idea/css/service.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
{%endblock%}

{%block content%}
<div class="middle">
    <div class="content">
        <div class="content1">
            <div class="content_title">
                <div class="title_name">
                    <p>Terms of Service</p>
                </div>
            </div>
            <div class="specific">
                <div class="specific_content">
                    <p>By using the C.X.com web site ("Service"), or any services of ("C.X"), you are agreeing to be bound by the following terms and conditions ("Terms of Service"). IF you are entering into this agreement on behalf of a company or other legal entity, you represent that you have the authority to bind such entity, its affiliates and all users who access our services through your account to these terms and conditions, in which case the terms "you" or "your" shall refer to such entity, its affiliates and users associated with it. IF you do not have such authority, or if you do not agree with these terms and conditions, you must not accept this agreement and may not use the services.</p>
                    <p>C.X reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://www.gurudigger.com/legal/terms/</p>
                    <p>Violation of any of the terms below will result in the termination of your Account. While C.X prohibits such conduct and Content on the Service, you understand and agree that C.X cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>
                    <p>A. Account Terms</p>
                    <ol>
                        <li>You must be 13 years or older to use this Service.</li>
                        <li>You must be a human. Accounts registered by "bots" or other automated methods are not permitted.</li>
                        <li>You must provide your at least one valid email address, and any other information requested in order to complete the signup process.</li>
                        <li>You are responsible for maintaining the security of your account and password. C.X cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
                        <li>You are responsible for all Content posted and activity that occurs under your account after you register.</li>
                        <li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws).</li>
                    </ol>
                    <p>B. Modifications to the Service and Prices</p>
                    <ol>
                        <li>C.X reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</li>
                        <li>C.X shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</li>
                    </ol>
                    <p>C. Copyright and Content Ownership</p>
                    <ol>
                        <li>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours. By setting your repositories to be viewed publicly, you agree to allow others to view.</li>
                        <li>C.X does not pre-screen Content, but C.X and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</li>
                        <li>The look and feel of the Service is copyright ©2016 C.X All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS, Javascript, or visual design elements or concepts without express written permission from C.X.</li>
                    </ol>
                    <p>D. General Conditions</p>
                    <ol>
                        <li>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</li>
                        <li>You understand that C.X uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
                        <li>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, C.X, or any other C.X service.</li>
                        <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by C.X.</li>
                        <li>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</li>
                        <li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any C.X customer, employee, member, or officer will result in immediate account termination.</li>
                        <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</li>
                        <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
                        <li>C.X does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</li>
                        <li>You expressly understand and agree that C.X shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if C.X has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>
                        <li>The failure of C.X to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and C.X and govern your use of the Service, superceding any prior agreements between you and C.X (including, but not limited to, any prior versions of the Terms of Service). You agree that these Terms of Service and Your use of the Service are governed under HK SAR law.</li>
                    </ol>
                    <p>E. Payment, Refunds, Upgrading and Downgrading Terms</p>
                    <ol>
                        <li>The Service is billed in advance and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.</li>
                        <li>For any upgrade or downgrade, your credit card that you provided will automatically be charged the new rate on your next billing cycle.</li>
                        <li>Downgrading your Service may cause the loss of Content, features, or capacity of your Account. C.X does not accept any liability for such loss.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'idea/js/index.js'%}"></script>
{% endblock %}


