{%extends 'personal/homepage.html'%}
{% load static %}
{%block title%}
   <title>我关注的</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
    <script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'personal/css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'personal/css/allfollow.css'%}">
{%endblock%}

{%block contents%}
<div class="operationItem">
    <ul>
        <li>项目栏</li>
        <li>灵感栏</li>
        <li>用户栏</li>
    </ul>
</div>
<div class="all_content">
    {% for follow in follows %}
        {% if follow.project %}
        <div class="mainContentPro">
            <div class="proCoverImg">
                <a href="redetails?projectId={{ follow.project.Id }} ">
                    <img src="../../static/photos/{{ follow.project.Img }}">
                </a>
            </div>
            <div class="proContent">
                <div class="proName">
                    <p>{{ follow.project.ProjectName }}</p>
                </div>
                <div class="proContentShow" >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ follow.project.Description }}
                </div>
                <div class="progressBar">
                    <div class="progress">
                        <span class="green"><span><li>当前项目进度： </li></span></span>
                    </div>
                </div>
            </div>
            <button type="button" class="deletePro btn btn-default" data-toggle="modal" data-target="#myModal" aria-label="Left Align" href="javascript:void(0)" onclick="showDeleteModal(this)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        {% endif %}
    {% endfor %}
</div>


{%endblock%}

{% block script %}
    <script type="text/javascript" src="{% static 'personal/js/homepage.js' %}"></script>
    <script type="text/javascript" src="{% static  'project/js/layer/layer.js' %}"></script>
    <script>
    //限制字符个数
        $(document).ready(function () {
            $(".proContentShow").each(function () {
                var maxwidth = 104;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '…')
                    ;
                }
            });
        });
    </script>
    <script>
{#    $(".deletePro").click(function () {#}
{#        alert("删除成功！");#}
{#    })#}
    $(".deletePro").click(function () {
        var messageId = $(this).val();
        var show = layer.open({
            type: 1,
            offset: '200px',
            resize: false,
            move: false,
            area: ['200px', '200px'],
            title: ['确定删除此消息？', 'font-size:18px;text-align:center;'],
            shade: 0.6,
            maxmin: false,
            anim: 0,//0-6的动画形式，-1不开启,
            content: '<button class="putreport" id="deleteputreport">取消</button> ' + '<button class="putreport" id="putreport">确定</button> '
        });
        $("#deleteputreport").click(function () {
            layer.close(show);
        });
        $("#putreport").click(function () {
            layer.close(show);
            $.post("unread_messages",{"messageId":messageId},function (data) {
                 data = JSON.parse(data);
                 if(data.status === 0){
                     alert("删除失败！");
                 } else {
                     alert("删除成功！");
                 }
            });
        });
    });
    </script>
    <script type="text/javascript">

    </script>
{% endblock %}