{%extends 'personal/editprofile.html'%}
{% load static %}
{%block title%}
   <title>更改密码</title>
{%endblock%}

{%block CSS%}
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.css'%}">
    <link rel="stylesheet" href="{% static 'personal/css/editprofile.css'%}">
    <link rel="stylesheet" href="{% static 'personal/css/change_password.css'%}">
{%endblock%}

{%block personalcontent%}
    <div class="container" style="color: rgba(0,0,0,0.6);" id="changepassword">
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 col-md-4" style="text-align: right;line-height: 50px;">旧密码：</div>
            <div class="col-xs-12 col-md-8">
                <input type="text" placeholder="旧密码" class="personalinput" id="personalinput" value="">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 col-md-4" style="text-align: right;line-height: 50px;">新密码：</div>
            <div class="col-xs-12 col-md-8">
                <input type="text" placeholder="新密码" class="personalinput" id="personalinput" value="">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 col-md-4" style="text-align: right;line-height: 50px;">确认密码：</div>
            <div class="col-xs-12 col-md-8">
                <input type="text" placeholder="确认密码" class="personalinput" id="personalinput" value="">
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 col-md-4" style="text-align: right;line-height: 50px;">验证码：</div>
            <div class="col-xs-12 col-md-8">
                <input type="text" placeholder="验证码" class="personalinput" id="personalinput" value="">
            </div>
        </div>
        <div class="row" style="text-align: center;margin-top: 20px;">
            <input type="button" class="personalinput1-8" value="提交">
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}