{%extends 'idea/Base.html'%}
{% load static %}
{%block title%}
   <title>编辑资料</title>
{%endblock%}
{% block CSS %}
    <link rel="stylesheet" href="{% static 'personal/css/editprofile.css'%}">
{% endblock %}

{% block content %}
    <div class="edithole">
        <div class="editbigbox">
            <div class="editright">
                编辑资料
            </div>
            <div class="editleft">
                <input type="button" value="返回主页" id="backhomepage" class="editleft1-1">
            </div>
        </div>
        <div class="editcontent">
            <div class="editcontent1-1">
                <table class="editcontent1-2">
                    <tr><td><a href="#" class="editcontent1-3">账号信息</a></td></tr>
                    <tr><td><a href="#" class="editcontent1-4">个人信息</a></td></tr>
                    <tr><td><a href="#" class="editcontent1-5">更改密码</a></td></tr>
                </table>
            </div>
            <div style="width: 2px;height: 690px;background-color:rgba(190,190,190,0.9);float: left; "></div>
            <div class="editmaincontect">
                <div class="accountinf">账号信息</div>
                <div style="width: 90%;height: 1px;background-color:rgba(190,190,190,0.9); margin-left: 5%;"></div>
                <div class="editmaincontect1-1">
                    <div class="editmaincontect1-2">
                        手机号码：
                    </div>
                    <div class="editmaincontect1-3"><a href="#" class="editmaincontect1-4">修改手机号码</a></div>
                    <div class="useremail">用户邮箱：</div>
                    <div class="myheadpicture">
                        <div class="myheadpicture1-2">
                            我的头像：
                        </div>
                        <div class="myheadpicture1-1">
                            <img src="{% static 'personal/imgs/touxiang.jpg'%}" style="height: 100%;height: 100%;border-radius: 50px;">
                        </div>
                        <div class="changepicture">
                            <a href="#" class="changepicture1-1">上传新头像</a>
                        </div>
                    </div>
                </div>
                <div class="thirdaccount">
                    第三方账号关联
                </div>
                <div style="width: 90%;height: 1px;background-color:rgba(190,190,190,0.9); margin-left: 5%;"></div>
                <div class="correlationaccount">
                    <div class="correlationaccount1-1">QQ</div>
                    <div class="correlationaccount1-2"><a href="#" class="correlationaccount1-3">关联QQ账号</a></div>
                    <div class="correlationaccount1-1">微博</div>
                    <div class="correlationaccount1-2"><a href="#" class="correlationaccount1-3">关联微博账号</a></div>
                    <div class="correlationaccount1-1">微信</div>
                    <div class="correlationaccount1-2"><a href="#" class="correlationaccount1-3">关联微信账号</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}