{%extends 'personal/homepage.html'%}
{% load static %}
{%block title%}
    <title>个人中心/创意灵感</title>
{%endblock%}

{%block CSS%}
    <link rel="stylesheet" href="{% static 'personal/css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'personal/css/perCreation.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
{%endblock%}

{%block contents%}
    <div style="width: 65%">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="tab1">
                        <input type="checkbox"> 全选
                    </th>
                    <th class="tab1">名称</th>
                    <th class="tab1">创建时间</th>
                    <th class="tab1">最近更改时间</th>
                    <th class="tab1">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for creation in creation %}
                <tr href="#" >
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <a href="" style="cursor :pointer">{{ creation.Name }}</a>
                    </td>
                    <td>{{ creation.Date }}</td>
                    <td>{{ creation.LastChange }}</td>
                    <td>
                        <a style="cursor :pointer">查看详情</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}
{% block script %}
    <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>
{% endblock %}