{% extends 'idea/Base.html'%}
{% load static %}
{%block title%}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>项目更改</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
{%endblock%}
{%block content%}

{% endblock %}
{%block script%}
    <script type="text/javascript" src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>
{%endblock%}