{%extends 'idea/Base.html'%}
{% load static %}
{%block title%}
   <title>发布项目</title>
{%endblock%}
{% block CSS %}

    <script type="text/javascript" src="{% static 'base/js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'base/js/bootstrap.js' %}"></script>
    <!-- include summernote css/js-->
    <link href="{% static 'editor/summernote.css' %}" rel="stylesheet">
    <script src="{% static 'editor/summernote.js' %}" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="main_block">
    <div class="release_pro">
        <div class="pro_edit">
            <h2>个人中心/新建项目</h2>
        </div>
        <div class="pro_chance">
            <div class="chance_ownname" id="openness" onclick="getInnerHTML()"><p>公开</p></div>
            <div class="chance_ownname"><a href="#"><p>暂存</p></a></div>
            <div class="chance_ownname chance_release"><button><p>发布</p></button></div>
        </div>
    </div>
    <div class="input_pro_title">
        <form>
            <input class="input_title" placeholder="请在这里输入标题" autocomplete="off" type="text">
        </form>
    </div>
    <div class="pro_owner">
        <div class="pro_founder">
            <p>创建人：</p>
            <div class="owner_name">
                <p id="username1"></p>
            </div>
        </div>
    </div>
    <div class="pro_status">
        <div class="now_status">
            <p>状态：创建中</p>
        </div>
    </div>
    <div class="main_pro_con" id="main_pro_con">
        <div class="add_img">
            <div class="chance_add">
                {% comment %}<div class="add_cover"><img src="">
                </div>{% endcomment %}
                <div id="tbody">
                    <div>
                        <p>
                            <input type="file" id="file" class="btn btn-default" style="height: 50px; width: 100px;" />
                            <br>
                            <input type="button" value="读取图像" onclick="readAsDataURL()" class="btn btn-default" />
                        </p>
                    </div>
                    <div id="result" name="result" style="width: 100px;height:100px;">图片显示区</div>
                </div>
                {% comment %}<div class="imgs_history">
                    <div class="his-line"></div>
                    <div class="picture_his">
                        <p>图片历史库</p>
                    </div>
                </div>
                <div class="pic_library">
                    <a href="#"><p>我的图片库</p></a>
                </div>{% endcomment %}
            </div>
        </div>
        <div class="rich_text" id="rich_text">
            <div id="summernote"></div>
        </div>
        <div class="chance_type">
            <div class="input_num">
                <p>所需人数</p>
                <input autocomplete="off" type="text" placeholder="数字">
            </div>
            <div class="end_time">
                <p>截止时间</p>

            </div>
            <div class="pro_label">
                <div class="chance_label">
                    <p class="pro_label_exh">项目类型</p>
                    <p class="chance_must">必选</p>
                </div>
                <div class="label_name">
                    {% for obj in labels %}
                        <div class="chance_pro_label" name="chance_pro_label" onclick="Myfunction()">{{ obj.ProjectLabelName}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

    <script type="text/javascript" src={% static "personal/js/release.js"%} ></script>
    <link rel="stylesheet" href="{% static 'personal/css/release.css'%}">
    <script type="text/javascript" src={% static "base/js/base.js"%} ></script>
    <script type="text/javascript">
        var result = document.getElementById("result");
        var file = document.getElementById("file");

        //判断浏览器是否支持FileReader接口
        if(typeof FileReader == 'undefined')  {
            result.InnerHTML = "<p>你的浏览器不支持FileReader接口！</p>";
            //使选择控件不可操作
            file.setAttribute("disabled", "disabled"); //使得之前操作失效，重新启动
        }

        function readAsDataURL() {
            //检验是否为图像文件
            var file = document.getElementById("file").files[0];
            if(!/image\/\w+/.test(file.type)) {
                alert("这不是图片文件！请检查！");
                return false;
            }
            var reader = new FileReader();
            //将文件以Data URL形式读入页面
            reader.readAsDataURL(file);
            reader.onload = function(e) {
                var result = document.getElementById("result");
                //显示文件
                result.innerHTML = '<img src="' + this.result + '" alt=""/>';
            }
        }
    </script>
    <script>
                $('#summernote').summernote({
                    height:700,
                    lang: 'zh-CN',
                    focus:true,
                     });
            </script>
{% endblock %}