{%extends 'personal/homepage.html'%}
{% load static %}
{%block title%}
   <title>未读消息</title>
{%endblock%}
{%block CSS%}
    <link rel="stylesheet" href="{% static 'personal/css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'personal/css/unread_messages.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'idea/css/sweet-alert.css' %}">
{%endblock%}

{%block contents%}
<div class="bigbox container-fluid">
{% for message in message_content %}
    <div class="row">
        <div style="float: left;width: 5%;height: 30px;"><span class="repo-language-color"></span></div>
        <div class="message_column1-1">{{ message.Content }}</div>
        <div style="width: 18%;line-height: 30px;float: left;">{{ message.Date }}</div>
        <div style="width: 10%;line-height: 30px;float: left;"><strong>消息等级:{{ message.Priority }}</strong></div>
        <div class="message_column1-2">
            <button value="{{ message.Id }}" class="btn btn-info btn-xs examine" onclick="">查看</button>
            <button value="{{ message.Id }}" class="btn btn-danger btn-xs delete" >删除</button>
        </div>
    </div>
{% endfor %}
</div>
{%endblock%}

{% block script %}
<script type="text/javascript" src="{% static 'idea/js/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'idea/js/sweet-alert.min.js' %}"></script>
<script type="text/javascript" src="{% static  'project/js/layer/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'personal/js/unread_message.js' %}"></script>
<script type="text/javascript" src="{% static 'personal/js/homepage.js' %}"></script>
{% endblock %}