@keyframes colorChange {
	0%,100% {
	opacity:0;
}
50% {
	opacity:.9;
}
}
.teamdetailsynopsis{
	width: 100%;
	height:190px;
	/*background-color: rgba(127,255,212,0.1);*/
	-webkit-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    -moz-box-shadow:-10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
	border-radius: 10px;
	padding: 5px;
	/*position: relative;*/
}
.teandetails11-1{
   width: 65%;
	height: 260px;
	margin-left: 17.5%;
	margin-right: 10%;
	margin-top: 5%;
	font-family: "Microsoft Yahei";
    border-top: rgba(220,220,220,0.5);
}
.teamdetailsynopsis1-1{
	width:100%;
	height: 60px;
	font-size: 25px;
	line-height: 60px;
	text-align: center;
}
.teamdetailsynopsis1-2{
	width:100%;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.6);
}
/*.teamdetailsynopsis1-3{*/
	/*width:45%;*/
	/*height: 50px;*/
	/*font-size: 20px;*/
	/*line-height: 50px;*/
	/*float: right;*/
	/*color: rgba(54, 54 ,54,0.6);*/
/*}*/
.teamdetailsynopsis1-4{
	width:100%;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.6);
}
.teamdetailsynopsis1-5{
	width:45%;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.6);
}
.teamdetailsynopsis1-6{
	width:100%;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: left;
	color: rgba(54, 54 ,54,0.6);
}
.teamdetailsynopsis1-7{
	width:100%;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.6);
}
.details{
	width: 30%;
	height:230px;
	-webkit-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    -moz-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    box-shadow:-10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
	border-radius: 10px;
	padding: 5px;
	margin-top: 100px;
	/*position:relative;*/
    float: left;
	margin-left: 16%;
}
/*.details1-1{*/
	/*width:100%;*/
	/*height: 50px;*/
	/*font-size: 22px;*/
	/*line-height: 50px;*/
	/*text-indent: 1.5em;*/
/*}*/
/*.details1-2{*/
	/*width:75%;*/
	/*height: 140px;*/
	/*font-size: 20px;*/
	/*margin-left: 0.5%;*/
	/*color: rgba(54, 54 ,54,0.6);*/
/*}*/
/*.detailspicture{*/
	/*width: 120px;*/
	/*height: 120px;*/
	/*float: left;*/
    /*border-radius: 14px;*/
/*}*/
/*.detailspicture1-1{*/
	/*width: 65%;*/
	/*height: 170px;*/
	/*float: left;*/
/*}*/
/*.detailspicture1-2{*/
	/*width: 90%;*/
	/*height: 50px;*/
	/*font-size: 20px;*/
	/*text-indent: 1.5em;*/
/*}*/
/*.detailspicture1-3{*/
	/*width: 90%;*/
	/*height: 90px;*/
	/*font-size: 16px;*/
	/*color: rgba(54, 54 ,54,0.6);*/
	/*margin-left: 8%;*/
/*}*/
/*.detailszan{*/
	/*text-align: right;*/
    /*cursor :pointer;*/
    /*display:block;*/
    /*width:17px;*/
    /*height:17px;*/
    /*z-index: 99;*/
/*}*/
/*.detailszan1-1{*/
	/*width: 20px;*/
	/*height: 20px;*/
	/*clear: both;*/
    /**/
/*}*/
/*.teamspeak{*/
    /*width: 22%;*/
	/*height:230px;*/
	/*-webkit-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);*/
    /*-moz-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);*/
    /*box-shadow:-10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);*/
	/*border-radius: 10px;*/
	/*padding: 5px;*/
	/*margin-top: 100px;*/
	/*!*position:relative;*!*/
    /*float: left;*/
/*}*/
.praise1{
    width: 14%;
    height: 30px;
    margin-top: 22px;
    float: right;
}
.praise1-1{
    width: 14%;
    height: 30px;
    margin-top: 21px;
    float: right;
}
.praise1-2{
    width: 17%;
    height: 30px;
    margin-top: 21px;
    float: right;
}
#praise11-2{
    cursor :pointer;
    display:block;
    width:20px;
    height:20px;
    z-index: 99;
}
#praise-txt11-2{
    font-size: 13px;
    height:25px;
    margin: -22px 18px;
    line-height:25px;
    display: block;
}
.praise11-2 img{
    width:100%;
    height:100%;
    display:block;;
}
.praise11-2 img.animation{
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;	/* Firefox */
    -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;	/* Opera */
}
.praise11-2 .hover , .add-num11-2 .add-animation.hover , #praise-txt11-2.hover{
    color: #EB4F38;
}
.hovers{
     color: #EB4F38;
}
#praise11-1{
    cursor :pointer;
    display:block;
    width:20px;
    height:20px;
    z-index: 99;
}
#praise-txt11-1{
    font-size: 13px;
    height:25px;
    margin: -22px 18px;
    line-height:25px;
    display: block;
}
.praise11-1 img{
    width:100%;
    height:100%;
    display:block;;
}
.praise11-1 img.animation{
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;	/* Firefox */
    -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;	/* Opera */
}
.add-num11-1{
    display:none;
}
.add-num11-1 .add-animation{
    color: #000;
    position:absolute;
    top:-15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    animation: mypraise 0.5s ;
    -moz-animation: mypraise 0.5s ;	/* Firefox */
    -webkit-animation: mypraise 0.5s ;	/* Safari 和 Chrome */
    -o-animation: mypraise 0.5s ;	/* Opera */
    font-style:normal;
}
.praise11-1 .hover , .add-num11-1 .add-animation.hover , #praise-txt11-1.hover{
    color: #EB4F38;
}

/*点赞图标放大动画开始*/
@keyframes myfirst
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}
/*点赞图标放大动画结束*/
/*点赞数量加减动画开始*/
@keyframes mypraise
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes mypraise /* Firefox */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes mypraise /* Safari 和 Chrome */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes mypraise /* Opera */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}
/*点赞数量加减动画结束*/
/*动态点赞结束*/
#praise11{
    cursor :pointer;
    display:block;
    width:17px;
    height:17px;
    z-index: 99;
}
#praise-txt11{
    font-size: 13px;
    height:25px;
    margin: -21px 18px;
    line-height:25px;
    display: block;
}
.praise11 img{
    width:100%;
    height:100%;
    display:block;;
}
.praise11 img.animation{
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;	/* Firefox */
    -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;	/* Opera */
}
.add-num11{
    display:none;
}
.add-num11 .add-animation{
    color: #000;
    position:absolute;
    top:-15px;
    left: 10px;
    font-size: 15px;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    animation: mypraise 0.5s ;
    -moz-animation: mypraise 0.5s ;	/* Firefox */
    -webkit-animation: mypraise 0.5s ;	/* Safari 和 Chrome */
    -o-animation: mypraise 0.5s ;	/* Opera */
    font-style:normal;
}
.praise11 .hover , .add-num11 .add-animation.hover , #praise-txt11.hover{
    color: #EB4F38;
}

/*点赞图标放大动画开始*/
@keyframes myfirst
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0%{
        width:17px;
        height:17px;
    }
    50%{
        width:25px;
        height:25px;
    }
    100% {
        width:17px;
        height:17px;
    }
}
/*点赞图标放大动画结束*/
/*点赞数量加减动画开始*/
@keyframes mypraise
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes mypraise /* Firefox */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes mypraise /* Safari 和 Chrome */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes mypraise /* Opera */
{
    0%{
        top:-15px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-20px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-25px;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-30px;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-35px;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}
/*点赞数量加减动画结束*/
/*动态点赞结束*/
/*.details1-3{*/
	/*width: 100%;*/
	/*height: 140px;*/
	/*border: none;*/
	/*background: transparent;*/
	/*scrollbar-base-color:rgba(30,144,255,0.1);*/
	/*scrollbar-highlight-color:transparent;*/
	/*!*font-family: kaiti;*!*/
	/*font-family: "Microsoft Yahei";*/
	/*font-size: 20px;*/
	/*resize: none;*/
	/*color: rgba(54, 54 ,54,0.6);*/
	/*text-indent: 1.5em;*/

/*}*/
.teamdetailadddiv{
	width: 12%;
	height: 30px;
	line-height: 30px;
	color: rgba(54, 54 ,54,0.6);
    float: left;
    /*margin-left: 68%;*/
    margin-top: 22px;
}
.details1-4{
	margin-left: 77%;
	position: relative;
}
.detailsinput1-1{
	border: 0 solid rgba(54, 54 ,54,0.6);
    font-size: 1em;
    padding: -0.25em .5em .3125em;
    color: #5E6C77;
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
    /*font-family: kaiti;*/
	font-family: "Microsoft Yahei";
}
#canvas{
	margin-top: -1000px;
	height: auto;
	width: 100%;
}
.historys{
	width: 75%;
	height: auto;
	margin-left: 14.5%;
	margin-right: 10.5%;
	margin-top: 3%;
	font-family: "Microsoft Yahei";
    clear: both;
}
.historys1-1{
	width: 100%;
	line-height: 30px;
	text-align: center;
	font-size: 27px;
	font-family: "Microsoft Yahei";
}
/*.historys1-2{*/
	/*width: 29%;*/
	/*height: 350px;*/
	/*border: solid 2px rgba(220,220,220,0.5);*/
	/*font-family: "Microsoft Yahei";*/
    /*float: left;*/
    /*margin-left: 3%;*/
    /*margin-top: 4%;*/
    /*border-radius: 20px;*/
    /*-webkit-box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.5);*/
    /*-moz-box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.5);*/
    /*box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.5);*/
/*}*/
.historys1-2:hover{
    -webkit-box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.8);
    -moz-box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.8);
    box-shadow: 10px 10px 10px 10px rgba(207, 207, 207,0.8);
}
.repo-language-color {
    position: relative;
    top:0.5px;
    margin-left: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
/*.historys1-3{*/
	/*width: 90px;*/
	/*height: 90px;*/
	/*border: 1px solid rgba(54, 54 ,54,0.1);*/
	/*float: left;*/
	/*margin-top: 3px;*/
	/*color: rgba(54, 54 ,54,0.6);*/
	/*font-family: "Microsoft Yahei";*/
    /*border-radius: 14px;*/
/*}*/
/*.historys1-4{*/
	/*width: 65%;*/
	/*height: 200px;*/
	/*float: left;*/
	/*font-family: "Microsoft Yahei";*/
/*}*/
.historys1-5{
	width: 90%;
	height: 20%;
	font-size: 16px;
	padding: 1%  0 0  5%;
	font-family: "Microsoft Yahei";
}
.historys1-6{
	width: 90%;
	height: 70%;
	font-size: 16px;
	padding: 0.8%  0 0  5%;
	color: rgba(54, 54 ,54,0.6);
}
/*.historys1-7{*/
	/*width: 100%;*/
	/*height: 32%;*/
	/*font-size: 16px;*/
	/*clear: both;*/
	/*text-indent: 1.5em;*/
	/*color: rgba(54, 54 ,54,0.6);*/
    /*padding: 0 6px;*/
/*}*/
.project_middle_text {
    font-size: 16px;
    color: rgba(54, 54 ,54,0.6);
	font-family: "Microsoft Yahei";
}
.spanwidth{
    padding: .15em .1125em;
    color: rgba(54, 54 ,54,0.6);
    border-radius: .25em;
    -webkit-transition: all .100s;
    transition: all .100s;
    /*font-family: kaiti;*/
	font-family: "Microsoft Yahei";
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin:1px 2px
}
.project_middle_icon-1 {
    margin-left: 10px;
    background-color: #3572A5;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	font-family: "Microsoft Yahei";
}

.project_middle_icon-2 {
    margin-left: 10px;
    background-color: #b07219;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	font-family: "Microsoft Yahei";
}

.project_middle_icon-3 {
    margin-left: 10px;
    background-color: #f1e05a;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	font-family: "Microsoft Yahei";
}
.comments{
    clear: both;
	width: 72%;
	height: auto;
	margin-left: 16%;
	margin-right: 9%;
	font-family: "Microsoft Yahei";
    min-height: 420px;
}
.comment1-1{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 27px;
	margin-top: 5px;
}
.comment1-2{
	width: 100%;
	height: 2px;
	background-color: rgba(95,158,160,0.6);
}
.headimage{
	width: 10%;
	height: 200px;
	float: left;
	margin-left: 17%;
	margin-top: -570px;
	border: 1px solid rgba(54, 54 ,54,0.1);
}
#headimgss:hover{
	width: 8%;
	height: 170px;
	float: left;
	margin-left: 18%;
	margin-top: -555px;
	border:3px solid rgba(132,112,255,0.5);
	cursor: pointer;
}
/*.teamlable{*/
	/*width: 14%;*/
	/*height: 230px;*/
	/*float: left;*/
	/*!*margin-right: 17%;*!*/
	/*margin-top: 90px;*/
    /*margin-left: 4%;*/
    /*overflow: hidden;*/
/*}*/
.teamlable1-1{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
}
.teamlable1-2{
	width: 100%;
	height: 3px;
	background: -webkit-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: -o-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: -moz-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: linear-gradient(-90deg,   #B0E2FF,#E0EEEE);
	opacity: 0.9;
}
.teamlable1-3{
	width: 100%;
	height: 200px;
}
.teamlable1-4{
	border: 1px solid rgba(54, 54 ,54,0.2);
    color: rgba(54, 54 ,54,0.5);
    border-radius: 5px;
    background: rgba( 181,181,181,0.05);
    -webkit-transition: all .100s;
    transition: all .100s;
    width: auto;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin:2px 3px;
    display: inline-block;
    padding: 0 2px;
}
.teamlable1-4:hover{
    background-color: #57cecd;
}
.hovera:hover{
    color: white !important;
}
.register1-3{
    font-size:1em ;
    width: 120px;
    display: inline-block;
    text-indent: 1em;
	color: rgba(54, 54 ,54,0.6);
}
.register1-2{
	font-size:1em ;
    width: 120px;
    display: inline-block;
    text-indent: 1em;
	color: rgba(54, 54 ,54,0.6);
}
.content-footer{
    width:98%;
    height: auto;
    /*background-color:  #FFFFFF;*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow:hidden;
    margin-top: 20px;
}
.comment{
    width:100%;
    height:auto;
    /*overflow:hidden;*/

}
.c-all1{
    width:100%;
    height:auto;

}
.ctitle{
    width:100%;
    height:8%;
    text-align: center;
    line-height: 50px;
}
.comment1-1{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 27px;
	margin-top: 5px;
}
.comment1-2{
	width: 100%;
	height: 2px;
	background-color: rgba(95,158,160,0.6);
}
.ctop{
    width:100%;
    height:150px;
}
.u-img{
    width:50px;
    height:50px;
    margin-left:8%;
    margin-top:3.5%;
}

.carea {
    width: 70%;
    height: 100px;
    float: right;
    margin: 50px 15% 0 0;
}
.tocomment{

    width:100%;
    height:50px;

}
.comment-text{
    width:100%;
    height: 40px;
    margin-top:2px;
    font-size: 20px;
    border-radius:5px;
    resize:none;
    line-height:1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: transparent;
    border: 1px solid #c6c8ce;
}

.putcomment{
    width:8%;
    height:30px;
    margin-top:5px;
    background-color: #3a87ad;
    border:none;
    float:right;
    border-radius:5px;
    color: #FFFFF0;
}

.cmain{
    height:150px;
    max-height: 112px;
}
.c-img{
    display:block;
    width:50px;
    height:50px;
    margin-left:8%;
    float:left;
}
.comment-box {
    width:  70%;
    height:80px;
    margin-left:15%;
	position: relative;
}
.comment-box:before,  .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	/*border-color: transparent  #8BCFCC;*/
	top: 15px;
	left: -11px;
}
.comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.comment-head {
	height:40%;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color:   #ABCDCB;

}
.comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.comment-name a {
	color: #283035;
}
.cdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0 10px 20px;
}
.c-option{
    float:right;
    width:20%;
    height:100%;
}
.clike{
    width:20px;
    height:20px;
    float:left;
    margin-top:6px;
}
.clike:hover{
    cursor: pointer;
}
.clikenum{
    display:inline-block;
    float:left;
    margin-top:8px;
    color: #999;
	font-size: 13px;
}
.creport{
    width:20px;
    height:20px;
    float:left;
    margin:7px 10px 0 10%;
}
.creport:hover{
    cursor: pointer;
}
.creply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 10%;
}
.creply:hover{
    cursor: pointer;
}
.comment-content {
	width:100%;
	height: auto;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color:   #ABCDCB;
}
.c-reply{
    width:88%;
    height:85px;
    margin-left: 14.6%;
}
.rc-img{
    display:block;
    width:40px;
    height:40px;
    float:left;
}
.rc-img::after{
    content: '';
	width: 60px;
	height: 2px;
	/*background: #c7cacb;*/
	position: absolute;
	top: 25px;
	left: -55px;
}
.rcomment-box {
    width:  73%;
    height:80px;
    margin-left: 7%;
	position: relative;
}
.rcomment-box:before,  .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent  #8BCFCC;
	top: 10px;
	left: -11px;
}
.rcomment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent  #ABCDCB;
	left: -12px;
}

.rcomment-head {
	height:40%;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color:  #ABCDCB;
}
.rcomment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.rcomment-name a {
	color: #283035;
}
.rcdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0 10px 20px;
}
.r-option{
    float:right;
    width:20%;
    height:100%;
}
.rclike{
    width:20px;
    height:20px;
    float:left;
    margin-top:8px;
}
.rclike:hover{
    cursor: pointer;
}
.rclikenum{
    display:inline-block;
    float:left;
    margin-top: 10px;
    color: #999;
	font-size: 13px;
}
.rcreport{
    width:20px;
    height:20px;
    float:left;
    margin:7px 10px 0 10%;
}
.rcreport:hover{
    cursor: pointer;
}
.rcreply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 10%;
}
.rcreply:hover{
    cursor: pointer;
}
.rcomment-content {
	width:100%;
	height: auto;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color:  #ABCDCB;
}

/*评论回复文本框*/
.commentreply{
    display:none;
}
.commentreplys{
    width:100%;
    height:40px;
    margin: 10px 0 10px 0;
    background-color:  #ABCDCB ;
    -webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.commentreply-text{
    width:90%;
    height: 30px;
    margin:5px 0 0 5px;
    border-radius:5px;
    resize:none;
    line-height:1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #c6c8ce;
}
/*回复举报框的样式*/
.report-text{
    width:84%;
    margin:40px 0 0 8%;
    height: 250px;
    border-radius:5px;
    resize:none;
    border: 1px solid #c6c8ce;
}
.putreport{
    width:50px;
    height:30px;
    float:right;
    margin:10px 40px 0 0;
    background-color: #3a87ad;
    border:none;
    border-radius:5px;
    cursor: pointer;
}


