.teamdetail {
	margin-top: 0;
	width:100%;
	/*height:100%;*/
	/*font-family: kaiti;*/
    background-color: rgba(205, 201, 201,0.1);
	background:linear-gradient(to bottom, rgba(238, 233 ,233,0.2)0%,rgba(205, 201, 201,0.1)100%);
	overflow: hidden;
}
/*.teamdetailfilter {*/
	/*width:100%;*/
	/*height:auto;*/
	/*position:relative;*/
	/*top:76px;*/
	/*left:0;*/
	/*background-color: rgba(99,184,255,0.2);*/
	/*animation:colorChange 30s ease-in-out infinite;*/
	/*animation-fill-mode:both;*/
	/*mix-blend-mode:overlay;*/
/*}*/
@keyframes colorChange {
	0%,100% {
	opacity:0;
}
50% {
	opacity:.9;
}
}
/*.teamdetaillandscape{*/
	/*position:relative;*/
	/*bottom:0px;*/
	/*left:0;*/
	/*width:100%;*/
	/*height:auto;*/
/*}*/
.teamdetailsynopsis{
	width: 40%;
	height:250px;
	/*background-color: rgba(127,255,212,0.1);*/
	-webkit-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    -moz-box-shadow:-10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
	border-radius: 10px;
	padding: 5px;
	/*position: relative;*/
	margin-left: 28%;
	margin-top: 6%;
}
.teamdetailsynopsis1-1{
	width:100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}
.teamdetailsynopsis1-2{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.8);
}
.teamdetailsynopsis1-3{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.8);
}
.teamdetailsynopsis1-4{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.8);
}
.teamdetailsynopsis1-5{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.8);
}
.teamdetailsynopsis1-6{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: left;
	text-indent: 2em;
	margin-left: 10%;
	color: rgba(54, 54 ,54,0.8);
}
.teamdetailsynopsis1-7{
	width:45%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	float: right;
	color: rgba(54, 54 ,54,0.8);
}
.details{
	width: 51%;
	height:230px;
	-webkit-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    -moz-box-shadow: -10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
    box-shadow:-10px 0px 10px rgba(205, 193, 197,0.1),10px 0px 10px rgba(205, 193, 197,0.1),0px 10px 10px rgba(205, 193, 197,0.1);
	border-radius: 10px;
	padding: 5px;
	margin-top: 100px;
	/*position:relative;*/
	margin-left: 17%;
}
.details1-1{
	width:100%;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
}
.details1-2{
	width:75%;
	height: 140px;
	font-size: 20px;
	margin-left: 10%;
}
.details1-3{
	width: 100%;
	height: 140px;
	border: none;
	background: transparent;
	scrollbar-base-color:rgba(30,144,255,0.1);
	scrollbar-highlight-color:transparent;
	/*font-family: kaiti;*/
	font-size: 20px;
	resize: none;
	color: rgba(54, 54 ,54,0.8);
	text-indent: 1.5em;

}
.teamdetailadddiv{
	width: 100%;
	height: 50px;
	line-height: 50px;
}
.details1-4{
	/*border: 1px solid rgba(54, 54 ,54,0.9);*/
    width: 100px;
    font-size: 1em;
    padding: .25em .5em .3125em;
    color: rgb(54,54,54);
    border-radius: .25em;
	cursor:pointer;
    /*background: transparent;*/
	background: -webkit-linear-gradient(-90deg,  #E0EEEE,#F0FFFF);
    background: -o-linear-gradient(-90deg,  #E0EEEE,#F0FFFF);
    background: -moz-linear-gradient(-90deg,  #E0EEEE,#F0FFFF);
    background: linear-gradient(-90deg,  #E0EEEE,#F0FFFF);
    opacity: 0.7;
    -webkit-transition: all .100s;
    transition: all .100s;
	/*font-family: kaiti;*/
	margin-left: 77%;
	margin-top: 6px;
	position: relative;
}
.details1-4:hover{
	background: -webkit-linear-gradient(-90deg,  #F0FFFF,#E0EEEE);
    background: -o-linear-gradient(-90deg,  #F0FFFF,#E0EEEE);
    background: -moz-linear-gradient(-90deg,  #F0FFFF,#E0EEEE);
    background: linear-gradient(-90deg,   #F0FFFF,#E0EEEE);
	opacity: 0.9;
}
.detailsinput1-1{
	border: 0 solid rgba(54, 54 ,54,0.9);
    font-size: 1em;
    padding: -0.25em .5em .3125em;
    color: #5E6C77;
    border-radius: .25em;
    background: transparent;
    -webkit-transition: all .100s;
    transition: all .100s;
    /*font-family: kaiti;*/
}
#canvas{
	margin-top: -1000px;
	height: auto;
	width: 100%;
}
.historys{
	width: 65%;
	height: auto;
	margin-left: 17%;
	margin-right: 10%;
	margin-top: 5%;
}
.historys1-1{
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
}
.historys1-2{
	width: 100%;
	height: 30%;
	border-bottom: solid 2px rgba(220,220,220,0.5);
	border-top:solid 2px rgba(220,220,220,0.5) ;
}
.historys1-3{
	width: 12%;
	height: 60%;
	border: 1px solid rgba(54, 54 ,54,0.1);
	float: left;
	margin-top: 3px;
}
.historys1-4{
	width: 86%;
	height: 62%;
	float: left;
}
.historys1-5{
	width: 95%;
	height: 40%;
	font-size: 40px;
	padding: 1%  0 0  5%;
}
.historys1-6{
	width: 95%;
	height: 50%;
	font-size: 20px;
	padding: 0.8%  0 0  5%;
	color: rgba(54, 54 ,54,0.8);
}
.historys1-7{
	width: 100%;
	height: 32%;
	padding-top: 1%;
	font-size: 20px;
	clear: both;
	text-indent: 1.5em;
	color: rgba(54, 54 ,54,0.8);
}
.project_middle_text {
    font-size: 20px;
    color: #586069;
}

.project_middle_icon-1 {
    margin-left: 10px;
    background-color: #3572A5;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.project_middle_icon-2 {
    margin-left: 10px;
    background-color: #b07219;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.project_middle_icon-3 {
    margin-left: 10px;
    background-color: #f1e05a;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.comment{
	width: 65%;
	height: auto;
	margin-left: 17%;
	margin-right: 10%;
	margin-top: 4%;
}
.comment1-1{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	margin-top: 5px;
}
.comment1-2{
	width: 100%;
	height: 4px;
	background-color: rgba(95,158,160,0.6);
}
.headimage{
	width: 10%;
	height: 200px;
	float: left;
	margin-left: 17%;
	margin-top: -570px;
	border: 1px solid rgba(54, 54 ,54,0.1);
}
#headimgss:hover{
	width: 8%;
	height: 170px;
	float: left;
	margin-left: 18%;
	margin-top: -555px;
	border:3px solid rgba(132,112,255,0.5);
	cursor: pointer;
}
.teamlable{
	width: 13%;
	height: 600px;
	float: right;
	margin-right: 17%;
	margin-top: -600px;
}
.teamlable1-1{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.teamlable1-2{
	width: 100%;
	height: 3px;
	background: -webkit-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: -o-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: -moz-linear-gradient(-90deg,  #B0E2FF,#E0EEEE);
    background: linear-gradient(-90deg,   #B0E2FF,#E0EEEE);
	opacity: 0.9;
}
.teamlable1-3{
	width: 100%;
	height: 540px;
}
.teamlable1-4{
	border: 1px solid rgba(54, 54 ,54,0.1);
    padding: .25em .2125em;
    color: #5E6C77;
    border-radius: .25em;
    background: rgba( 181,181,181,0.1);
    -webkit-transition: all .100s;
    transition: all .100s;
    /*font-family: kaiti;*/
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin:1px 4px
}
.register1-3{
    font-size:1em ;
    width: 120px;
    display: inline-block;
    text-indent: 1em;
	color: rgba(54, 54 ,54,0.8);
}
.register1-2{
	font-size:1em ;
    width: 80px;
    display: inline-block;
    text-indent: 1em;
	color: rgba(54, 54 ,54,0.8);
}

