html{
	height:auto;
	background: #f1f1f1 none repeat scroll 0 0;
}
.first {
	position: relative;
	font-family: 宋体;
	margin: 66px 68px 0;
	width:90%;

}
.clear{
	clear:both;
	width:100%;
	height: 50px;

}
.second{
	margin: 60px 40px 0;
	padding: 0;
	float: left;
	width: 30%;
	height: 350px;

}
 .border_0{
	 float: left;
	 height: 350px;
	 width: 100%;
	 margin: 10px 10%;
	 background-color:rgba(255, 255, 255, 1);
	 box-shadow: 0 5px 5px 0 rgba(211, 211, 211, 0.8);
 }

.photo_0{
	height: 130px;
	width: 35%;
	margin: 13px 10%;
	background-color:rgba(255, 255, 255, 0.6);
	z-index: 99;

}
.intro_0{
	font-weight: bold;
	font-size: 15px;
	width: 85%;
	margin: 30px 10% 0;
	z-index: 99;
}
.content_0{
	font-size: 13px;
	height: 150px;
	width: 85%;
	margin: 3px 2%;
	z-index: 99;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.referral{
	float: left;
	width: 50%;
	margin: -140px 45% 0;
}
.referral_0{
	font-weight: bold;
	margin: 15px 7%;
}

.broadSide{
	float: right;
	width: 23%;
	position:absolute;
	margin: -1720px 1084px;
}

.fish-1{
	height: 20%;
	width: 20%;
	margin: 2% 19%;
    -webkit-transform:skew(17deg);
    -moz-transform:skew(17deg) ;
    -o-transform:skew(17deg) ;
}
.classify{
	float: right;
    margin: 75px 154px;
    position: fixed;
}
.intro_1{
	width: 62%;
	height: 260px;
	margin: 99px 50px ;
	background-color:#8bcfcc;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 2px 2px #bdc3c7;
	opacity:0.8;
}
.intro_1 p {
	float: left;
	margin-left: 8%;
	text-align: left;
	width: 86%;
}
.add {
    background-color: #11999e;
    border: medium none;
    border-radius: 3px;
    color: #eeeeee;
    float: left;
    height: 30px;
    margin-left: 120px;
    width: 70px;
}