{%extends "include/Base.html"%}
{% block title %}用户标签{% endblock %}
{%block content %}

<div class="row-fluid">

						<div class="span12">

							<!-- BEGIN EXAMPLE TABLE PORTLET-->

		    					<div class="portlet box green">

								<div class="portlet-title">

									<div class="caption"><i class="icon-globe"></i>分值等级表单</div>


								</div>

								<div class="portlet-body">

									<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">

										<thead>

											<tr>

												<th>序号</th>

												<th>名称</th>

												<th class="hidden-480">是否可用</th>

											</tr>

										</thead>

										<tbody>
                                            {% for Label in ProjectLabel %}
											<tr>

												<td>{{ Label.Id }}</td>

												<td>{{ Label.ProjectLabelName }}</td>

												<td>{{ Label.IsUse }}</td>

											</tr>
                                            {% endfor %}


										</tbody>

									</table>

								</div>

							</div>

							<!-- END EXAMPLE TABLE PORTLET-->

							<!-- BEGIN EXAMPLE TABLE PORTLET-->


							<!-- END EXAMPLE TABLE PORTLET-->

						</div>

					</div>
{% endblock %}
