{% extends "../base/Base.html"%}
{% block title %}
    ProFile
{% endblock %}

{% block pagetitle %}
HelloWord
{% endblock %}

{% block body %}
<div class="wrapper">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="profile-pic text-center">
                                        <img alt="用户头像" src="/static/photos/{{ user.Img }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <ul class="p-info">
                                        <li>
                                            <div class="title">姓名</div>
                                            <div class="desk">{{ user.UserName }}</div>
                                        </li>
                                        <li>
                                            <div class="title">账号</div>
                                            <div class="desk">{{ user.Account }}</div>
                                        </li>
                                        <li>
                                            <div class="title">身份</div>
                                            {% if user.Identity == 0 %}
                                                <div class="desk">学生</div>
                                            {% elif user.Identity == 1 %}
                                                <div class="desk">教师</div>
                                            {% elif user.Identity == 2 %}
                                                <div class="desk">团队</div>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <div class="title">性别</div>
                                            {% if user.Identity == 0 %}
                                                <div class="desk">男</div>
                                            {% elif user.Identity == 1 %}
                                                <div class="desk">女</div>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <div class="title">邮箱</div>
                                            <div class="desk">{{ user.Email }}</div>
                                        </li>
                                        <li>
                                            <div class="title">分数</div>
                                            <div class="desk">{{ user.Score }}</div>
                                        </li>
                                        <li>
                                            <div class="title">注册时间</div>
                                            <div class="desk">{{ user.RegistTime }}</div>
                                        </li>
                                        <li>
                                            <div class="title">电话</div>
                                            {% if  user.RegistTime %}
                                                <div class="desk">{{ user.RegistTime }}</div>
                                                {% else %}
                                                <div class="desk">用户暂时未填写</div>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <div class="title">电话</div>
                                            <div class="desk">{{ user.Phone  }}</div>
                                        </li>
                                        <li>
                                            <div class="title">详细信息</div>
                                            <div class="desk">学校：{{ user.School }}  <br>学院：{{ user.Institude }} <br> 专业： {{ user.Major }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}