
.main-left{
    margin-left: 5%;
    width:65%;
    float:left;
}
.content-footer{
    margin-left: 5%;
    margin-top:40px;
    width:65%;
    float:left;
}
.main-right{
    width:20%;
    height:auto;
    position: fixed;
    float:left;
    margin-left:60%;
    /*background-color:#E3F3F7;*/
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;


}
.pro-message{
    width:65%;
    height:auto;
    overflow: hidden;
    float:left;
    background-color: #ffffff;
    margin-left: 5%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 40px;

}
.pr-header{
    width: 55%;
    height: 40px;
    line-height: 50px;
    position: absolute;
    margin-top: -8px;
    margin-left: -6px;
    /* overflow: hidden; */
    font-size: 15px;
}
.home-b-user{
    width:90%;
    height:85px;
    background-color:white;
    margin:100px 0 30px 15px;
    box-shadow:1px 1px 1px 1px #9999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.home-b-joiner{
    width:90%;
    height:85px;
    background-color:white;
    margin:20px 0 0 15px;
    box-shadow:1px 1px 1px 1px #9999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.user-img {
	width:70px;
	height:70px;
	float:left;
	margin-left:5%;
	overflow:hidden;
	margin-top:2%;
	border-radius:50%;
}
.user-img img {
	width:100%;
	height:100%;
}
.user-message{
    display: inline-block;
	font-family: 幼圆;
	font-size: 18px;
	font-weight:bold;
	width: 200px;
	height:auto;
	float:left;
	margin:20px 0 0 10px;

}
.user-intro {
	width:100%;
	height:15%;
	margin-top:4%;
    margin-left:-0.5%;
	float:left;
	color:gray;
}
.user-score {
	width:65px;
	height:100%;
	font-size:13px;
	float:left;
	color:gray;
}
.pimg {
	width:16px;
	height:16px;
	vertical-align:middle;
}
.user-id {
	width: 90px;
	height:100%;
	font-size:13px;
	float:left;
	margin-left:10px;
}
.user-name{
	display:inline-block;
}

.pr-detail{
    width:90%;
    height:auto;
    margin-top: 90px;
}
.ctop{
    margin-top: 50px;
}
.report{
    padding:6px 6px;
    font-size:18px;
}
.op-tip{
    width:460px;
}
.home-b-more{
    width:120px;
    float:left;
    font-size:18px;
    margin: 2px 0 0 20px;
    cursor: pointer;
}
.home-b-collection{
    float:left;
    width:75px;
    font-size:18px;
    margin: 2px 0 0 8px
}

.home-b-share {
	width:75px;
	float:left;
	font-size:18px;
    margin-top: -114px;
    margin-left:5px;

}
.home-b-comment {
	width:75px;
	float:left;
	font-size:18px;
    margin-left:5px;
    cursor: pointer;
}
.otherpeople{
    width:90%;
    height:auto;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow:1px 1px 1px 1px #9999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.box-body{
    padding:10px;
}
.ribbon3{
    top:15px;
}
.pr-detail p{
    display:block;
    margin:20px;
}
