.bg_all {
    width: 80%;
    height:1000px;
    overflow: hidden;
    margin: 66px auto 50px;

}
body, html {
    background-color: #f1f1f1;
    transition: 0.2s ease-out;
    min-width: 1300px;
    max-width: 3000px;
}

.bg_left {
    float: left;
    width: 75%;
    height: 800px;
    margin: 0 0 0 2.5%;
}
.bg_right {
    float: left;
    width: 75%;
    height: 800px;
    margin: 0 0 0 2.5%;
}

.project_top {
    width: 41%;
    height: 305px;
    float: left;
    left: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px #c0c7d0;
    /*display: none;*/
    margin: 30px 2% 0 4.5%;
}

.project_top:hover, .project_bottom:hover {
    box-shadow: 10px 10px 5px #888888;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.project_top img {
    overflow: hidden;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 10%;
    text-decoration: none;
}

.project_top a {
    display: block;
    text-decoration: none;
}

.project_top p, .project_top h5 {
    color: #0e0e0e;
}
.bg_all P,span{
    font-size: 12px;
}
.project_top_1_left {
    width: 35%;
    height: 35%;
    float: left;
}
.project_img{
    opacity:1;
}
.project_img:hover{
    opacity:0.8;
    transition: 0.5s ease-out;
}
.project_top_1_right {
    width: 65%;
    height: 35%;
    float: right;
}

.project_top_1_right-span {
    text-align: center;
    margin-top: 20px;
    display: block;
    position: relative;
    font-size: 15px;
    margin-left: 20px;
    width: 80%;
    font-style: inherit;
    font-weight: bold;
}

.project_top_1_text {
    color: #586069 !important;
    overflow: hidden;
    width: 90%;
    height: 80%;
    margin: auto;
    left: 25px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.project_top h5 {
    margin-right: 15%;
    float: right;
    margin-top: 10%;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    ext-indent: 25px;
}

.project_middle {
    margin-top: 8%;
    /*height: 10px;*/
    float: left;
    margin-bottom: 2px;
}
.project_middle_fix{
    margin-left: 10px;
    font-size: 12px;
    color: #0e0e0e;
}
.project_middle_text {
    font-size: 12px;
    color: #586069;
}

.project_middle_icon {
    margin-left: 10px;
    background-color: #3572A5;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.project_middle_icon-2 {
    margin-left: 10px;
    background-color: #b07219;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.project_middle_icon-3 {
    margin-left: 10px;
    background-color: #f1e05a;
    top: 1px;
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.project_Text_Bg {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 7%;

}

.project_bottom_top {
    width: 100%;
    height: 45%;
    margin-top: 38%;

}

.project_bottom_left {
    float: left;
    width: 100%;
    height: 100%;
    margin-left: 0%; /*定位有问题*/
    margin-top: 10%; /*2017.10.11.9.31新加*/
}

.FixText {
    /*float: left;*/
    margin-top: 2px;
    font-size: 13px;
    margin-left: 10%;
    list-style-type: none;
}

.FixText-right {
    font-size: 13px;
    float: right;
    margin-right: 25px;
    width: 60%;
    text-align: center;
}
.project_sign {
    /*margin-left: 28px;*/
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.progress {
    height: 20px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
    width: 80%;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
    bottom: 10px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.progress > span {
    position: relative;
    float: left;
    /*margin: -5% 20px;*/
    min-width: 30px;
    height: 18px;
    z-index: 10;
    line-height: 16px;
    text-align: right;
    background: #cccccc;
    border: 1px solid;
    border-color: #bfbfbf #b3b3b3 #9e9e9e;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.progress > span > span {
    padding: 0 8px;
    font-size: 11px;
    font-weight: bold;
    color: #404040;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    /*text-align: center;*/
    left: 0;
    position: absolute;
    z-index: 999;
    overflow: auto;
}
.progress > span > span>li{
    /*position: absolute;*/
    width: 200px;
    height:100px;
    display: block;
    z-index: 222;

}
.progress > span:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 18px;
    background: url('../imgs/progress.png') 0 0 repeat-x;
    border-radius: 10px;
}
.progress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -moz-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: -o-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
  background-image: linear-gradient(to bottom, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);
}
.home-right {
    width: 360px;
    position: fixed;
    margin:30px 0 0 63%;
}
.home-right p,span{
    font-size: 15px;
}
.intro {
	width:100%;
	height:401px;
	float:right;
	margin-top: 30px;
	background-color:#8bcfcc;
	box-shadow: 10px 10px 2px 2px #bdc3c7;
    border-radius:10px 10px;
	opacity:0.8;
}
.pro{
    margin-top: 25px;
}
.tag {
	width: 100%;
	height:auto;
	float:right;
}
.tag hr {
	border: 0;
	border-top: 1px solid #c0c5cd;
	margin-bottom: 15px;
	margin-top: 10px;
	position: relative;
}
.tag hr:before {
	content: '';
	width: 60px;
	height: 4px;
	background-color: #57cecd;
	position: absolute;
	bottom: 0;
}
.tag a {
	font-size: 15px;
	text-decoration: none;
}
.tag img{
    vertical-align:text-bottom;
}
.tag span {
	display: inline-block;
	margin-bottom: 5px;
	font-family:幼圆;
}


.allsign {
	border: 1px solid #c0c5cd;
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 6px 15px;
	color: #a9b1b5;
}
.allsign:hover {
	color: #fff;
	background-color: #57cecd;
}
.Tag_choose{
    color: #fff;
	background-color: #57cecd;

}
.add:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}
.add {
	background-color: #57cecd;
	border: medium none;
	border-radius: 3px;
	box-shadow: 0 5px 0 0 #2ca4bf;
	color: #eeeeee;
	float: left;
	height: 33px;
	margin-left: 180px;
	margin-top: 10px;
	width: 70px;
	font-family: 幼圆;
	font-size:17px;
	font-weight:bold;
}
.project_get_more{
    position: absolute;
    bottom:-200px;
    width: 860px;

}
.load-more {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #a5a7aa;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    color: #757779;
    outline: 0;
    text-decoration: none;
}
.more {
	width:100%;
    display:none;
	height:30px;
	text-align: center;
	float:left;
    cursor: pointer;
	margin-top:630px;
	background-color:white;
	border-radius: 3px;
	box-shadow: 2px 2px 2px 2px #bdc3c7;
}
.f-weight {
    font-weight: 500;
}
.load-more:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
.best-pro{
    width:100%;
    height:360px;
    /*margin-top: 30px;*/
    border-radius:15px;
    box-shadow:10px 10px 5px #c0c7d0;
    overflow: hidden;
}
.pro-logo{
    margin-right:75px;
    width:230px;
    height:150px;
}
.pro-logo img{
    margin-top:5px;
    width:100%;
    height:145px;
}
.pro-logo:hover{
    transform:scale(1.05);
    -ms-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.1);
    -moz-box-shadow: 5px 5px 4px #888888;
    box-shadow: 5px 5px 4px #888888;
    transition: 0.2s ease-out;
}
.pro-label{
    margin-right:75px;
    width:230px;
    margin-top: 5px;
}
.pro-label span{
    margin-right: 20px;
}
.pro-name{
    font-size: 25px;
}
.pro-des{
    height:100px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
.ribbon2 {
  display: inline-block;
  width: 45px;
  padding: 10px 0;
  background: #7495B7;
  top: 3px;
  left: 310px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  border-top-left-radius: 3px;
}
.ribbon2:after {
    content: "";
    position: absolute;
}
.ribbon2:after {
    height: 0;
    width: 0;
    border-left: 22px solid #7495B7;
    border-right: 23px solid #7495B7;
    border-bottom: 30px solid transparent;
    bottom: -30px;
    left: 0;
}
.pro-bottom{
    width:250px;
    height:20px;
}
.pro-bottom span{
    display: inline-block;
    margin: 3px 5px 0 2px;
    float:left;
}
.pro-like{
    float:left;
}
