body{
    background-color: #EEEEEE;
}
.main {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.content-all{
    margin-top:100px;
    width:80%;
    height:auto;
}

.main-left{
    float:left;
    width:70%;
    height: auto;
    margin-left: 15%;
    }
/*项目详情*/
.content-top {
    width: 100%;
    height:  auto;
    display: inline-block;
    position: relative;
    float: left;
    background-size: cover;
    text-transform: uppercase;
    color: white;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.content-main{
    width:100%;
    height:150px;
}
/*项目详情标签*/
.tags {
    top: -8px;
    right: 10px;
    margin:-3px 10px 0 0;
    }
.ribbon1{
    float:right;
    margin-left:2%;
    margin-right:1%;
    position: relative;
    display: inline-block;
    text-align: center;
    background:  #7495B7;
    font-size: 1em;
    line-height: 1px;
    padding: 26px 8px 15px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    width: 8%;
    top:-4px;
    min-width:81px;

}
.tags span:before, .tags span:after {
    position: absolute;
    content: "";
    display: block;
}
.tags span:before {
    background: #7495B7;
    height: 4px;
    width: 6px;
    left: -6px;
    top:0;
}
.tags span:after {
    background: #205D67;
    height: 5px;
    width: 8px;
    border-radius: 8px 8px 0 0;
    left: -8px;
    top:0;
}
.title{
    width:80%;
    height:60%;
    float:left;
    margin-left:10%;
    color:black;
    font-size:2.5em;
    text-align:center;
    font-family:宋体;
}
.ptime{
    display:inline-block;
    color: gray;
    font-family: 幼圆;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 8px;
}
.description{
    height:auto;
    width:100%;
}
.des{
    height:auto;
    width:85%;
    font-size: 18px;
    color:black;
}

.option{
    width:85%;
    height:100px;
    color:black;
    margin-top:40px;
}
.likebutton{
    display: inline-block;
    width:13%;
    height:50%;
    margin:11px 0 0 0;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    border: 1px solid   #539092 ;
    border-radius: 10px;
    /*background-color:#ffffff ;*/
    float:left;
    background-color: #ffffff;
}

.likebutton:hover{
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.plikenum{
    display:block;
    width:40%;
    height:25px;
    float:right;
    font-size: 20px;
    margin-right:10px;
}

.likebutton:active{
    background-color: #ffffff;
    border-radius: 10px;
}
.plike{
    width:30%;
    height:60%;
    float:left;
    margin-left:10%;
    color: #8590a6;
}
.op-tip{
    width:333px;
    height:40px;
    float:right;
    margin-top: 18px;
}
.home-b-collection{
    float:left;
    width:75px;
    font-size:18px;
    margin: 2px 0 0 18px;
}

.home-b-share {
	width:75px;
	float:left;
	font-size:18px;
    margin-top: -114px;
    margin-left:5px;

}
.home-b-comment {
	width:75px;
	float:left;
	font-size:18px;
    margin-left:5px;
    cursor: pointer;
}
.share-icon{
    margin:20px auto 0;
}
.share-buttons {
	border-radius: 50%;
	display: block;
	position: relative;
	font-size:15px;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.share-buttons:active,
.share-buttons:focus,
.share-buttons:hover {
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.share-buttons:not(:last-child) {
	width: 25px;
	height: 25px;
	margin: 10px auto 10px;
	opacity: 0;
	-webkit-transform: translateY(50px);
	-ms-transform: translateY(50px);
	transform: translateY(50px);
}
.home-b-share:hover
.share-buttons:not(:last-child) {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
/* Unessential styling for sliding up buttons at differnt speeds*/

.share-buttons:not(:last-child):nth-last-child(2) {
	-webkit-transition-delay: 50ms;
	transition-delay: 20ms;
	background-image: url(../../project/imgs/weibo.svg);
	background-size: contain;
}
.share-buttons:not(:last-child):nth-last-child(3) {
	-webkit-transition-delay: 75ms;
	transition-delay: 40ms;
	background-image: url(../../project/imgs/weixin.svg);
	background-size: contain;
}
.share-buttons:not(:last-child):nth-last-child(4) {
	-webkit-transition-delay: 100ms;
	transition-delay: 60ms;
	background-image: url(../../project/imgs/qq.svg);
	background-size: contain;
}
.home-b-report{
    float:right;
    width:70px;
    font-size:18px;
    margin-left: 5px;
    cursor: pointer;
}

.prcontent{
    font-size: 20px;
}
.tip{
    width:10%;
    height:25%;
    float:right;
}

/*招募帖*/
.content-middle{
    width:100%;
    height:auto;
    overflow:hidden;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.rmain{
    width:100%;
    height:auto;
    font-size:15px;
    overflow: hidden;
}
.rm-header{
    width:55%;
    height:150px;
    line-height: 50px;
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    /*overflow: hidden;*/
    font-size: 15px;
}
.r-message{
    display:block;
    margin:75px 0 0 70px;
    color: gray;
    font-family: 幼圆;
    font-size: 18px;
    font-weight: lighter;
    width:60%;

}
.ribbon3 {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 50px;
    font-size:30px;
    font-family:幼圆;
    font-weight:bold;
    line-height: 50px;
    padding-left: 15px;
    background: #7495B7;
    left: -2px;
    top: 30px
}
.ribbon3:before, .ribbon3:after {
    content: "";
    position: absolute;
}
.ribbon3:before {
   height: 0;
   width: 0;
   border-bottom: 8px solid #7495B7 ;
   border-left: 8px solid transparent;
   top: -8px;
   left: 0;
}
.ribbon3:after {
   height: 0;
   width: 0;
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   border-left: 15px solid #7495B7;
   right: -15px;
}
.lastday{
    float:right;
    width:130px;
    height:130px;
    margin:10px 10px 0 0;
}
.size1 {
    display:inline-block;
    color: #a1a1a1;
    line-height: 30px;
    font-size:20px;
    margin:3% 0 0 3px;
}
.size2 {
    display:inline-block;
    font-size: 38px;
    height:40px;
    width:40px;
    color: #1b1b1b;
    margin:12px 10px 0 0;
    text-align: center;
}
.size3 {
    display:inline-block;
    font-size: 20px;
    color: #6d6d6d;

}
.rm-nav{
    width:20%;
    height:40px;
    margin-top:150px;
    margin-left:5%;
    font-size:20px;
}
.rm-middle{
    width:100%;
    height:auto;
    overflow: hidden;
}
.rimg{
    width:30px;
    height:30px;
    vertical-align:middle;
}
.rcontent{
    width:85%;
    height:auto;
    overflow: hidden;
}
.rcontent-main{
    width:60%;
    height:auto;
    float:left;
    font-size: 18px;
    margin-top:30px;
}
.rfcontent{
    margin-top:3%;
    width:16%;
    height:75%;
    overflow: hidden;
}
.r-number{
    float:right;
    width:230px;
    height:250px;
}
/*圆形进度条*/
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #7495B7;
}
.ppc-progress {
      content: "";
      position: absolute;
      border-radius: 50%;
      left: calc(50% - 100px);
      top: calc(50% - 100px);
      width: 200px;
      height: 200px;
      clip: rect(0, 200px, 200px, 100px);

}
.ppc-progress .ppc-progress-fill {
      content: "";
      position: absolute;
      border-radius: 50%;
      left: calc(50% - 100px);
      top: calc(50% - 100px);
      width: 200px;
      height: 200px;
      clip: rect(0, 100px, 200px, 0);
      background: #7495B7;
      transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #e5e5e5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  font-weight: bold;
  color:  #7495B7;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.r-progress{
    display:inline-block;
    width:200px;
    text-align: center;
    font-size:20px;
    height:30px;
    font-weight:bold;
    margin-top:20px;
}
/*进度条位置控制*/
/*.progress-pie-chart {*/
  /*margin: 50px auto 0;*/
/*}*/
.rbutton {
            height:45px;
			position: relative;
			color: rgba(255,255,255,1);
			text-decoration: none;
			background-color:  #7495B7;
			font-family: 'Yanone Kaffeesatz';
			font-weight: 700;
			font-size: 25px;
			display: block;
            cursor: pointer;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 5px;
			-webkit-box-shadow: 0px 9px 0px rgb(116, 149, 183), 0px 9px 25px rgba(0,0,0,.7);
			-moz-box-shadow: 0px 9px 0px rgb(116, 149, 183), 0px 9px 25px rgba(0,0,0,.7);
			box-shadow: 0px 9px 0px rgb(116, 149, 183), 0px 9px 25px rgba(0,0,0,.7);
			text-align: center;
			-webkit-transition: all .1s ease;
			-moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			-o-transition: all .1s ease;
			transition: all .1s ease;
}

/*单击按键后变化*/
.rbutton:active {
    -webkit-box-shadow: 0 3px 0   #7495B7, 0 3px 6px   #7495B7;
    -moz-box-shadow: 0 3px 0   #7495B7, 0 3px 6px   #7495B7;
    box-shadow: 0 3px 0   #7495B7, 0 3px 6px   #7495B7;
}
.rfooter{
    width:100%;
    height:130px;
    overflow: hidden;
}
/*申请加入*/
.r-apply{
    display:none;
    width:100%;
    height:auto;
    margin-top: 30px;
    overflow: hidden;
    background-color:#ffffff ;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.applyhead{
    width:55%;
    height:50px;
    line-height: 50px;
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    /*overflow: hidden;*/
    font-size: 15px;
    /*background-color: #2f96b4;*/
}
.ribbon4 {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 50px;
    font-size:20px;
    font-family:幼圆;
    font-weight:bold;
    line-height: 50px;
    padding-left: 15px;
    background: #7495B7;
    left: -2px;
    top: 30px
}
.ribbon4:before, .ribbon4:after {
    content: "";
    position: absolute;
}
.ribbon4:before {
   height: 0;
   width: 0;
   border-bottom: 8px solid   #7495B7;
   border-left: 8px solid transparent;
   top: -8px;
   left: 0;
}
.ribbon4:after {
   height: 0;
   width: 0;
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   border-left: 15px solid #7495B7;
   right: -15px;
}

.apply-text{
    width:90%;
    height: 300px;
    margin:80px 0 0 5%;
    font-size: 25px;
    border-radius:5px;
    resize:none;
    border: 1px solid #c6c8ce;
}
.rich_text{
    width: 90%;
    height: auto;
    min-height: 500px;
    margin-top: 100px;
}
.apclose{
    width:30px;
    height:40px;
    margin-left:50px;
}
.subapply{
    width:8%;
    height:30px;
    margin:10px 52px 10px 0;
    background-color: #7495B7;
    border:none;
    float:right;
    border-radius:5px;
}
.middle{
    height:50px;
    background-color: #EEEEEE;
    overflow:hidden;
}
/*评论部分*/
.content-footer{
    width:70%;
    height: auto;
    background-color:  #FFFFFF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow:hidden;
}
.comment{
    width:100%;
    height:auto;
    overflow:hidden;
}
.c-all{
    width:100%;
    height:auto;
}
.ctitle{
    width:100%;
    height:8%;
    text-align: center;
    line-height: 50px;
}
.comment1-1{
	width: 100%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 27px;
	margin-top: 5px;
}
.comment1-2{
	width: 100%;
	height: 2px;
	background-color: rgba(95,158,160,0.6);
}
.ctop{
    width:100%;
    height:150px;
    margin-top:50px;
}
.u-img{
    width:50px;
    height:50px;
    margin-left:8%;
    margin-top:5%;
}

.carea {
    width: 70%;
    height: 100px;
    float: right;
    margin: 50px 13% 0 0;
}
.tocomment{
    width:100%;
    height:50px;
}
.comment-text{
    width:100%;
    height: 40px;
    margin-top:2px;
    font-size: 20px;
    border-radius:5px;
    resize:none;
    line-height:1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: transparent;
    border: 1px solid #c6c8ce;
 }
.putcomment{
    width:8%;
    height:30px;
    margin-top:5px;
    background-color: #7495B7;
    border:none;
    float:right;
    border-radius:5px;
    cursor: pointer;
}
.putcomments{
    width:8%;
    height:30px;
    margin-top:5px;
    background-color: #a5bad0;
    border:none;
    float:right;
    border-radius:5px;
    cursor: pointer;
}
.cmain{
    height:auto;
    margin-bottom: 25px;
}
.c-img{
    display:block;
    width:50px;
    height:50px;
    margin-left:8%;
    float:left;
}
.comment-box {
    width:  70%;
    height:auto;
	position: relative;
    left: 20px;
}
.comment-box:before,  .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent  #a5bad0;
	top: 12px;
	left: -13px;
}
.comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent #a5bad0;
	left: -12px;
}
.comment-head {
	height:30px;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color: #a5bad0;

}
.comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.comment-name a {
	color: #283035;
}
.cdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0 10px 20px;
}
.c-option{
    float:right;
    width:140px;
    height:100%;
}
/*.clike{*/
    /*width:25px;*/
    /*height:25px;*/
    /*float:left;*/
    /*margin-top:4px;*/
    /*cursor: pointer;*/
/*}*/
/*.clikenum{*/
    /*display:inline-block;*/
    /*float:left;*/
    /*margin-top:10px;*/
    /*color: #999;*/
    /*width:30px;*/
	/*font-size: 13px;*/

/*}*/
.creport{
    width:20px;
    height:20px;
    float:right;
    margin:7px 10px 0 4px;
    cursor: pointer;
}
.creply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 70px;
    cursor: pointer;
}
.comment-content {
	width:100%;
	height: auto;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color: #a5bad0;
}
/*评论回复*/
.c-reply{
    width:88%;
    height:auto;
    margin:30px 0 30px 10%;
}
.rc-img{
    display:block;
    width:40px;
    height:40px;
    margin-left:8%;
    float:left;
}
.rc-img::after{
    content: '';
	width: 60px;
	height: 2px;
	/*background: #c7cacb;*/
	position: absolute;
	top: 25px;
	left: -55px;
}
.rcomment-box {
    width:  70%;
    height:auto;
	position: relative;
    left:20px;
}
.rcomment-box:before,  .rcomment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent  #a5bad0;
	top: 10px;
	left: -11px;
}
.rcomment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent  #a5bad0;
	left: -12px;
}
.rcomment-head {
	height:30px;
	width:100%;
    margin-top:5px;
	border-bottom: 2px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
    background-color:  #a5bad0;
}
.rcomment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin: 5px 0 10px 5px;
    cursor: pointer;
}
.rcomment-name a {
	color: #283035;
}
.rcdate{
	float: left;
	color: #999;
	font-size: 13px;
	margin: 6px 0 10px 20px;
}
.r-option{
    float:right;
    width:138px;
    height:100%;
}
.rclike{
    width:25px;
    height:25px;
    float:left;
    margin-top:4px;
    cursor: pointer;
}
.rclikenum{
    display:inline-block;
    float:left;
    margin-top: 10px;
    color: #999;
	font-size: 13px;
}
.rcreport{
    width:20px;
    height:20px;
    float:right;
    margin:7px 10px 0 4px;
    cursor: pointer;
}
.rcreply{
    width:20px;
    height:20px;
    float:left;
    margin:8px 0 0 70px;
    cursor: pointer;
}
.rcomment-content {
	width:100%;
	height: auto;
	font-size: 15px;
    line-height:30px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
    background-color: #a5bad0;
}
/*评论回复文本框*/
.commentreply{
    display:none;
    width:100%;
    height:40px;
    margin: 10px 0 10px 0;
    background-color:  #a5bad0 ;
    -webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.commentreply-text{
    width:90%;
    height: 30px;
    margin:5px 0 0 5px;
    border-radius:5px;
    resize:none;
    line-height:1.7;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #c6c8ce;
}
.report-text{
    width:84%;
    margin:40px 0 0 8%;
    height: 250px;
    border-radius:5px;
    resize:none;
    border: 1px solid #c6c8ce;
}
.animation{
    width:28px;
    height:28px;
    vertical-align:middle;
    animation: myfirst 0.5s;
    -moz-animation: myfirst 0.5s;	/* Firefox */
    -webkit-animation: myfirst 0.5s;	/* Safari 和 Chrome */
    -o-animation: myfirst 0.5s;	/* Opera */
}
.word{
    margin: 5px 0 0 5px;
}

.pr-header{
    width: 55%;
    height: 40px;
    line-height: 50px;
    position: absolute;
    margin-top: -8px;
    margin-left: -6px;
    /* overflow: hidden; */
    font-size: 15px;
}
.putreport{
     width: 50px;
    height: 30px;
    float: right;
    margin: 10px 40px 0 0;
    background-color: #3a87ad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
