.main{
		width:100%;
		height:1000px;
		background: ;
	}
	.content-all{
	    margin-top:76px;
	    width:75%;
	    height:1000px;
	    /*margin-top:100px;*/
	    margin-left:17%;
	    background:#FFFFFF;
	    /*border:1px solid #ccc;*/
	}
    .content-nav{
    	width:100%;
    	height: 5%;
    	font-size:1em;
    }
    .main-left{
        float:left;
        width:60%;
        height:950px;
        background:;
    }
    .content-top{
    width:80%;
    height:10%;
    background-color:;
    display: inline-block;
    position: relative;
    float: left;
    /*margin-bottom: 30px;
  /*background: url(../snow-road.jpg);*/
    background-size: cover;
    text-transform: uppercase;
    color: white;
   /* border-bottom:1px solid #539092;*/
}
    .ribbon:nth-child(even) {margin-right: 4%;}
    @media (max-width: 500px) {
      .ribbon {width: 100%}
      .ribbon:nth-child(even) {margin-right: 0%;}
    }
    .ribbon1 {

       top: -6px;
        right: 10px;

    }
    .ribbon1 span {
        float:right;
        margin-left:2%;
        position: relative;
        display: inline-block;
        text-align: center;
        background:  #539092;
        font-size: 14px;
        line-height: 1;
        padding: 12px 8px 10px;
        border-top-right-radius: 8px;
        width: 8%;
    }
    .ribbon1 span:before, .ribbon1 span:after {
        position: absolute;
        content: "";
        display: block;
    }
    .ribbon1 span:before {
        background: #539092;
        height: 6px;
        width: 6px;
        left: -6px;
        top: 0;
    }
    .ribbon1 span:after {
        background: #205D67;
        height: 6px;
        width: 8px;
        border-radius: 8px 8px 0 0;
        left: -8px;
        top: 0;
    }
   .title{
        width:auto;
        height:50%;
        float:left;
        margin-top:5%;
        color:black;
        font-size:2em;
   }
   .ptime{
        width: auto;
        height: 30%;
        color:black;
        float:right;
        margin-top:4%;
        background-color:;
        margin-left:50%;
   }
   .content-header{
        width:100%;
        height:35%;
        background:;
        float:left;

    }
   .description{
        width:80%;
        height:85%;

        float:left;
        margin-top:5%;
    }
   .des{
       resize:none;
       overflow-Y:scroll;
       height:100%;
       width:100%;
    }

   .content-middle{
        width:80%;
        height: 40%;
        background:pink;
        float:left;
   }
   .content-footer{
        width:100%;
        height: 15%;
        float:left;
   }
    .main-right{
        float:left;
        width:30%;
        height:900px;
        background: ;
    }
    .person{
        margin-top:10%;
        width:65%;
        height:30%;

    }
    .person-one{
    width:100%;
    height:35%;
    background-color:#539092;
    }
    .person-one-img{
    width:30%;
    height:75%;
    float:left;
    margin-left:35%;
    overflow:hidden;
    margin-top:20%;
    }
    .person-one-img img{
      width:100%;
      height:100%;
   }
    .person-two{
    width:100%;
    height:65%;
    background-color: ;
    }
    .person-header{
    width:100%;
    height:15%;
    display:inline-block;
    margin-top:5%;
    text-align:center;
    }
     .pname{
     display:inline-block;
     width:auto;
     height:80%;
     text-align:center;
    }
    .person-middle{
    width:100%;
    height:15%;

    }
    .pscore{
     width:30%;
     height:100%;
     font-size:1em;
     float:left;
     margin-left:20%;
    }
    .pscore img{
     width:auto;
     height:100%;
     vertical-align:middle;
     float:left;
    }
    .pid{
      width: auto;
      height:100%;
    }
    .comment{
       width:70%;
       height:60%;
       background:pink;
    }