{% extends '../base/base.html' %}

{% block title %}Admin-Creation{% endblock %} {# title #}

{% block heading %}

{# heading #}
<ul class="breadcrumb">
    <h3>创意管理</h3>
    <li class="active">全部创意</li>
</ul>
{% endblock %}

{% block body %} {# body #}
    {% load static %}
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    全部创意
                    <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                </header>
                <div class="panel-body">

                    <ul id="filters" class="media-filter">
                        <div class="row">

                            <li><a href="#" data-filter="*" > All</a></li>
                            {% for label in Labels %}
                                <li>
                                    <a href="{{ label.Id }}" data-filter="*" >{{ label.ProjectLabelName | slice:"5" }}</a>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-folder-open"></i> Add New</button>
                    </div>



                    <div id="gallery" class="media-gal">
                        {% for creation in Creations %}
                            <div class="images item " >
                            <a href="#myModal" data-toggle="modal">
                                <img src="{% static 'images/gallery/image1.jpg'%}" alt="" id="creation-{{ creation.Id }}" name="creations"/>
                            </a>
                            <p>{{ creation.Name | slice:"10" }}</p>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-12 text-center clearfix">
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            {% for page in pages %}
                                <li><a href="#">{{ page }}</a></li>
                            {% endfor %}
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Edit Media Gallery</h4>
                                </div>

                                <div class="modal-body row">

                                    <div class="col-md-5 img-modal">
                                        <img src="{% static 'images/gallery/image1.jpg'%}" alt="">
                                        <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i>编辑详情</a>
                                        <p class="mtop10"><strong>File Name:</strong> img01.jpg</p>
                                        <p><strong>File Type:</strong> jpg</p>
                                        <p><strong>Resolution:</strong> 300x200</p>
                                        <p><strong>提出者:</strong> <a href="#">ThemeBucket</a></p>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label> Name</label>
                                            <input id="name" value="img01.jpg" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label> Tittle Text</label>
                                            <input id="title" value="awesome image" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label> Description</label>
                                            <textarea rows="2" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label> Link URL</label>
                                            <input id="link" value="images/gallery/img01.jpg" class="form-control">
                                        </div>
                                        <div class="pull-right">
                                            <button class="btn btn-danger btn-sm" type="button">删除</button>
                                            <button class="btn btn-success btn-sm" type="button">保存更改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal -->

                </div>
                </section>
        </div>
    </div>
</div>
{% endblock %}


{% block midscript %}
    <script type="text/javascript">
    $(function() {
        var $container = $('#gallery');
        $container.isotope({
            itemSelector: '.item',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });

        // filter items when filter link is clicked
        $('#filters a').click(function() {
            var selector = $(this).attr('data-filter');
            $container.isotope({filter: selector});
            return false;
        });
    });
    </script>

    <script type="text/javascript">
        $("img[name='creations']").click(function () {
           var creationid = this.id.split('-')[1];
            $.post(window.location.pathname,{"projectId":creationid},function (res) {
                res = JSON.parse(res);
                if(res.status === 1){
                    document.getElementById("project_detail_img_path").src = "/static/photos/" + res.ImgPath;
                    document.getElementById("ptoject_detail_name").textContent = res.ProjectName;
                    document.getElementById("project_detail_link").setAttribute("href","/admina/project/" + projectid);
                    $("input[id='name']").get(0).value = res.ProjectName;
                    $("input[id='title']").get(0).value = res.ProjsctStartTime;
                    $("input[id='user_number']").get(0).value = res.ProjectUserNumber;
                    $("a[id='project_user_detail']").get(0).textContent = res.projectUserName;
                    $("a[id='project_user_detail']").get(0).setAttribute("href","/admina/user/detail/" + res.projectUserId);
                    var delete_btn= document.getElementById("delete_project_btn");
                    delete_btn.onclick = function () {
                        if(confirm("确认删除？")){
                            $.post("project/delete/" + projectid, {},function (res) {
                                res = JSON.parse(res);
                                if(res.status === 1){
                                    alert(res.message);
                                window.location.reload();
                                }else if(res.status === 0){
                                    alert(res.message);
                                    window.location.reload();
                                }
                            });
                        }
                        };
                }else if (res.status === 0){
                    alert(res.message);
                    window.location.reload();
                }
            })
        });
    </script>

    {# midescript #}
{% endblock %}

{% block lastscript %}  {# lastscript #}

{% endblock %}
